// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style
body, .body { background-color: @bodyBackground; }

.header {
	background-color: @headerBackground;

	.logo {
		background-color: #f00;
		& > table { background-color: darken(#f00, 15%); }
	}
	.tagline {
		background-color: #0f0;
		& > table { background-color: darken(#0f0, 15%); }
	}
}

.container {
	background-color: #aaa;
}

.contentActuMois {
	background-color: #3059a1;
	& > table { background-color: darken(#3059a1, 15%); }
}

.contentTest1 {
	background-color: #599cd6;
	& > table { background-color: darken(#599cd6, 15%); }
}