// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

//couleurs de fond des cases
.bgc-lbvColorUne { background-color: @lbvColorUne; }
.bgc-lbvColorProfession { background-color: @lbvColorProfession; }
.bgc-lbvColorDossier { background-color: @lbvColorDossier; }
.bgc-lbvColorQuiz { background-color: @lbvColorQuiz; }
.bgc-lbvColorOffre { background-color: @lbvColorOffre; }
.bgc-lbvColorActus { background-color: @lbvColorActus; }
.bgc-lbvColorFooter { background-color: @lbvColorFooter; }

.header {
	background-color: #fff;

	.tagline {
		vertical-align: middle;
		.title {
			color: @lbvColorTagline;
			font-family: @serifFontFamily;
			font-weight: normal;
		}
	}
}

//titres de catégories en majuscule
h2, h3 {
	text-transform: uppercase;
	margin-bottom: (@baseLineHeight / 2);
}

p { margin-bottom: (@baseLineHeight / 4); }

//gestion des liens
a {
	//rollOver des liens
	&:hover, &:focus { text-decoration: underline; }
}

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 (@baseLineHeight / 4) 25px;
}
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
li { line-height: @baseLineHeight; }

// Remove default list styles
ul.unstyled,
ol.unstyled {
	margin-left: 0;
	list-style: none;
}

//puce par défaut en triangle
.puce {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent @textColor;
	border-style: solid;
	border-width: 4px;
}

//separateur situé après le header
.separator {
	.wrapper, table.columns td, table.column td { padding: 0; }
}

.contentMain {
	//suppression paddingTop
	.wrapper { padding-top: 0; }
	.columns td {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.contentProfession {
		ul li .title {
			color: @lvvColorProfessionTitle;
			font-weight: bold;
		}
	}
}

.contentSecondary {
	.contentQuiz {
		img { margin-right: 10px; }
	}
	.contentOffre {
		img {
			float: right;
			margin-left: 10px;
		}
	}
}

.contentBottom {
	//suppression paddingTop
	.wrapper { padding-top: 0; }
}

.contentActus {
	h3 { color: @lbvColorActusTitle; }
	h4 { color: @lbvColorActusSubTitle; }
	img { float: none; }
	.puce { border-color: transparent transparent transparent @lbvColorActusPuce; }
}

.contentFooter {
	.wrapper { padding-top: 5px; }
	table.columns td, table.column td { padding-bottom: 5px; }
}

.contentLegal {
	small { line-height: 15px; }
}

.contentUnsub {
	background-color: @bodyBackground;
	small { line-height: 15px; }
	.wrapper { padding-top: 0; }
	table.columns td, table.column td { padding-bottom: 0; }
}
