// extends theme's variables.less file here

// Scaffolding
// -------------------------
@bodyBackground:        #444;
@textColor:             #fff;


// Typography
// -------------------------
@sansFontFamily:        Arial, sans-serif;
@serifFontFamily:       "Times New Roman", Times, serif;

@baseFontSize:          13px;
@baseLineHeight:        18px;


// Component sizing
// -------------------------
@headingsFontSizeH1:    24px;
@headingsFontSizeH2:    14px;
@headingsFontSizeH3:    10px;
@headingsFontSizeH4:    12px;
@headingsFontSizeH5:    12px;
@headingsFontSizeH6:    12px;

@fontSizeSmall:         11px;
@fontSizeMini:          9px;


// Grid config
// --------------------------------------------------
@columnWidth: 50px; //largeur totale de 600px)
@gutterWidth: 0px;


//couleurs spécifiques à libéraletvous
@lbvColorTagline: #17a9dc;
@lbvColorUne: #3059a1;
@lbvColorProfession: #599cd6;
@lvvColorProfessionTitle: #d7d900;
@lbvColorDossier: #ce7d44;
@lbvColorQuiz: #9cb7df;
@lbvColorOffre: #6a5a9f;
@lbvColorActus: #e3ecf8;
@lbvColorActusTitle: #5c686d;
@lbvColorActusSubTitle: #084d9a;
@lbvColorFooter: #599cd6;