// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

.inner {
	display: block;
	padding-top: @textPad;
	padding-bottom: @textPad;
	img { float: none; }
}

//pour rajouter de l'espace en haut et en dessous des wrappers
.filler {
	&, .empty {
		line-height: 0;
		font-size: 0;
	}
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//remise en place paddings bottoms des boutons
table.button td { padding: 8px 0; }
table.tiny-button td { padding: 5px 0 4px; }
table.small-button td { padding: 8px 0 7px; }
table.medium-button td { padding: 12px 0 10px; }
table.large-button td { padding: 21px 0 18px; }

//rajout bordure gauche et droite sur certaines zones
.row.bordered {
	border-left: 1px solid @colorExpertCom5;
	border-right: 1px solid @colorExpertCom5;
}

//gestion boutons
.wrapper-buttons {
	background-color: #f00;
	width: 100%;
	-premailer-width: 100%;
}

table.secondary td,
table.secondary td a,
table.secondary:hover td {
	color: #ffffff;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
	color: #ffffff !important;
}


// header area
// -------------------------
.header {
	background-color: @colorExpertCom2;
	.newsletterInnerTextColor(@colorExpertCom3);

	//suppression paddings internes
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
		padding-right: 0;
	}

	.wrapper.last td.sub-columns.first {
		&, .name {
			text-align: right;
			//hauteur image
			line-height: (76px / 3);
		}
	}

	.conseils {
		padding-top: 0;
		text-transform: uppercase;
		font-size: (@baseFontSize * 1.667);
		line-height: 1.1;
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .header {
		.wrapper.last td.sub-columns.first {
			&, .name { line-height: 1.33; }
		}
	}
}


// contentOnline area
// -------------------------
.contentOnline {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom2);
	.inner {
		padding-top: (@textPad / 2);
		padding-bottom: (@textPad / 2);
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.33);
	}

	.online {
		display: block;
		padding-bottom: 5px;
	}

	.prestation { display: block; }
}


// contentInfoClient area
// -------------------------
.contentInfoClient {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom2);
	.inner {
		padding-top: (@textPad / 2);
		padding-bottom: (@textPad / 2);
		font-size: (@baseFontSize * 0.95);
		line-height: (@baseFontSize * 0.95 * 1.33);
	}
}