// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

.inner {
	display: block;
	padding-top: (@textPad / 2);
	padding-bottom: (@textPad / 2);
	img { float: none; }
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .inner {
		padding-top: @textPadCollapse !important;
		padding-bottom: @textPadCollapse !important;
	}
}

//pour rajouter de l'espace en haut et en dessous des wrappers
.filler {
	&, .empty {
		line-height: 0;
		font-size: 0;
	}
	height: (@textPad / 2);
	-premailer-height: (@textPad / 2);
}

//icone triangulaire
.icon-caret {
	position: relative;
	display: inline;
	vertical-align: text-bottom;
	line-height: 0;
	font-size: 0;
	bottom: 8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent @colorExpertCom1;
}


//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//couleurs des textes des boutons secondaires
table.secondary td, table.secondary td a, table.secondary:hover td { color: #ffffff; }
table.secondary:hover td a, table.secondary td a:visited, table.secondary:active td a { color: #ffffff !important; }

//rajout bordure gauche et droite sur certaines zones
.row.sideBorder {
	border-left: 1px solid @colorExpertCom5;
	border-right: 1px solid @colorExpertCom5;
}

//gestion row avec bordures de séparation
.row.bordered {
	//suppression décalage en trop
	.inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wrapper {

		//modification padding
		.columns .text-pad { padding-left: (@textPad - 1px); }

		//rajout bordure à gauche
		border-left: 1px solid @colorExpertCom5;

		//réduction largeur tableau 6 colonnes de 1px pour compenser
		.columns.six { width: (5 * @gutterWidth + 6 * @columnWidth - 1px); }

		//pas de bordure sur le premier
		&.first {
			border-left: 0;
			.columns.six { .columnWidth(6); }
			.columns .text-pad { padding-left: @textPad; }
		}
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .row.bordered {
		//masquage filler
		.filler {
			display: none !important;
			visibility: hidden !important;
		}

		.wrapper {
			//supppression décalage interne en trop
			.columns .text-pad {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}

			//changement orientation bordure et compensation padding
			border-left: 0 !important;
			padding-left: @textPadCollapse !important;
			padding-right: @textPadCollapse !important;

			.columns {
				border-top: 1px solid @colorExpertCom5 !important;
				td {
					padding-top: @textPadCollapse !important;
					padding-bottom: @textPadCollapse !important;
				}
			}
			&.first .columns {
				border-top: 0 !important;
				td { padding-top: 10px !important; }
			}
		}
	}
}


// header area
// -------------------------
.header {
	background-color: @colorExpertCom2;
	.newsletterInnerTextColor(@colorExpertCom3);

	//suppression paddings internes
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
		padding-right: 0;
	}

	.wrapper.last td.sub-columns.first {
		&, .name {
			text-align: right;
			//hauteur image
			line-height: (76px / 3);
		}
	}

	.conseils {
		padding-top: 0;
		text-transform: uppercase;
		font-size: (@baseFontSize * 1.667);
		line-height: 1.1;
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .header {
		.wrapper.last td.sub-columns {
			&.first { &, .name { line-height: 1.33 !important; } }

			//déplacement padding des sub-columns sur les td
			.text-pad, .text-pad-right {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			&.first { padding-left: @textPadCollapse !important; }
			padding-right: @textPadCollapse !important;
		}
	}
}


// contentOnline area
// -------------------------
.contentOnline {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom2);
	.inner {
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.33);
	}

	.online {
		display: block;
		padding-bottom: 5px;
	}

	.prestation { display: block; }
}


// contentInfoClient area
// -------------------------
.contentInfoClient {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom2);
	.inner {
		font-size: (@baseFontSize * 0.95);
		line-height: (@baseFontSize * 0.95 * 1.33);
	}
}


// contentTop area
// -------------------------
.contentTop {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom1);
}


// contentMain area
// -------------------------
.contentMain {
	
	//gestion boutons
	.wrapper-buttons {
		width: 100%;
		-premailer-width: 100%;

		.button td {
			padding: 0;
			a {
				//restylage bouton par défaut
				padding: 5px 5px 4px 5px;
				.box-sizing(border-box);
				font-weight: bold;
				font-size: (@baseFontSize * 0.95);
				line-height: (@baseFontSize * 0.95 * 1.33);
			}
		}

		.inner { padding-bottom: 0; }
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentMain {
		.wrapper-buttons {
			.inner {
				padding-top: (@textPadCollapse * 2) !important;
				padding-bottom: 0 !important;
			}

			.button td { width: auto !important; }
		}
	}
}


// contentBottom area
// -------------------------
.contentBottom {

	.title {
		color: @colorExpertCom1;
		padding-bottom: 5px;
	}

	.number {
		display: block;
		//Même hauteur que l'image
		font-size: 80px;
		line-height: 120px;
		font-weight: bold;
		color: @colorExpertCom3;
	}

	.text b { color: @colorExpertCom2; }

	//rajout bordure sur image
	img { border: 1px solid @colorExpertCom5; }
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentBottom {
		.number { line-height: 100px !important; }
	}
}


// contentFooter area
// -------------------------
.contentFooter {
	background-color: @colorExpertCom5;
	.newsletterInnerTextColor(@colorExpertCom2);
	
	.title {
		text-transform: uppercase;
		padding-bottom: 5px;
	}
}
// @media only screen and (max-width: (@containerWidth + @gutterWidth)) {
// 	table[class="body"] .contentFooter .columns {
// 		background-color: #f00 !important;
// 		td { background-color: #0f0 !important; }
// 	}
// }


// contentContact area
// -------------------------
.contentContact {
	background-color: @colorExpertCom4;
	.newsletterInnerTextColor(@colorExpertCom2);

	.inner {
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.33);
	}
}


// contentWebsite area
// -------------------------
.contentWebsite {
	background-color: @colorExpertCom2;
	.newsletterInnerTextColor(#ffffff);

	.inner {
		font-size: @headingsFontSizeH6;
		line-height: (@headingsFontSizeH6 * 1.33);
		word-break: normal;
		word-wrap: normal;
	}
}


// contentUnsubscribe area
// -------------------------
.contentUnsubscribe {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(@colorExpertCom2);

	.inner {
		font-size: (@baseFontSize * 0.95);
		line-height: (@baseFontSize * 0.95 * 1.33);
	}

	.prestation { display: block; }

	.unsub {
		display: block;
		padding-top: 5px;
	}
}
