// extends theme's variables.less file here


// Scaffolding
// -------------------------
@bodyBackground:        #aaaaaa;
@containerBackground:   #ffffff;
@textColor:             #222222;


// Grid config
// --------------------------------------------------
@columnWidth: 55px;
@gutterWidth: 0;