<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<a target="_blank" class="link_box" href="http://www.agipi.com">
															<img class="center" src="./theme/images/header-newsletter.png" alt="AGIPI" width="640" height="75" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- LETTRE START -->
								<table border="0" class="row contentLettre">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<p>Chères adhérentes, Chers adhérents,</p>
														<p>Nous avons le plaisir de vous annoncer que nous vous offrirons prochainement une nouvelle newsletter d'information bimensuelle.</p>
														<p>Cette lettre électronique vous apportera un éclairage pédagogique et pratique sur l'évolution de la réglementation juridique, fiscale et sociale.</p>
														<p>Nous espérons qu'elle constituera une aide précieuse dans la gestion et le développement de votre activité professionnelle ou de votre patrimoine.</p>
														<p><em>Votre association AGIPI</em></p>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<p class="inner center">
																		<img class="center" src="./theme/images/exemple-newsletter.png" alt="Newsletter AGIPI" width="280" height="530" />
																	</p>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- LETTRE END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="address wrapper first">
											<table border="0" class="eight columns">
												<tr>
													<td class="text-pad">
														<strong>AGIPI<br/>Association d'assurés pour la Retraite, l'Épargne, la Prévoyance et la Santé</strong><br/>
														Siège social :
														<a target="_blank" href="http://maps.apple.com/?q=12%20avenue%20Pierre%20Mend%C3%A8s%20France%2067312%20Schiltigheim">
															<span class="important">12 avenue Pierre Mendès France - CS10144 - 67312 Schiltigheim Cedex</span>
														</a>
														<br/>
														Bureau parisien :
														<a target="_blank" href="http://maps.apple.com/?q=52%20rue%20de%20la%20Victoire%2075009%20Paris">
															<span class="important">52, rue de la Victoire - 75009 Paris</span>
														</a>
														<br/><a target="_blank" href="http://www.agipi.com"><span class="important">www.agipi.com</span></a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="faicons wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" class="faicon" href="http://plus.google.com/107072461097094727057">
															<img src="./theme/images/faicon-googleplus.gif" alt="Google+" width="20" height="20" />
														</a>
														<a target="_blank" class="faicon" href="http://www.linkedin.com/company/agipi">
															<img src="./theme/images/faicon-linkedin.gif" alt="Linkedin" width="20" height="20" />
														</a>
														<a target="_blank" class="faicon" href="http://fr.viadeo.com/fr/company/agipi">
															<img src="./theme/images/faicon-viadeo.gif" alt="Viadeo" width="20" height="20" />
														</a>
														<a target="_blank" class="faicon" href="http://www.youtube.com/channel/UC8qOfnbR2LLlaHcsa-HT4nA">
															<img src="./theme/images/faicon-youtube.gif" alt="Youtube" width="20" height="20" />
														</a>
														<a target="_blank" class="faicon" href="mailto:agipi-infos@agipi.com">
															<img src="./theme/images/faicon-envelope.gif" alt="Contact" width="20" height="20" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
															Si vous ne souhaitez pas recevoir cette newsletter, <a target="_blank" class="link_underline" href="#" lien_blackliste="lien_blackliste"><span class="important">cliquez ici</span></a>.
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>