.colorParsing {
  newsletterContentCabInformBackground: #d12329;
  newsletterContentCabInformTitle: #ffffff;
  newsletterContentCabInformText: #ffffff;
  newsletterContentArticlesIconColor: #d12329;
  newsletterContentArticlesReadMore: #d12329;
  newsletterContentAgendaPreTitle: #d12329;
  newsletterContentDessinPreTitle: #d12329;
  newsletterContentProfessionPreTitle: #d12329;
  newsletterContentContactBackground: #d12329;
  newsletterContentContactText: #ffffff;
}
