body,
table.body {
  background-color: #787878 !important;
}
.container {
  background-color: #ffffff !important;
}
body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  color: #333333 !important;
}
a {
  color: #333333 !important;
}
a:hover {
  color: #333333 !important;
}
a:active {
  color: #333333 !important;
}
a:visited {
  color: #333333 !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #333333 !important;
}
.appleLinks a {
  color: #333333 !important;
}
.appleLinks a:hover,
.appleLinks a:active {
  color: #333333 !important;
}
.appleLinks a:visited {
  color: #333333 !important;
}
.contentOnline {
  background-color: #787878 !important;
}
.contentOnline,
.contentOnline .inner,
.contentOnline a,
.contentOnline a:link,
.contentOnline a:visited,
.contentOnline a:hover,
.contentOnline a:focus,
.contentOnline a:active {
  color: #ffffff !important;
}
.contentInfosClient {
  background-color: #d12329 !important;
}
.contentInfosClient,
.contentInfosClient .inner,
.contentInfosClient a,
.contentInfosClient a:link,
.contentInfosClient a:visited,
.contentInfosClient a:hover,
.contentInfosClient a:focus,
.contentInfosClient a:active {
  color: #ffffff !important;
}
.contentCabInform {
  background-color: #6b6b6b !important;
}
.contentCabInform .title {
  color: #ffffff !important;
}
.contentCabInform,
.contentCabInform .inner,
.contentCabInform a,
.contentCabInform a:link,
.contentCabInform a:visited,
.contentCabInform a:hover,
.contentCabInform a:focus,
.contentCabInform a:active {
  color: #ffffff !important;
}
.contentALaUne {
  background-color: #4b606d !important;
}
.contentALaUne .title {
  color: #ffffff !important;
}
.contentALaUne,
.contentALaUne .inner,
.contentALaUne a,
.contentALaUne a:link,
.contentALaUne a:visited,
.contentALaUne a:hover,
.contentALaUne a:focus,
.contentALaUne a:active {
  color: #ffffff !important;
}
.contentALaUne .readMore {
  color: #d2d7db !important;
}
.contentArticles .title {
  color: #333333 !important;
  border-top: 1px dotted #6b6b6b;
}
.contentArticles .title .icon-rsaquo {
  color: #d12329 !important;
}
.contentArticles,
.contentArticles .inner,
.contentArticles a,
.contentArticles a:link,
.contentArticles a:visited,
.contentArticles a:hover,
.contentArticles a:focus,
.contentArticles a:active {
  color: #333333 !important;
}
.contentArticles .readMore {
  color: #d12329 !important;
}
@media only screen and (max-width: 720px) {
  table[class="body"] .contentArticles {
    border-bottom: 1px dotted #6b6b6b !important;
  }
  table[class="body"] .contentArticles .title {
    border-top: none !important;
  }
  table[class="body"] .contentArticles.last {
    border-bottom: none !important;
  }
}
.contentAgendaDessin .agenda {
  background-color: #eaeaea !important;
}
.contentAgendaDessin .agenda .preTitle {
  color: #d12329 !important;
}
.contentAgendaDessin .agenda .title {
  color: #333333 !important;
}
.contentAgendaDessin .agenda,
.contentAgendaDessin .agenda .inner,
.contentAgendaDessin .agenda a,
.contentAgendaDessin .agenda a:link,
.contentAgendaDessin .agenda a:visited,
.contentAgendaDessin .agenda a:hover,
.contentAgendaDessin .agenda a:focus,
.contentAgendaDessin .agenda a:active {
  color: #333333 !important;
}
.contentAgendaDessin .dessin .preTitle {
  color: #d12329 !important;
}
.contentAgendaDessin .dessin .title {
  color: #333333 !important;
}
.contentAgendaDessin .dessin .readMore {
  color: #9e9e9e !important;
}
.contentAgendaDessin .dessin .border {
  border-top: 1px dotted #6b6b6b !important;
}
.contentAdresse {
  background-color: #9e9e9e !important;
}
.contentAdresse,
.contentAdresse .inner,
.contentAdresse a,
.contentAdresse a:link,
.contentAdresse a:visited,
.contentAdresse a:hover,
.contentAdresse a:focus,
.contentAdresse a:active {
  color: #ffffff !important;
}
.contentLienSite {
  background-color: #eaeaea !important;
}
.contentLienSite,
.contentLienSite .inner,
.contentLienSite a,
.contentLienSite a:link,
.contentLienSite a:visited,
.contentLienSite a:hover,
.contentLienSite a:focus,
.contentLienSite a:active {
  color: #333333 !important;
}
.footer {
  background-color: #d12329 !important;
}
.footer,
.footer .inner,
.footer a,
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #ffffff !important;
}
