// extends theme's variables.less file here

// Global values
// --------------------------------------------------


// Main colors
// -------------------------
@colorGan1: #43769e;	//bleu logo
@colorGan2: #022046;	//bleu foncé
@colorGan3: #2c9bd4;	//bleu clair
@colorGan4: #ededed;	//gris clair fond
@colorGan5: #91999c;	//gris moyen
@colorGan6: #ffd637;	//jaune


// Scaffolding
// -------------------------
@bodyBackground:        @colorGan4;
@containerBackground:   #ffffff;
@textColor:             @colorGan5;