<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">EXPERT INFOS LES ECHOS - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span><br/>
														<!--{{</gab_lien_message_online>}}-->
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper first">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad center">
														<img class="center" src="./theme/images/expertinfos_lesechospublishing.png" alt="Expert Infos - Les Echos Publishing" width="220" height="50" />
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h2 class="title"><!--{{</html_avant>
														<defaut>}}-->La Minute Référencement<!--{{</defaut>
														<html_apres>}}--></h2><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="date"># <!--{{</html_avant>
														<defaut>}}-->mars 2016<!--{{</defaut>
														<html_apres>}}--></span><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- CONTENT INTRO START -->
								<table border="0" class="row contentIntro">
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h1><!--{{</html_avant>
														<defaut>}}-->Le Référencement Naturel en image<!--{{</defaut>
														<html_apres>}}--></h1><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT INTRO END -->

								<!-- CONTENT REF START -->
								<table border="0" class="row contentRef">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="six sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<!--{{##{{<champ>
																	<type>image</type>
																	<src>
																	}}--><a data-type="gethref" href="./theme/images/vignette_ref1.png"><!--gethref--></a><!--{{
																	</src>
																	<lien>http://www.expertinfos.com</lien>
																	<survol></survol>
																	<width>120</width>
																	<height>192</height>
																	<width_max>640</width_max>
																	<height_max>1024</height_max>
																	<params>}}-->
																	<img data-type="getstyle" /><!--getstyle-->
																	<!--{{</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/vignette_ref1.png" alt="Expert Infos - Les Echos Publishing" width="120" height="192" /></a><!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="six sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<!--{{##{{<champ>
																	<type>image</type>
																	<src>
																	}}--><a data-type="gethref" href="./theme/images/vignette_ref2.png"><!--gethref--></a><!--{{
																	</src>
																	<lien>http://www.expertinfos.com</lien>
																	<survol></survol>
																	<width>120</width>
																	<height>192</height>
																	<width_max>640</width_max>
																	<height_max>1024</height_max>
																	<params>}}-->
																	<img data-type="getstyle" /><!--getstyle-->
																	<!--{{</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/vignette_ref2.png" alt="Expert Infos - Les Echos Publishing" width="120" height="192" /></a><!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="six sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<!--{{##{{<champ>
																	<type>image</type>
																	<src>
																	}}--><a data-type="gethref" href="./theme/images/vignette_ref3.png"><!--gethref--></a><!--{{
																	</src>
																	<lien>http://www.expertinfos.com</lien>
																	<survol></survol>
																	<width>120</width>
																	<height>192</height>
																	<width_max>640</width_max>
																	<height_max>1024</height_max>
																	<params>}}-->
																	<img data-type="getstyle" /><!--getstyle-->
																	<!--{{</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/vignette_ref3.png" alt="Expert Infos - Les Echos Publishing" width="120" height="192" /></a><!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="six sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<!--{{##{{<champ>
																	<type>image</type>
																	<src>
																	}}--><a data-type="gethref" href="./theme/images/vignette_ref4.png"><!--gethref--></a><!--{{
																	</src>
																	<lien>http://www.expertinfos.com</lien>
																	<survol></survol>
																	<width>120</width>
																	<height>192</height>
																	<width_max>640</width_max>
																	<height_max>1024</height_max>
																	<params>}}-->
																	<img data-type="getstyle" /><!--getstyle-->
																	<!--{{</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/vignette_ref4.png" alt="Expert Infos - Les Echos Publishing" width="120" height="192" /></a><!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT REF END -->

								<!-- CONTENT MAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Identifiez en un clic les pratiques qui vous permettront de renforcer votre visibilité dans les moteurs de recherche.<br/><br/>Pour parvenir à être correctement référencé, il est indispensable de travailler sur de multiples paramètres autour de 4 piliers : <b>l'Accessibilité, le Contenu, la Confiance et la Popularité</b>.<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="medium-button"><tr><td><!--{{</html_avant>
														<texte>}}-->Visualiser l'infographie<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad-left">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>1</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref1.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre rendez-vous<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Chaque mois découvrez dans La Minute Référencement des informations pratiques, des conseils et astuces pour optimiser votre présence dans Google et autres moteurs.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper middle">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>2</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref2.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre accompagnement<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Connectez-vous à votre <a target="_blank" href="http://www.expertinfos.com">Espace Abonné</a> et retrouvez nos conseils, et suivez le positionnement de votre site internet dans les moteurs de recherche.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad-right">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>3</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref3.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre abonnement<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Vous souhaitez recevoir La Minute Référencement sur un autre email, ou abonner un collaborateur ? Adressez-moi votre demande à : <a href="mailto:avalcke@lesechos.fr">avalcke@lesechos.fr</a><!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT CONTACT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Notre équipe SEO à votre écoute <a href="tel:0549603197"><span class="important">05.49.60.31.97</span></a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="eight columns">
												<tr>
													<td class="text-pad">
														EXPERT INFOS LES ECHOS PUBLISHING
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														Social Network
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>