<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Novartis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<!-- Normalize.css selection -->
	<style>
		/**
		 * 1. Set default font family to sans-serif.
		 * 2. Prevent iOS text size adjust after orientation change, without disabling
		 *    user zoom.
		 */
		html {
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		/* Remove default margin. */
		body {
			margin: 0;
			font-family: Helvetica, 'Helvetica Neue', Arial, Geneva, sans-serif;
			font-size: 11px;
			line-height: 15px;
		}

		/* Links
		   ========================================================================== */
		/* Remove the gray background color from active links in IE 10. */
		a { background: transparent; }

		/* Improve readability when focused and also mouse hovered in all browsers. */
		a:active, a:hover { outline: 0; }

		/* Text-level semantics
		   ========================================================================== */
		
		/* Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
		abbr[title] { border-bottom: 1px dotted; }

		/* Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
		b, strong { font-weight: bold; }

		/* Address inconsistent and variable font size in all browsers. */
		small {
			font-size: 90%;
			line-height: 1.2em;
		}

		/*Prevents sub and sup affecting line-height in all browsers*/
		sub,
		sup {
			position: relative;
			font-size: 75%;
			line-height: 0;
			vertical-align: baseline;
		}
		sup { top: -0.5em; }
		sub { bottom: -0.25em; }

		/* Embedded content
		   ========================================================================== */
		/* Remove border when inside `a` element in IE 8/9/10. */
		img { border: 0; }

		/* Grouping content
		   ========================================================================== */
		/* Address differences between Firefox and other browsers. */
		hr {
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			height: 0;
		}

		/* Tables
		   ========================================================================== */
		/* Remove most spacing between table cells. */
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		td, th { padding: 0; }
	</style>

	<!-- Custom style selection -->
	<style>
		.h-fill td { line-height: 0 !important; }
		.fullWidthImage { display: block; }

		@media screen and (max-width: 767px) {
			body[yahoo] .fullWidth {
				width: 100% !important;
			}

			body[yahoo] .fullWidthImage {
				width: 100% !important;
				height: auto;
			}

			body[yahoo] .filigrane {
				width: 10px;
				height: 120px;
			}

			body[yahoo] .midWidthImage {
				width: 50% !important;
				height: auto;
			}
			
			body[yahoo] .colColor { width: 9.38% !important; }
			body[yahoo] .colGutter { width: 1.56% !important; }
			body[yahoo] .colContent { width: 85.94% !important; }
			body[yahoo] .colHeader { width: 87.5% !important; }
			body[yahoo] .midWidth { width: 50% !important; }
			body[yahoo] .fs-86 { font-size:65px !important; line-height:65px !important; }
			body[yahoo] .fs-46 { font-size:35px !important; line-height:35px !important; }
			body[yahoo] .fs-20 { font-size:15px !important; line-height:18px !important; }
			body[yahoo] .fs-16 { font-size:12px !important; line-height:15px !important; font-weight:bold !important; }
		}
	</style>
</head>
<body yahoo="fix">
	<table class="fullWidth" cellpadding="0" cellspacing="0" border="0" width="640" align="center" style="font-family: Helvetica, 'Helvetica Neue', Arial, Geneva, sans-serif; font-size: 11px; line-height: 15px;">
		<tr>
			<td width="100%">
				<!-- MESSAGE VISUALISATION EN LIGNE -->
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td height="10">&nbsp;</td>
					</tr>
					<tr>
						<td height="10" style="text-align: center;">
							<font style="font-size:11px; line-height:15px;"><gab_lien_message_online>Si vous avez des difficultés à visualiser cette lettre d'informations, <a style="color:#00759c;" href="#" lien_message_online>cliquez ici.</a></gab_lien_message_online></font>
						</td>
					</tr>
					<tr class="h-fill">
						<td height="10">&nbsp;</td>
					</tr>
				</table>

				<!-- HEADER -->
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" bgcolor="E96037" style="background-color:#E96037">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="E96037" style="background-color:#E96037">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colHeader" width="560">
							<img class="fullWidthImage" src="http://www.expertinfos.com/newsletterhtml/Novartis/header.jpg" alt="Newsletter Novartis" />
						</td>
					</tr>
				</table>
				
				<!-- MAIN TITLE -->
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" height="10">&nbsp;</td>
						<td class="colColor" width="60" height="10">&nbsp;</td>
						<td class="colGutter" width="10" height="10">&nbsp;</td>
						<td class="colContent" width="550" height="10">&nbsp;</td>
						<td class="colGutter" width="10" height="10">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" height="20" align="center" style="text-align:center;">
							<img class="filigrane" src="http://www.expertinfos.com/newsletterhtml/Novartis/filigrane.png" alt="Newsletter Novartis" width="14" height="175" />
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div class="fs-86" style="font-family: Helvetica, 'Helvetica Neue', Arial, Geneva, sans-serif; font-weight:lighter; font-size:86px; line-height:86px; color:#E96037; padding:0; margin:0;">L'ESSENTIEL</div>
							<div class="fs-46" style="font-family: Helvetica, 'Helvetica Neue', Arial, Geneva, sans-serif; font-weight:lighter; font-size:46px; line-height:46px; color:#5b666f; padding:0; margin:0;">de&nbsp;l'Actu'&nbsp;Pharma</div>
							<div style="font-size:12px; padding:0; margin:0; line-height:18px;">
								&nbsp;Condensé hebdomadaire N°<?<champ>
                                <type>text</type>
                  				<defaut>1</defaut>
                                </champ>?>&nbsp;|&nbsp;<?<champ>
                                <type>text</type>
                  				<defaut>9 au 16 juin 2014</defaut>
                                </champ>?>
                            </div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colColor" width="60" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colContent" width="550" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
					</tr>
				</table>

				<!-- CONTENT Article marron -->
				<? <bloc nom="Repères économiques et chiffres clés" type="debut" sstype="Titre" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#594230">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div><font color="#594230" class="fs-20" style="font-size:20px; line-height:24px;"><?<champ>
	                            <type>text</type>
	              				<defaut>Repères économiques et chiffres clés</defaut>
	                            </champ>?></font></div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				
				<? <bloc nom="Repères économiques et chiffres clés" type="inter" sstype="Article" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colColor" width="60" height="8" bgcolor="#594230">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colContent" width="550" height="8">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#594230">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<?
								<champ>
									<type>image</type>
									<src></src>
									<lien></lien>
									<survol></survol>
									<width>136</width>
									<height>96</height>
									<html_avant><table class="fullWidth" cellpadding="0" cellspacing="0" border="0" align="left"><tr><td></html_avant>
									<html_apres></td><td width="5">&nbsp;</td></tr></table></html_apres>
								</champ>
							?>
							<div><?<champ>
                                <type>text</type>
                  				<defaut>Titre article</defaut>
								<html_avant><font class="fs-16" style="font-size:16px;line-height:20px;"></html_avant>
								<html_apres></font></html_apres>
                                </champ>?></div>							
								<div style="text-align:justify;"><?<champ>
                                <type>textarea</type>
                  				<defaut>Texte article</defaut>
                                </champ>?>
								<?<champ>
                                <type>text</type>
                  				<defaut>Référence</defaut>
								<html_avant><br/><small><em></html_avant>
								<html_apres></em></small></html_apres>
								</champ>?>
								 <?<champ>
								<type>lien</type>
								<href>lien</href>
								<texte>Consulter l article</texte>
								<params>style="color:#00759c; text-decoration:none;"</params>
								<html_avant><br/><em></html_avant>
								<html_apres></em></html_apres>
								</champ>?>
								</div>							
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				<?<bloc nom="Repères économiques et chiffres clés" type="fin" /> ?>
				
				<!-- CONTENT Article bordeaux -->
				<? <bloc nom="La politique du médicament" type="debut" sstype="Titre" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colColor" width="60" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colContent" width="550" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#A04132">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div><font color="#A04132" class="fs-20" style="font-size:20px; line-height:24px;"><?<champ>
                                <type>text</type>
                  				<defaut>La politique du médicament</defaut>
                                </champ>?></font></div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
					
				</table>
				
				<? <bloc nom="La politique du médicament" type="inter" sstype="Article" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colColor" width="60" height="8" bgcolor="#A04132">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colContent" width="550" height="8">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#A04132">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<?
								<champ>
									<type>image</type>
									<src></src>
									<lien></lien>
									<survol></survol>
									<width>136</width>
									<height>96</height>
									<html_avant><table class="fullWidth" cellpadding="0" cellspacing="0" border="0" align="left"><tr><td></html_avant>
									<html_apres></td><td width="5">&nbsp;</td></tr></table></html_apres>
								</champ>
							?>
							<div><?<champ>
                                <type>text</type>
                  				<defaut>Titre article</defaut>
								<html_avant><font class="fs-16" style="font-size:16px;line-height:20px;"></html_avant>
								<html_apres></font></html_apres>
                                </champ>?></div>							
								<div style="text-align:justify;"><?<champ>
                                <type>textarea</type>
                  				<defaut>Texte article</defaut>
                                </champ>?>
								<?<champ>
                                <type>text</type>
                  				<defaut>Référence</defaut>
								<html_avant><br/><small><em></html_avant>
								<html_apres></em></small></html_apres>
								</champ>?>
								 <?<champ>
								<type>lien</type>
								<href>lien</href>
								<texte>Consulter l article</texte>
								<params>style="color:#00759c; text-decoration:none;"</params>
								<html_avant><br/><em></html_avant>
								<html_apres></em></html_apres>
								</champ>?>
								</div>							
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				<?<bloc nom="La politique du médicament" type="fin" /> ?>
				
				<!-- CONTENT Article rouge -->
				<? <bloc nom="Nos partenaires et clients" type="debut" sstype="Titre" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colColor" width="60" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colContent" width="550" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#E96037">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div><font color="#E96037" class="fs-20" style="font-size:20px; line-height:24px;"><?<champ>
                                <type>text</type>
                  				<defaut>Nos partenaires et clients</defaut>
                                </champ>?></font></div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				
				<? <bloc nom="Nos partenaires et clients" type="inter" sstype="Article" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colColor" width="60" height="8" bgcolor="#E96037">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colContent" width="550" height="8">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#E96037">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<?
								<champ>
									<type>image</type>
									<src></src>
									<lien></lien>
									<survol></survol>
									<width>136</width>
									<height>96</height>
									<html_avant><table class="fullWidth" cellpadding="0" cellspacing="0" border="0" align="left"><tr><td></html_avant>
									<html_apres></td><td width="5">&nbsp;</td></tr></table></html_apres>
								</champ>
							?>
							<div><?<champ>
                                <type>text</type>
                  				<defaut>Titre article</defaut>
								<html_avant><font class="fs-16" style="font-size:16px;line-height:20px;"></html_avant>
								<html_apres></font></html_apres>
                                </champ>?></div>							
								<div style="text-align:justify;"><?<champ>
                                <type>textarea</type>
                  				<defaut>Texte article</defaut>
                                </champ>?>
								<?<champ>
                                <type>text</type>
                  				<defaut>Référence</defaut>
								<html_avant><br/><small><em></html_avant>
								<html_apres></em></small></html_apres>
								</champ>?>
								 <?<champ>
								<type>lien</type>
								<href>lien</href>
								<texte>Consulter l article</texte>
								<params>style="color:#00759c; text-decoration:none;"</params>
								<html_avant><br/><em></html_avant>
								<html_apres></em></html_apres>
								</champ>?>
								</div>							
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				<?<bloc nom="Nos partenaires et clients" type="fin" /> ?>
				
				<!-- CONTENT Article orange -->
				<? <bloc nom="L'oeil sur les spécialités concurrentes" type="debut" sstype="Titre" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colColor" width="60" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colContent" width="550" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#EF8538">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div><font color="#EF8538" class="fs-20" style="font-size:20px; line-height:24px;"><?<champ>
                                <type>text</type>
                  				<defaut>L&#39;oeil sur les spécialités concurrentes</defaut>
                                </champ>?></font></div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				
				<? <bloc nom="L'oeil sur les spécialités concurrentes" type="inter" sstype="Article" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colColor" width="60" height="8" bgcolor="#EF8538">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colContent" width="550" height="8">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#EF8538">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<?
								<champ>
									<type>image</type>
									<src></src>
									<lien></lien>
									<survol></survol>
									<width>136</width>
									<height>96</height>
									<html_avant><table class="fullWidth" cellpadding="0" cellspacing="0" border="0" align="left"><tr><td></html_avant>
									<html_apres></td><td width="5">&nbsp;</td></tr></table></html_apres>
								</champ>
							?>
							<div><?<champ>
                                <type>text</type>
                  				<defaut>Titre article</defaut>
								<html_avant><font class="fs-16" style="font-size:16px;line-height:20px;"></html_avant>
								<html_apres></font></html_apres>
                                </champ>?></div>							
								<div style="text-align:justify;"><?<champ>
                                <type>textarea</type>
                  				<defaut>Texte article</defaut>
                                </champ>?>
								<?<champ>
                                <type>text</type>
                  				<defaut>Référence</defaut>
								<html_avant><br/><small><em></html_avant>
								<html_apres></em></small></html_apres>
								</champ>?>
								 <?<champ>
								<type>lien</type>
								<href>lien</href>
								<texte>Consulter l article</texte>
								<params>style="color:#00759c; text-decoration:none;"</params>
								<html_avant><br/><em></html_avant>
								<html_apres></em></html_apres>
								</champ>?>
								</div>							
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				<?<bloc nom="L'oeil sur les spécialités concurrentes" type="fin" /> ?>
				
				<!-- CONTENT Article jaune -->
				<? <bloc nom="La vie des laboratoires pharmaceutiques" type="debut" sstype="Titre" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colColor" width="60" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
						<td class="colContent" width="550" height="20">&nbsp;</td>
						<td class="colGutter" width="10" height="20">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#F7AD39">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<div><font color="#F7AD39" class="fs-20" style="font-size:20px; line-height:24px;"><?<champ>
                                <type>text</type>
                  				<defaut>La vie des laboratoires pharmaceutiques</defaut>
                                </champ>?></font></div>
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>
				
				<? <bloc nom="La vie des laboratoires pharmaceutiques" type="inter" sstype="Article" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr class="h-fill">
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colColor" width="60" height="8" bgcolor="#F7AD39">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
						<td class="colContent" width="550" height="8">&nbsp;</td>
						<td class="colGutter" width="10" height="8">&nbsp;</td>
					</tr>
					<tr>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colColor" width="60" bgcolor="#F7AD39">&nbsp;</td>
						<td class="colGutter" width="10">&nbsp;</td>
						<td class="colContent" width="550">
							<?
								<champ>
									<type>image</type>
									<src></src>
									<lien></lien>
									<survol></survol>
									<width>136</width>
									<height>96</height>
									<html_avant><table class="fullWidth" cellpadding="0" cellspacing="0" border="0" align="left"><tr><td></html_avant>
									<html_apres></td><td width="5">&nbsp;</td></tr></table></html_apres>
								</champ>
							?>
							<div><?<champ>
                                <type>text</type>
                  				<defaut>Titre article</defaut>
								<html_avant><font class="fs-16" style="font-size:16px;line-height:20px;"></html_avant>
								<html_apres></font></html_apres>
                                </champ>?></div>							
								<div style="text-align:justify;"><?<champ>
                                <type>textarea</type>
                  				<defaut>Texte article</defaut>
                                </champ>?>
								<?<champ>
                                <type>text</type>
                  				<defaut>Référence</defaut>
								<html_avant><br/><small><em></html_avant>
								<html_apres></em></small></html_apres>
								</champ>?>
								 <?<champ>
								<type>lien</type>
								<href>lien</href>
								<texte>Consulter l article</texte>
								<params>style="color:#00759c; text-decoration:none;"</params>
								<html_avant><br/><em></html_avant>
								<html_apres></em></html_apres>
								</champ>?>
								</div>							
						</td>
						<td class="colGutter" width="10">&nbsp;</td>
					</tr>
				</table>

				<?<bloc nom="La vie des laboratoires pharmaceutiques" type="fin" /> ?>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td class="midWidth" width="320" height="20">&nbsp;</td>
						<td class="midWidth" width="320" height="20">&nbsp;</td>
					</tr>
					<tr>
						<td class="midWidth" width="320" height="10" style="text-align:left;">
							<img class="midWidthImage" src="http://www.expertinfos.com/newsletterhtml/Novartis/logo_novartis.png" alt="Newsletter Novartis" width="235" height="55" />
						</td>
						<td class="midWidth" width="320" height="10" style="text-align:right;">
							<img class="midWidthImage" src="http://www.expertinfos.com/newsletterhtml/Novartis/logo_lep.png" alt="Newsletter Novartis" width="142" height="55" />
						</td>
					</tr>
				</table>
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td height="20">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align: center;"><small><strong>&#171;&nbsp;Document &agrave; usage interne exclusivement, ne peut en aucun cas &ecirc;tre utilis&eacute; &agrave; destination<br/>de personnes ext&eacute;rieures &agrave; Novartis et notamment des professionnels de sant&eacute;&nbsp;&#187;</strong></small></td>
					</tr>
					<tr class="h-fill">
						<td height="10">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align: center;"><small><strong>Conception et réalisation</strong><br/><i>&copy; Les Echos Etudes - Newsletter réalisée par Valérie Moulle et Hélène Charrondière<br/>Directeur général et Directeur de la Publication&nbsp;: Laurent David</i></small>
						</td>
					</tr>
					<tr>
						<td height="20">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>