<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Newsletter bimensuelle du <!--{{<%=la_date_bdo%>}}--></title>    
</head>
<body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

	         <table class="container">
			  <tr>
			    <td>





					<!--++++++++++++++++++ SUR HEADER ++++++++++++++++++++-->
					<table class="row sur-header">
					<tr>
					<td class="wrapper last">
					<table class="twelve columns">
					<tr>
					<td>
					<span class="mentionsLegales center">
					<small>Newsletter actualit&eacute;s du Nom du Cabinet</small>
					</span>
					<span class="mentionsLegales center">
					<small>Pour visualiser ce message en ligne,
					<!--{{<gab_lien_message_online>}}--> <a href="#" lien_message_online="lien_message_online"><u>suivez ce lien</u></a><!--{{</gab_lien_message_online>}}--></small>
					</span>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>
					<!--++++++++++++++++++ HEADER  -  INFORMATIONS ++++++++++++++++++++-->
					<table class="row informations">
					<tr>
					<td class="wrapper last">
					<table class="twelve columns">
					<tr>
					<td class="text-pad">
					<span>	
					Madame, Monsieur,<br />
					<br />Nous avons le plaisir de vous adresser <b>en avant-premi&egrave;re la newsletter du cabinet</b>. 
					<br />Elle sera envoy&eacute;e &agrave; vos contacts en d&eacute;but de semaine. 
					<br />
					<br />Bien cordialement, 
					<br />
					<br /><b>Isabelle Mahieu-Junqua</b>
					<br />Directrice Relations Client&egrave;le
					<br />
					<br />
					</span>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>
					<!--++++++++++++++++++ HEADER  -  INFORMATIONS CLIENT ++++++++++++++++++++-->
					<table class="row informationsClient">
					<tr>
					<td class="wrapper last">
					<table class="twelve columns">
					<tr>
					<td class="text-pad">
					<span class="uppercaseText boldText">
					<!--{{<%=civilite%>}}-->&nbsp;<!--{{<%=nom_client%>}}-->, votre newsletter du <!--{{<%=la_date_collaborateur_bdo%>}}-->
					</span>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>


					
					<!--{{<%if logo_groupement=True then%>}}-->
						<!--++++++++++++++++++ HEADER  -  LOGO GROUPE ++++++++++++++++++++-->
						<table class="row header">
						<tr>
						<td class="wrapper">
						<table class="eight columns">
						<tr>
						<td>
						<a href="http://<%=url_site_exp%>" target="_blank"><img src="http://<%=url_site_exp%>/uploads/assets/header-newsletter-site.png" border="0" /></a>	
						</td>
						<td class="expander"></td>
						</tr>
						</table>
						</td>
						<td class="wrapper last">
						<table class="four columns">
						<tr>
						<td>
						<a href="http://<%=lien_groupement%>" target="_blank"><img src="http://<%=url_site_exp%>/uploads/assets/header-newsletter-groupe.png" border="0" /></a>
						</td>
						<td class="expander"></td>
						</tr>
						</table>
						</td>
						</tr>
						</table>
						-->
					<!--{{<%else%>}}-->
						<!--++++++++++++++++++ HEADER  -  LOGO SITE ++++++++++++++++++++-->
						<table class="row header">
						<tr>
						<td class="wrapper last">
						<table class="twelve columns">
						<tr>
						<td>
						
						<a href="http://<%=url_site_exp%>" target="_blank"><img src="http://<%=url_site_exp%>/uploads/assets/header-newsletter.png" border="0" /></a>
						
						</td>
						<td class="expander"></td>
						</tr>
						</table>
						</td>
						</tr>
						</table>
					<!--{{<%end if%>}}-->



					<!--{{<%
					if ((rsCount(0)>0)) then
					if not rs.eof then %>}}-->
					<!--++++++++++++++++++ CABINET VOUS INFORME ++++++++++++++++++++-->
					<!--{{<% while not (rs.eof) %>}}-->
					<table class="row cabInform">
					<tr>
					<td class="wrapper last">
					<table class="twelve article columns">
					<tr>
					<td class="text-pad">
					<a href="#">
					<h2 class="titre"><!--{{<%=rs("titre")%>}}--></h2>
					<span class="text"><!--{{<%=rs("texte")%>}}--></span>
					<!--{{<% if (rs("lien") <> "") then %>}}-->
					<a href="<%=rs("lien")%>" target="_blank">
					<span class="lien"><b>></b>&#160;lire la suite</span>
					</a>
					<!--{{<% end if %>}}-->
					</a>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>
					<!--{{<% rs.movenext
					wend%>}}-->
					<!--{{<% end if
					end if
					%>}}-->
										          











<!--{{<% if(texte_vacances <> "")then %>}}-->
<!--{{<%=texte_vacances%>}}-->
	<!--{{<% end if %>}}-->










					<!--{{<%
						idarticleAlaune=request.QueryString("idarticleAlaune")
						if idarticleAlaune="" then idarticleAlaune=request.QueryString("amp;idarticleAlaune")
						SQLArticleAlaune="SELECT * FROM CHAPITRES_FLASHS_INFOS WHERE (IDCHAPITRE_FLASH_INFOS = "& idarticleAlaune &")"
						Set rsArticleAlaune=conn.Execute(SQLArticleAlaune)
						id_de_larticle=mid(rsArticleAlaune("URL_DETAIL_INFO"),13,len(rsArticleAlaune("URL_DETAIL_INFO"))-16)
						%>}}-->

                    <!--++++++++++++++++++ A LA UNE ++++++++++++++++++++-->
					<table class="row aLaUne">
					<tr>
					<td class="wrapper last">
					<table class="twelve article columns">
					<tr>
					<td class="text-pad">
					<a href="http://<%=url_site_exp%>/<%=rsArticleAlaune("URL_DETAIL_V3")%>" target="_blank">
					<img src="http://e-newsletter.expert-infos.com/_infos/_photos/<%=id_de_larticle%>-b.jpg" border="0" />
					<h1 class="titre"><!--{{<%=rsArticleAlaune("TITRE_CHAPITRE_FLASH_INFOS")%>}}--></h1>
					<span class="text"><!--{{<%=rsArticleAlaune("CONTENU_CHAPITRE_FLASH_INFOS")%>}}--></span>
					<span class="lien"><b>></b>&#160;lire la suite</span>
					</a>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>					
					</tr>
					</table>

					









					<!--{{<% idarticle=request.QueryString("idarticle")
					idarticle=idarticle&"-"
					if idarticle="" then request.QueryString("amp;idarticle")
					article=Mid(idarticle,1,(len(idarticle)))
					nbc_desc=len(article)
					k=1
					i=1

					while k <= nbc_desc
					carn=asc(Mid(article,k,1))
					car=Mid(article,k,1)
					if carn = 45 then
					SQLArticle="SELECT * FROM CHAPITRES_FLASHS_INFOS WHERE (IDCHAPITRE_FLASH_INFOS = "& cart &")"
					Set rsArticle=conn.Execute(SQLArticle)
					id_de_larticle=mid(rsArticle("URL_DETAIL_INFO"),13,len(rsArticle("URL_DETAIL_INFO"))-16) %>}}-->


					<!--++++++++++++++++++ CONTENUS - ARTICLE ++++++++++++++++++++-->
					<!--{{<% 
    					if (i<(nbr_articles+1)) then %>}}-->

					<table class="row articles">
					<tr>
					<td class="wrapper">
					<table class="five article columns">
					<tr>
					<td class="text-pad">
					<a href="http://<%=url_site_exp%>/<%=rsArticle("URL_DETAIL_V3")%>" target="_blank"><img src="http://e-newsletter.expert-infos.com/_infos/_photos/<%=id_de_larticle%>-g.jpg" border="0"></a>
					</td>
					</tr>
					</table>
					</td>
					<td class="wrapper last">
					<table class="seven article columns">
					<tr>
					<td class="text-pad">
					<table>
					<tr>
					<td>
					<a href="http://<%=url_site_exp%>/<%=rsArticle("URL_DETAIL_V3")%>" target="_blank">
					<h2 class="titre"><b class="perso">></b>&#160;<!--{{<%=rsArticle("TITRE_CHAPITRE_FLASH_INFOS")%>}}--></h2>
					<span class="text"><!--{{<%=rsArticle("CONTENU_CHAPITRE_FLASH_INFOS")%>}}--></span>
					<span class="lien perso">lire la suite</span>
					</a>
					</td>
					</tr>
					</table>
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>
			<!--{{<% end if 	%>}}-->
													
					<!--{{<% 
					i=i+1
					cart=""
				else
				    cart=cart+car
				end if

				k=k+1
				wend %>}}-->








					<table class="row agendaDessin">
					<tr>
					<td class="wrapper agenda">

					<table class="five article columns">
					<tr>
					<td class="text-pad">
					<a href="http://<%=url_site_exp%>/<%=url_mois1_v3%>" target="_blank">
					<h3 class="surTitre"><!--{{<%=date1%>}}--></h3>
					<h4 class="titre"><!--{{<%=dateTitre%>}}--></h4>
					<span class="text"><!--{{<%=dateText%>}}--></span>
					</a>
					</td>
					<td class="expander"></td>
					</tr>
					</table>

					</td>
					<td class="wrapper dessin last">

					<table class="seven article columns">
					<tr>
					<td class="text-pad">
					<table>
					<tr>
					<td class="borderTop">
					<a href="http://<%=url_site_exp%>/dessin" target="_blank">
					<img src="http://e-newsletter.expert-infos.com/_infos/_photos/<%=id_article_dessin%>-b.jpg">
					<h3 class="surTitre">L'actu'</h3>
					<span class="sousTitre">en dessin</span>
					<h4 class="titre"><!--{{<%=texte_dessin%>}}--></h4>
					<span class="lien">Lire la suite</span>
					</a>
					</td>
					</tr>
					</table>
					</td>
					<td class="expander"></td>
					</tr>
					</table>

					</td>
					</tr>
					</table>











					<!--++++++++++++++++++ FOOTER ++++++++++++++++++++-->
					<table class="row footer">
					<tr>
					<td class="wrapper last">
					<table class="twelve columns">
					<tr>
					<td>
					<span class="mentionsLegales center">
					<small>Si vous ne souhaitez plus recevoir cette newsletter, veuillez acc&eacute;der &agrave; la page de <!--{{<gab_lien_blackliste>}}--><a href="#" lien_blackliste="lien_blackliste"><u>d&eacute;sinscription</u></a><!--{{</gab_lien_blackliste>}}--></small>
					</span>		
					</td>
					<td class="expander"></td>
					</tr>
					</table>
					</td>
					</tr>
					</table>











			    </td>
			  </tr>
			</table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>