<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Newsletter bimensuelle du <!--{{%%{{=la_date_bdo}}%%}}--></title>
    <!--{{<link href="http://<%=url_site_exp%>/theme/css/newsletter.css" rel="stylesheet" type="text/css" media="all" />}}-->
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>

								<!-- ONLINE START -->
								<table class="row sur-header">
								    <tr>
								        <td class="wrapper last">
								            <table class="twelve columns">
								                <tr>
								                    <td>
								                        <span class="colorWhite center">
								                        	<small>Newsletter actualit&eacute;s du Nom du Cabinet</small>
								                        </span>
								                        <span class="colorWhite center">
								                        	<small>Pour visualiser ce message en ligne, <!--{{<gab_lien_message_online>}}--> <a href="#" lien_message_online="lien_message_online"><u>suivez ce lien</u></a><!--{{</gab_lien_message_online>}}--></small>
								                        </span>
								                    </td>
								                    <td class="expander"></td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
					        	<!-- ONLINE END -->

								<!--++++++++++++++++++ HEADER  -  INFORMATIONS ++++++++++++++++++++-->
								<table class="row informations">
								    <tr>
								        <td class="wrapper last">
								            <table class="twelve columns">
								                <tr>
								                    <td class="text-pad">
								                        <img src="http://www.expert-infos.com/_newsletter/_logos/logo_expert_infos.gif" class="center">
								                        <span>	
															Madame, Monsieur,<br />
															<br />Nous avons le plaisir de vous adresser <b>en avant-premi&egrave;re la newsletter du cabinet</b>. 
															<br />Elle sera envoy&eacute;e &agrave; vos contacts en d&eacute;but de semaine. 
															<br />
															<br />Bien cordialement, 
															<br />
															<br /><b>Isabelle Mahieu-Junqua</b>
															<br />Directrice Relations Client&egrave;le
															<br />
															<br />
														</span>
								                    </td>
								                    <td class="expander"></td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>

								<!--++++++++++++++++++ HEADER  -  INFORMATIONS CLIENT ++++++++++++++++++++-->
								<table class="row informationsClient">
								    <tr>
								        <td class="wrapper last">
								            <table class="twelve columns">
								                <tr>
								                    <td class="text-pad">
								                        <span class="fontWeightBold colorWhite">
															<%=civilite%>&nbsp;<%=nom_client%>, votre newsletter du <%=la_date_collaborateur_bdo%>,
														</span>
								                    </td>
								                    <td class="expander"></td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>

								<!--++++++++++++++++++ HEADER  -  LOGO SITE ++++++++++++++++++++-->
								<table class="row header">
								    <tr>
								        <td class="wrapper last">
								            <table class="twelve columns">
								                <tr>
								                    <td>
								                        <!--
													<a href="http://<%=url_site_exp%>" target="_blank"><img src="http://<%=url_site_exp%>/uploads/assets/header-newsletter.png" border="0" /></a>
													-->
														<a href="#">
								                            <img src="http://www.actu-entreprises.bdo.fr/uploads/assets/header-newsletter.png">
								                        </a>
								                    </td>
								                    <td class="expander"></td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>

								<!--++++++++++++++++++ HEADER  -  LOGO GROUPE ++++++++++++++++++++-->
								<!--
								<table class="row header">
									<tr>
										<td class="wrapper">
											<table class="eight columns">
												<tr>
													<td>
														<img src="http://www.cabinet-vendome.fr/uploads/assets/header-newsletter.png">
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="four columns">
												<tr>
													<td>
														<img src="http://www.cabinet-vendome.fr/uploads/assets/header-newsletter.png">
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								-->

								<!--++++++++++++++++++ MESSAGES VACANCES ++++++++++++++++++++-->
								<table class="row cabInform">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad">
														<span class="text">Le cabinet est ferm&eacute; !</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ CABINET VOUS INFORME ++++++++++++++++++++-->
								<table class="row cabInform">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad">
														<a href="#">
															<h2 class="titre">N'oubliez pas d'acquitter vos acomptes de CET pour le 16 juin !</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="lien displayBlock"><b>></b>&#160;lire la suite</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					
			                    <!--++++++++++++++++++ CABINET VOUS INFORME ++++++++++++++++++++-->
								<table class="row cabInform dernier">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad">
														<a href="#">
															<h2 class="titre">N'oubliez pas d'acquitter vos acomptes de CET pour le 16 juin !</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="lien displayBlock"><b>></b>&#160;lire la suite</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ A LA UNE ++++++++++++++++++++-->
								<table class="row aLaUne">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad colorWhite">
														<a href="#">
															<img src="http://testa.eilep.com/uploads/media/article/0001/26/thumb_25174_article_big.jpeg">
															<h1 class="titre">N'oubliez pas d'acquitter vos acomptes de CET pour le 16 juin !</h1>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="lien displayBlock"><b>></b>&#160;lire la suite</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ CONTENUS - ARTICLE ++++++++++++++++++++-->
								<table class="row articles">
									<tr>
										<td class="wrapper">
											<table class="five article columns">
												<tr>
													<td class="text-pad">
														<a href="#">
															<img src="http://ec-opera.expert-infos.com/_images/k4_4442707.jpeg">
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven article columns">
												<tr>
													<td class="text-pad">
														<table>
															<tr>
																<td>
																	<a href="#">
																		<h2 class="titre"><b class="perso">></b>&#160;D&eacute;claration d'insaisissabilit&eacute; : n'y recourez pas trop tard !</h2>
																		<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
																		<span class="lien displayBlock perso">lire la suite</span>
																	</a>

																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ DESSIN - AGENDA ++++++++++++++++++++-->
								<table class="row agendaDessin">
									<tr>
										<td class="wrapper agenda">
											<table class="five article columns">
												<tr>
													<td class="text-pad">
														<a href="#">
															<h3 class="surTitre">5 juin</h3>
															<h4 class="titre">Artisans, commer&ccedil;ants et industriels</h4>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper dessin last">
											<table class="seven article columns">
												<tr>
													<td class="text-pad">
														<table>
															<tr>
																<td class="borderTop">
																	<a href="#">
																		<img src="http://ec-opera.expert-infos.com/_images/k4_4341831-c.jpg">
																		<h3 class="surTitre">L'actu'</h3>
																		<span class="sousTitre">en dessin</span>
																		<h4 class="titre">Artisans, commer&ccedil;ants et industriels</h4>
																		<span class="lien">Lire la suite</span>
																	</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ ADRESSE ++++++++++++++++++++-->
								<table class="row adresse">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad">
														<span class="text"><b>BDO France</b><br />113, rue de l'Universit&eacute; - 75007 Paris<br /><u><a href="mailto:contact@bdo.fr">contact@bdo.fr</a></u></span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ LIEN SITE INTERNET ++++++++++++++++++++-->
								<table class="row lienSiteInterent">
									<tr>
										<td class="wrapper last">
											<table class="twelve article columns">
												<tr>
													<td class="text-pad">
														<span class="text center"><small>Nous vous invitons &agrave; consulter &eacute;galement notre site internet&#160;: <u><a href="http://www.bdo.fr">www.bdo.fr</a></u></small></span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

								<!--++++++++++++++++++ FOOTER ++++++++++++++++++++-->
								<table class="row footer">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<span class="mentionsLegales center">
													<small>Si vous ne souhaitez plus recevoir cette newsletter, veuillez acc&eacute;der &agrave; la page de <!--{{<gab_lien_blackliste>}}--><a href="#" lien_blackliste="lien_blackliste"><u>d&eacute;sinscription</u></a><!--{{</gab_lien_blackliste>}}--></small>
													</span>	
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
    </table>
  </body>
</html>