<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <!-- Chargement feuille de style du client -->
    <!--{{<link rel="stylesheet" href="theme/css/newsletter.css">}}-->
    <title>Newsletter bimensuelle du 22/09/2014</title>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>

								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<small>
																Newsletter actualités du Nom du Cabinet<br/>
																Pour visualiser ce message en ligne, <!--{{<gab_lien_message_online>}}--> <a class="link_underline" href="#" lien_message_online="lien_message_online">suivez ce lien</a><!--{{</gab_lien_message_online>}}-->
															</small>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

								<!-- INFOS COLLABORATEUR START -->
								<table class="row contentInfosCollaborateur">
								    <tr>
								        <td class="wrapper first">
								            <table class="twelve columns">
								                <tr>
								                    <td>
								                    	<span class="inner text-pad">
								                        	<img class="center ei_lep" src="http://www.expert-infos.com/_newsletter/_logos/logo_expert_infos_lep.gif" alt="Expert Infos - Les Echos Publishing" width="200" height="80" />
								                        	<br/>
									                        Madame, Monsieur,
									                        <br/><br/>
									                        Nous avons le plaisir de vous adresser <strong>en avant-première la newsletter du cabinet</strong>.
															<br/>
															Elle sera envoyée à vos contacts en début de semaine.
															<br/><br/>
															Bien cordialement,
															<br/><br/>
															<strong>Isabelle Mahieu-Junqua</strong>
															<br/>Directrice Relations Clientèle
														</span>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- INFOS COLLABORATEUR END -->

								<!-- INFOS CLIENT START -->
								<table class="row contentInfosClient">
								    <tr>
								        <td class="wrapper first">
								            <table class="twelve columns">
								                <tr>
								                    <td>
								                    	<span class="inner text-pad">
															<strong>M Martin, votre newsletter du 22 septembre 2014,</strong>
														</span>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- INFOS CLIENT END -->

								<!-- HEADER START -->
								<table class="row header">
								    <tr>
								        <td class="wrapper first">
								            <table class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a href="http://ec-opera.expert-infos.com">
								                            <img class="link_box center" src="http://ec-tenor.expert-infos.com/uploads/assets/header-newsletter.png" alt="NomCabinet" width="720" height="96" />
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->

								<!-- HEADER GROUPE START -->
								<table class="row header">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<a class="link_box" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/960/192/city/" alt="NomCabinet" width="480" height="96" />
														</a>
													</td>
													<td class="four sub-columns last">
														<a class="link_box" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/480/192/technics/" alt="NomCabinet" width="240" height="96" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER GROUPE END -->

								<!-- CABINFORM START -->
								<table class="row contentCabInform">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Le cabinet est fermé !
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CABINFORM END -->

								<!-- CABINFORM START -->
								<table class="row contentCabInform">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="#">
															<h2 class="title">Titre cabinform</h2>
															<span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis error, accusantium ducimus, incidunt doloremque iste placeat maiores perspiciatis optio alias dolorum eligendi tenetur, quaerat velit necessitatibus ut, vitae doloribus nulla!</span>
															<span class="readMore">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;lire la suite</span>
															</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CABINFORM END -->

								<!-- ALAUNE START -->
								<!-- Définir format F 1440x960 -->
								<table class="row contentALaUne">
									<tr>
										<td class="wrapper first">
											<table class="six columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<h1 class="title">N'oubliez pas d'acquitter vos acomptes de CET pour le 16 juin !</h1>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="readMore">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;lire la suite</span>
															</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<img src="http://lorempixel.com/1440/960/business/" width="360" height="240" alt="" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- ARTICLES START -->
								<!-- Définir format H 1440x660 -->
								<table class="row contentArticles first">
									<tr>
										<td class="wrapper first">
											<table class="five columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/1440/660/business/" width="280" height="128" alt="" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<h2 class="title">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;D&eacute;claration d'insaisissabilit&eacute;&#160;: n'y recourez pas trop tard&#160;!
															</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="readMore">lire la suite</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table class="row contentArticles">
									<tr>
										<td class="wrapper first">
											<table class="five columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/1440/660/business/" width="280" height="128" alt="" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<h2 class="title">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;D&eacute;claration d'insaisissabilit&eacute;&#160;: n'y recourez pas trop tard&#160;!
															</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="readMore">lire la suite</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table class="row contentArticles last">
									<tr>
										<td class="wrapper first">
											<table class="five columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/1440/660/business/" width="280" height="128" alt="" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<h2 class="title">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;D&eacute;claration d'insaisissabilit&eacute;&#160;: n'y recourez pas trop tard&#160;!
															</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
															<span class="readMore">lire la suite</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ARTICLES END -->

								<!-- AGENDA DESSIN START -->
								<table class="row contentAgendaDessin">
									<tr>
										<td class="agenda wrapper first">
											<table class="five columns">
												<tr>
													<td>
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<span class="preTitle">5 juin</span>
															<h2 class="title">Artisans, commer&ccedil;ants et industriels</h2>
															<span class="text">Les entreprises doivent r&eacute;gler les acomptes de cotisation fonci&egrave;re des entreprises (CFE) et de cotisation sur la valeur ajout&eacute;e des entreprises (CVAE) pour le 16 juin prochain au plus tard.</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="dessin wrapper last">
											<table class="seven columns">
												<tr class="borderContainer">
													<td><span class="border left"></span></td>
													<td><span class="border right"></span></td>
												</tr>
												<tr>
													<td class="six sub-columns first">
														<a class="link_box inner text-pad-left" href="http://ec-opera.expert-infos.com/?article=4678710">
															<span class="preTitle">L'actu'<br/><small>en dessin</small></span>
															<h3 class="title">Titres-restaurant d&eacute;mat&eacute;rialis&eacute;s</h3>
															<span class="readMore">
																<span class="icon-rsaquo">&rsaquo;</span>&#160;agrandir le dessin</span>
															</span>
														</a>
													</td>
													<td class="six sub-columns last">
														<a class="link_box inner text-pad" href="http://ec-opera.expert-infos.com/?article=4678710">
															<img src="http://lorempixel.com/720/480/abstract/" width="190" height="126" alt="" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- AGENDA DESSIN END -->

								<!-- ADRESSE START -->
								<table class="row contentAdresse">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<strong>BDO France</strong>
															<br/>
															<!-- Faire un URL encode de l'adresse pour le paramètre q de l'attribut HREF -->
															<!-- http://www.w3schools.com/asp/met_urlencode.asp -->
															<a href="http://maps.apple.com/?q=113%2C+rue+de+l%27Universit%E9+-+75007+Paris">113, rue de l'Université - 75007 Paris</a>
															<br/>
															<a class="link_underline" href="mailto:contact@bdo.fr">contact@bdo.fr</a>
															<br/>
															<span class="appleLinks"><a href="tel:0123456789">0123456789</a></span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ADRESSE END -->

								<!-- LIEN SITE START -->
								<table class="row contentLienSite">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<small>Nous vous invitons &agrave; consulter &eacute;galement notre site internet&#160;: <a class="link_underline" href="http://www.bdo.fr">www.bdo.fr</a></small>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- LIEN SITE END -->

								<!-- FOOTER START -->
								<table class="row footer">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<small>Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page de <!--{{<gab_lien_blackliste>}}--><a class="link_underline" href="#" lien_blackliste="lien_blackliste">d&eacute;sinscription</a><!--{{</gab_lien_blackliste>}}--></small>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
    </table>
  </body>
</html>