<!-- flashinfos_secxml_mail_V3_resp.asp -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--{{%%{{
Set Conn = Server.CreateObject("ADODB.Connection")
Conn.ConnectionString =  application("Base_Newsletter")
Conn.Open

id_client=request.QueryString("id_client")

CLIENT_SQL="SELECT * FROM CLIENTS WHERE (ID_CLIENT = "&id_client&")"
Set rsClient=conn.Execute(CLIENT_SQL)

id_exp=rsClient("id_exp")
id_civilite=rsClient("id_civilite")
if id_civilite = "1" then
    civilite="Monsieur"
elseif id_civilite="2" then
    civilite="Madame"
elseif id_civilite="3" then
    civilite="Mademoiselle"
elseif id_civilite="4" then
    civilite="Ma&#238;tre"
elseif id_civilite="5" then
    civilite="Docteur"
elseif id_civilite="6" then
    civilite="Professeur"
else
    civilite=""
end if

nom_client=rsClient("nom_client")

CABINET_SQL="SELECT * FROM EXPERTS_COMPTABLES WHERE (ID_EXP = "&id_exp&")"
set rsCabinet=conn.Execute(CABINET_SQL)

if not rsCabinet.eof then

	repertoire_ei = rsCabinet("repertoire_ei")
	nom_exp = rsCabinet("nom_exp")
	prenom_exp = rsCabinet("prenom_exp")
	raison_sociale_exp = rsCabinet("raison_sociale_exp")
	type_client = rsCabinet("type_client")	
	adresse1_exp = rsCabinet("adresse1_exp")
	adresse2_exp = rsCabinet("adresse2_exp")
	code_postal_exp = rsCabinet("code_postal_exp")
	commune_exp = rsCabinet("commune_exp")
	tel_cabinet = rsCabinet("tel_cabinet")
	fax_cabinet = rsCabinet("fax_cabinet")
	email_exp = rsCabinet("email_exp")
	type_perso_site = rsCabinet("type_perso_site")
	login_site_exp = rsCabinet("login_site_exp")
	mdp_site_exp = rsCabinet("mdp_site_exp")
	type_abo = rsCabinet("type_abo")
	if type_abo="4" then
	url_site_exp=rsCabinet("url_site_V3")
	else
	url_site_exp = rsCabinet("url_site_exp")
	end if
	rscab_url_site_exp = rsCabinet("url_site_exp")
	url_facebook = rsCabinet("Facebook")
	url_twitter = rsCabinet("Twitter")
	url_linkedin = rsCabinet("Linkedin")
	url_viadeo = rsCabinet("Viadeo")
	url_google = rsCabinet("Google")
	url_vimeo = rsCabinet("Vimeo")
	url_youtube = rsCabinet("Youtube")
	logo_groupement = rsCabinet("logo_groupement")
	lien_groupement = rsCabinet("lien_groupement")
	URL_NL_XML = rsCabinet("URL_NL_XML")
	URL_NL_XML_SUF = rsCabinet("URL_NL_XML_SUF")

	Select Case type_perso_site
		Case 38 txt_perso_site = "pop"
		Case 39 txt_perso_site = "disco"
	End Select
end if

'Detect isSocialNetwork'
if(url_facebook = "" and url_twitter="" and url_linkedin="" and url_viadeo="" and url_google="" and url_vimeo="" and url_youtube="") then
	isSocialNetwork = False
else
	isSocialNetwork = True
end if

'Detect isDemo'
if(IsNull(isDemo)=True)then
	isDemo = false
end if

'Detect isOnline'
if(Request.QueryString("is_online") = 1 OR isDemo = True)then
	isOnline = True
else
	isOnline = False
end if

'Detect isCollaborateur'
if(Request.QueryString("is_coll") = 1)then
	isCollaborateur = True
else
	isCollaborateur = False
end if

set rsCount=conn.Execute("SELECT COUNT(*) FROM FLASH_CABINFORM WHERE id_exp="& id_exp &" AND (afficher=1)")
set rs=conn.Execute("SELECT * FROM FLASH_CABINFORM WHERE id_exp=" & id_exp &" AND (afficher=1) ORDER BY ordre")
}}%%}}-->
<!--{{%%{{ 'CSS Parser. Use colorParsing.Item("nlColorVariable")' }}%%}}-->
<!--#include file="../parserCSS.inc"-->
<!--#include file="emill-sec.asp"-->
<!--{{%%{{
idarticleAlaune=request.QueryString("idarticleAlaune")
idarticle=request.QueryString("idarticle")

'Changement pour newsletter collaborateur'
if isCollaborateur=True then
	get_coll = "&is_coll=1"
	get_date = la_date_collaborateur
else
	get_coll = ""
	get_date = la_date
end if

'Ciblage fichier de demo'
if isDemo=True then
	fileName = "flashinfos_secxml_demo_V3_resp"
else
	fileName = "flashinfos_secxml_mail_V3_resp"
end if

'Gestion des variables sectorielles'
'BTP|SAN|TRA|COM|HCR'
motifsec=UCase(request.QueryString("motifsec"))

Select Case motifsec
	Case  "BTP"
		secteur_color = colorParsing.Item("nlSecColorBTP")
		secteur_color_darken10 = colorParsing.Item("nlSecColorBTPdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorBTPdarken12")
		secteur_essentiel = "L'essentiel du"
		secteur_title = "BTP"
		secteur_etude1_titre = secteur_BTP_etude1_titre
		secteur_etude1_valeur = secteur_BTP_etude1_valeur
		secteur_etude2_titre = secteur_BTP_etude2_titre
		secteur_etude2_valeur = secteur_BTP_etude2_valeur
		secteur_etude3_titre = secteur_BTP_etude3_titre
		secteur_etude3_valeur = secteur_BTP_etude3_valeur
	Case  "SAN"
		secteur_color = colorParsing.Item("nlSecColorSAN")
		secteur_color_darken10 = colorParsing.Item("nlSecColorSANdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorSANdarken12")
		secteur_essentiel = "L'essentiel de la"
		secteur_title = "Sant&#233;"
		secteur_etude1_titre = secteur_SAN_etude1_titre
		secteur_etude1_valeur = secteur_SAN_etude1_valeur
		secteur_etude2_titre = secteur_SAN_etude2_titre
		secteur_etude2_valeur = secteur_SAN_etude2_valeur
		secteur_etude3_titre = secteur_SAN_etude3_titre
		secteur_etude3_valeur = secteur_SAN_etude3_valeur
	Case  "TRA"
		secteur_color = colorParsing.Item("nlSecColorTRA")
		secteur_color_darken10 = colorParsing.Item("nlSecColorTRAdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorTRAdarken12")
		secteur_essentiel = "L'essentiel du"
		secteur_title = "Transport"
		secteur_etude1_titre = secteur_TRA_etude1_titre
		secteur_etude1_valeur = secteur_TRA_etude1_valeur
		secteur_etude2_titre = secteur_TRA_etude2_titre
		secteur_etude2_valeur = secteur_TRA_etude2_valeur
		secteur_etude3_titre = secteur_TRA_etude3_titre
		secteur_etude3_valeur = secteur_TRA_etude3_valeur
	Case  "COM"
		secteur_color = colorParsing.Item("nlSecColorCOM")
		secteur_color_darken10 = colorParsing.Item("nlSecColorCOMdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorCOMdarken12")
		secteur_essentiel = "L'essentiel du"
		secteur_title = "Commerce"
		secteur_etude1_titre = secteur_COM_etude1_titre
		secteur_etude1_valeur = secteur_COM_etude1_valeur
		secteur_etude2_titre = secteur_COM_etude2_titre
		secteur_etude2_valeur = secteur_COM_etude2_valeur
		secteur_etude3_titre = secteur_COM_etude3_titre
		secteur_etude3_valeur = secteur_COM_etude3_valeur
	Case  "HCR"
		secteur_color = colorParsing.Item("nlSecColorHCR")
		secteur_color_darken10 = colorParsing.Item("nlSecColorHCRdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorHCRdarken12")
		secteur_essentiel = "L'essentiel de la"
		secteur_title = "Restauration<span class=""slash"" style=""margin: 0 -0.25em""> / </span>H&#244;tellerie"
		secteur_etude1_titre = secteur_HCR_etude1_titre
		secteur_etude1_valeur = secteur_HCR_etude1_valeur
		secteur_etude2_titre = secteur_HCR_etude2_titre
		secteur_etude2_valeur = secteur_HCR_etude2_valeur
		secteur_etude3_titre = secteur_HCR_etude3_titre
		secteur_etude3_valeur = secteur_HCR_etude3_valeur
	Case  "ECO"
		secteur_color = colorParsing.Item("nlSecColorECO")
		secteur_color_darken10 = colorParsing.Item("nlSecColorECOdarken10")
		secteur_color_darken12 = colorParsing.Item("nlSecColorECOdarken12")
		secteur_essentiel = "L'essentiel de"
		secteur_title = "l'&#201;conomie"
		secteur_etude1_titre = secteur_ECO_etude1_titre
		secteur_etude1_valeur = secteur_ECO_etude1_valeur
		secteur_etude2_titre = secteur_ECO_etude2_titre
		secteur_etude2_valeur = secteur_ECO_etude2_valeur
		secteur_etude3_titre = secteur_ECO_etude3_titre
		secteur_etude3_valeur = secteur_ECO_etude3_valeur
	Case Else
		secteur_color = "#1f1f1f"
		secteur_color_darken10 = "#1a1a1a"
		secteur_color_darken12 = "#000000"
		secteur_essentiel = "Secteur"
		secteur_title = "non d&#233;fini"
		secteur_etude1_titre = "Erreur"
		secteur_etude1_valeur = "Secteur non d&#233;fini"
		secteur_etude2_titre = "Erreur"
		secteur_etude2_valeur = "Secteur non d&#233;fini"
		secteur_etude3_titre = "Erreur"
		secteur_etude3_valeur = "Secteur non d&#233;fini"
End Select

online_url = "http://e-newsletter.expert-infos.com/_e-newsletter/"&la_semaine&"/"&fileName&".asp?id_client="&id_client&"&idarticle="&idarticle&"&idarticleAlaune="&idarticleAlaune&"&is_online=1"&get_coll&"&motifsec="&motifsec
}}%%}}-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" type="text/css" media="all" href="theme/css/style.css" /><title>Newsletter bimensuelle du <!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></title>
</head>
<body nlbgcolor="##((nlSecBodyBackground))##">
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body" nlbgcolor="##((nlSecBodyBackground))##" id="backgroundTable">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>

								<!-- ONLINE START -->
								<table border="0" class="row contentOnline" nlbgcolor="##((nlSecCntOnlineBackground))##">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{%%{{ if isOnline=False then }}%%}}-->
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">
															<small>Pour visualiser ce message en ligne, <a target="_blank" class="link_underline" href="%%{{=online_url}}%%"><span class="important">suivez ce lien</span></a>.</small>
														</span>
														<!--{{</gab_lien_message_online>}}-->
														<!--{{%%{{ end if }}%%}}-->
														<br/><span class="name"><strong><!--{{%%{{=civilite}}%%}}--><!--DEL{{-->civilite<!--}}DEL-->&nbsp;<!--{{%%{{=nom_client}}%%}}--><!--DEL{{-->nom_client<!--}}DEL-->, votre newsletter du <a class="link_disabled" href="#"><span class="important"><!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></span></a>.</strong></span>
													</td>
													<td class="expander" nlbgcolor="##((nlSecCntOnlineBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ONLINE END -->

								<!--{{%%{{ if logo_groupement=True then }}%%}}-->
								<!-- HEADER GROUPE START -->
								<table border="0" class="row header" nlbgcolor="##((nlSecBodyBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<a target="_blank" class="link_box" href="http://%%{{=rscab_url_site_exp}}%%">
															<img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-site.png" alt="Header Newsletter Site" width="480" height="96" /><!--DEL{{--><img class="center" src="http://lorempixel.com/960/192/city/" alt="NomCabinet" width="480" height="96" /><!--}}DEL-->
														</a>
													</td>
													<td class="four sub-columns last">
														<a target="_blank" class="link_box" href="http://%%{{=lien_groupement}}%%">
															<img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-groupe.png" alt="Header Newsletter Groupe" width="240" height="96" /><!--DEL{{--><img class="center" src="http://lorempixel.com/480/192/technics/" alt="NomCabinet" width="240" height="96" /><!--}}DEL-->
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER GROUPE END -->
								<!--{{%%{{ else }}%%}}-->
								<!-- HEADER START -->
								<table border="0" class="row header" nlbgcolor="##((nlSecBodyBackground))##">
								    <tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" class="link_box" href="http://%%{{=rscab_url_site_exp}}%%">
								                            <img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter.png" alt="Header Newsletter" width="720" height="96" /><!--DEL{{--><img class="center" src="./theme/images/header-newsletter.png" width="720" height="96" alt="" /><!--}}DEL-->
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->
								<!--{{%%{{ end if }}%%}}-->

								<!-- SECTEUR START -->
								<!-- BTP, SAN, TRA, COM, HCR -->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-BTP"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel du</span> <span class="secteur">BTP</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-SAN"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel de la</span> <span class="secteur">Santé</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-TRA"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel du</span> <span class="secteur">Transport</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-COM"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel du</span> <span class="secteur">Commerce</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-HCR"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel de la</span> <span class="secteur">Restauration<span class="slash"> / </span>Hôtellerie</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<!--DEL{{--><table border="0" class="row contentSecteur secteur-ECO"><tr><td class="wrapper first"><table border="0" class="twelve columns"><tr><td class="text-pad center"><span class="essentiel">L'essentiel de</span> <span class="secteur">l'Économie</span></td><td class="expander"></td></tr></table></td></tr></table><!--}}DEL-->
								<table border="0" class="row contentSecteur secteur-%%{{=motifsec}}%% -premailer-hidden" nlbgcolor="%%{{=secteur_color}}%%">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<span class="essentiel"><!--{{%%{{=secteur_essentiel}}%%}}--><!--DEL{{-->secteur_essentiel<!--}}DEL--></span> <span class="secteur"><!--{{%%{{=secteur_title}}%%}}--><!--DEL{{-->secteur_title<!--}}DEL--></span>
													</td>
													<td class="expander" nlbgcolor="%%{{=secteur_color}}%%"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- SECTEUR END -->

								<!-- DATEINFO START -->
								<table border="0" class="row contentDateInfo">
									<tr>
										<td class="date wrapper first last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad"><a class="link_disabled" href="#"><span class="important"><!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></span></a></td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="info wrapper last">
											<table border="0" class="eight columns">
												<tr>
													<td class="text-pad center">La newsletter d'information de votre secteur</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- DATEINFO END -->

								<!--{{%%{{ if(texte_vacances <> "") then }}%%}}-->
								<!-- TEXTEVACANCES START -->
								<table border="0" class="row contentCabInform">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<div class="text"><!--{{%%{{=texte_vacances}}%%}}--><!--DEL{{-->texte_vacances<!--}}DEL--></div>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TEXTEVACANCES END -->
								<!--{{%%{{ end if }}%%}}-->
								
								<!--{{%%{{
								if ((rsCount(0)>0)) then
									if not rs.eof then 
										while not (rs.eof)
								}}%%}}-->
								<!-- CABINFORM START -->
								<table border="0" class="row contentCabInform">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">Le cabinet <span class="last">vous informe</span></h5>
														<!--{{%%{{
														lien_cab=rs("lien")
														if (lien_cab <> "") then
														}}%%}}-->
														<h3 class="title">
															<a target="_blank" href="%%{{=lien_cab}}%%"><span class="important"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></span></a>
														</h3>
														<div class="text">
															<a target="_blank" href="%%{{=lien_cab}}%%">
																<span class="important"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></span>
															</a>
														</div>
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button">
																		<tr>
																			<td>
																				<a target="_blank" href="%%{{=lien_cab}}%%"><span class="important">Lire la suite</span></a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!--{{%%{{ else }}%%}}-->
														<h3 class="title"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></h3>
														<div class="text"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></div>
														<!--{{%%{{ end if }}%%}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CABINFORM END -->
								<!--{{%%{{
										rs.movenext
										wend
									end if
								end if
								}}%%}}-->

								<!-- ALAUNE START -->
								<!--{{%%{{
								if idarticleAlaune="" then idarticleAlaune=request.QueryString("amp;idarticleAlaune")
									SQLArticleAlaune="SELECT * FROM CHAPITRES_FLASHS_INFOS WHERE (IDCHAPITRE_FLASH_INFOS = "& idarticleAlaune &")"
									Set rsArticleAlaune=conn.Execute(SQLArticleAlaune)
									id_de_larticle=mid(rsArticleAlaune("URL_DETAIL_INFO"),13,len(rsArticleAlaune("URL_DETAIL_INFO"))-16)

									'Composition lien article'
									lien_article = "http://"&URL_NL_XML&id_de_larticle&URL_NL_XML_SUF
									
									article_une_rub = ""
									article_une_titre = rsArticleAlaune("TITRE_CHAPITRE_FLASH_INFOS")

									rub_une_start = (InStr(article_une_titre,"$${{") + 4)
									rub_une_end = InStr(article_une_titre,"}}$$")
									rub_une_len = (rub_une_end - rub_une_start)
									if(rub_une_len > 0) then
										article_une_rub = Mid(article_une_titre, rub_une_start, rub_une_len)
										article_une_titre = Mid(article_une_titre, (rub_une_end + 4))
									end if
								}}%%}}-->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">À la <span class="last">une</span></h5>
														<a target="_blank" class="link_box" href="%%{{=lien_article}}%%">
															<img class="center" src="http://e-newsletter.expert-infos.com/_infos/_photos/%%{{=id_de_larticle}}%%-h.jpg" width="640" height="293" alt="Article à la Une" /><!--DEL{{--><img class="center" src="http://lorempixel.com/1280/586/business/" width="640" height="293" alt="" /><!--}}DEL-->
														</a>
														<h2 class="title">
															<a target="_blank" href="%%{{=lien_article}}%%">
																<span class="important"><!--{{%%{{=article_une_titre}}%%}}--><!--DEL{{-->article_une_titre<!--}}DEL--></span>
															</a>
														</h2>
														<div class="text">
															<a target="_blank" href="%%{{=lien_article}}%%">
																<span class="important"><!--{{%%{{=rsArticleAlaune("CONTENU_CHAPITRE_FLASH_INFOS")}}%%}}--><!--DEL{{-->CONTENU_CHAPITRE_FLASH_INFOS<!--}}DEL--></span>
															</a>
														</div>
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button">
																		<tr>
																			<td nlbgcolor="%%{{=secteur_color}}%%" nlbordercolor="%%{{=secteur_color_darken12}}%%">
																				<a target="_blank" href="%%{{=lien_article}}%%"><span class="important">Lire la suite</span></a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- ARTICLES START -->
								<table border="0" class="row contentArticles">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">Autres <span class="last">actualités</span></h5>
														<!--{{%%{{
														idarticle=idarticle&"-"
														if idarticle="" then request.QueryString("amp;idarticle")
														article=Mid(idarticle,1,(len(idarticle)))
														nbc_desc=len(article)
														k=1
														i=1
														
										    			while k <= nbc_desc
														carn=asc(Mid(article,k,1))
														car=Mid(article,k,1)
														if carn = 45 then
															SQLArticle="SELECT * FROM CHAPITRES_FLASHS_INFOS WHERE (IDCHAPITRE_FLASH_INFOS = "& cart &")"
															Set rsArticle=conn.Execute(SQLArticle)
															id_de_larticle=mid(rsArticle("URL_DETAIL_INFO"),13,len(rsArticle("URL_DETAIL_INFO"))-16)
															
															SQLIdArticle="SELECT * FROM CHAPITRES_FLASHS_INFOS WHERE (IDCHAPITRE_FLASH_INFOS = "& cart &")"
															Set rsIdArticle=conn.Execute(SQLIdArticle)
															id_flash=rsIdArticle("ID_FLASH_INFOS")
																												
															CountArt="SELECT COUNT(*) FROM CHAPITRES_FLASHS_INFOS WHERE ID_FLASH_INFOS="& id_flash
															set rsCountArt=conn.Execute(CountArt)
															nbrart=rsCountArt(0)

															'Composition lien article'
															lien_article = "http://"&URL_NL_XML&id_de_larticle&URL_NL_XML_SUF

															article_rub = ""
															article_titre = rsArticle("TITRE_CHAPITRE_FLASH_INFOS")
															
															rub_start = (InStr(article_titre,"$${{") + 4)
															rub_end = InStr(article_titre,"}}$$")
															rub_len = (rub_end - rub_start)
															if(rub_len > 0) then
																article_rub = Mid(article_titre, rub_start, rub_len)
																article_titre = Mid(article_titre, (rub_end + 4))
															end if
														}}%%}}-->
														<h3 class="title">
															<a target="_blank" href="%%{{=lien_article}}%%">
																<span class="important"><!--{{%%{{=article_titre}}%%}}--><!--DEL{{-->article_titre<!--}}DEL--></span>
															</a>
														</h3>
														<div class="text">
															<a target="_blank" href="%%{{=lien_article}}%%">
																<span class="important"><!--{{%%{{=rsArticle("CONTENU_CHAPITRE_FLASH_INFOS")}}%%}}--><!--DEL{{-->CONTENU_CHAPITRE_FLASH_INFOS<!--}}DEL--></span>
															</a>
														</div>
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button">
																		<tr>
																			<td>
																				<a target="_blank" href="%%{{=lien_article}}%%"><span class="important">Lire la suite</span></a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!--{{%%{{
															i=i+1
																cart=""
															else
															    cart=cart+car
															end if
															k=k+1
															wend
														}}%%}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ARTICLES END -->

								<!-- ETUDE START -->
								<table border="0" class="row contentEtude">
									<tr>
										<td class="filler"><p class="empty">&#160;</p></td>
										<td class="filler"><p class="empty">&#160;</p></td>
										<td class="filler"><p class="empty">&#160;</p></td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="value">
															<tr>
																<td class="center">
																	<a class="link_disabled" href="#"><span class="important"><!--{{%%{{=secteur_etude1_valeur}}%%}}--><!--DEL{{-->secteur etude1 valeur<!--}}DEL--></span></a>
																</td>
															</tr>
														</table>
														<table border="0" class="text">
															<tr>
																<td class="center">
																	<!--{{%%{{=secteur_etude1_titre}}%%}}--><!--DEL{{-->secteur etude1 titre<!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="value">
															<tr>
																<td class="center">
																	<a class="link_disabled" href="#"><span class="important"><!--{{%%{{=secteur_etude2_valeur}}%%}}--><!--DEL{{-->secteur etude2 valeur<!--}}DEL--></span></a>
																</td>
															</tr>
														</table>
														<table border="0" class="text">
															<tr>
																<td class="center">
																	<!--{{%%{{=secteur_etude2_titre}}%%}}--><!--DEL{{-->secteur etude2 titre<!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="value">
															<tr>
																<td class="center">
																	<a class="link_disabled" href="#"><span class="important"><!--{{%%{{=secteur_etude3_valeur}}%%}}--><!--DEL{{-->secteur etude3 valeur<!--}}DEL--></span></a>
																</td>
															</tr>
														</table>
														<table border="0" class="text">
															<tr>
																<td class="center">
																	<!--{{%%{{=secteur_etude3_titre}}%%}}--><!--DEL{{-->secteur etude3 titre<!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="filler"><p class="empty">&#160;</p></td>
										<td class="filler"><p class="empty">&#160;</p></td>
										<td class="filler"><p class="empty">&#160;</p></td>
									</tr>
								</table>
								<!-- ETUDE END -->

								<!-- SEGECO START -->
								<!-- Footer spécifique pour un seul client ! -->
								<table border="0" class="row contentSegeco">
									<tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" class="link_box" href="http://%%{{=rscab_url_site_exp}}%%">
								                            <img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/footer-newsletter-1.png" alt="Header Newsletter" width="720" height="264" /><!--DEL{{--><img class="center" src="./theme/images/footer-newsletter-1.png" width="720" height="264" alt="" /><!--}}DEL-->
								                        </a>
								                        <a target="_blank" class="link_box" href="http://%%{{=rscab_url_site_exp}}%%">
								                            <img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/footer-newsletter-2.png" alt="Header Newsletter" width="720" height="96" /><!--DEL{{--><img class="center" src="./theme/images/footer-newsletter-2.png" width="720" height="96" alt="" /><!--}}DEL-->
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- SEGECO END -->

								<!-- CONTACT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper first">
										<!--{{%%{{ if(isSocialNetwork=False)Then }}%%}}-->
											<table border="0" class="twelve columns -premailer-hidden"><!--DEL{{--></table><!--}}DEL-->
										<!--{{%%{{ else }}%%}}-->
											<table border="0" class="seven columns">
										<!--{{%%{{ end if }}%%}}-->
												<tr>
													<td class="text-pad">
														<strong><!--{{%%{{ if (len(trim(type_client)) > 1) then response.write(type_client & " ") end if }}%%%%{{=raison_sociale_exp}}%%}}--><!--DEL{{-->raison_sociale_exp<!--}}DEL--></strong>
														<br/>
														<!--{{%%{{ lien_adresse=Server.URLEncode(adresse1_exp & " " & adresse2_exp & " " & code_postal_exp & " " & commune_exp) }}%%}}-->
														<a target="_blank" href="http://maps.apple.com/?q=%%{{=lien_adresse}}%%"><span class="important"><!--{{%%{{
															'affichage adresse1'
															nbc_desc=len(adresse1_exp)
															k=1
															while k <= nbc_desc
																carn=asc(Mid(adresse1_exp,k,1))
																car=Mid(adresse1_exp,k,1)
																if carn = 10 then
																	Response.Write "&nbsp;-&nbsp;"
																else
																	Response.Write(car)
																end if
																k=k+1
															wend
															Response.Write "&nbsp;-&nbsp;"
															'affichage adresse2'
															if (len(trim(adresse2_exp)) > 1) then
																nbc_desc=len(adresse2_exp)
																k=1
																while k <= nbc_desc
																	carn=asc(Mid(adresse2_exp,k,1))
																	car=Mid(adresse2_exp,k,1)
																	if carn = 10 then
																		Response.Write "&nbsp;-&nbsp;"
																	else
																		Response.Write(car)
																	end if
																	k=k+1
																wend 
																Response.Write "&nbsp;-&nbsp;"
															end if 
															if (len(trim(code_postal_exp)) > 1) then response.write(code_postal_exp &"&nbsp;")  end if
															if (len(trim(commune_exp)) > 1) then response.write(commune_exp) end if
														}}%%}}--><!--DEL{{-->adresse<!--}}DEL--></span></a>
														<!--{{%%{{ if (len(trim(tel_cabinet)) > 1) then }}%%}}-->
														<br/>
														<img class="faicon" src="http://www.expert-infos.com/_newsletter/_logos/faicon-phone.gif" alt="Téléphone" width="15" height="15" />&#160;T&eacute;l. <span class="appleLinks"><a href="tel:%%{{=tel_cabinet}}%%"><span class="important"><!--{{%%{{=tel_cabinet}}%%}}--><!--DEL{{-->tel_cabinet<!--}}DEL--></span></a></span>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (len(trim(fax_cabinet)) > 1) then }}%%}}-->
														&#160;-&#160;<img class="faicon" src="http://www.expert-infos.com/_newsletter/_logos/faicon-print.gif" alt="Téléphone" width="15" height="15" />&#160;Fax&#160;: <a class="link_disabled" href="#"><span class="important"><!--{{%%{{=fax_cabinet}}%%}}--><!--DEL{{-->fax_cabinet<!--}}DEL--></span></a>
														<!--{{%%{{ end if }}%%}}-->

														<br/>
														<img class="faicon" src="http://www.expert-infos.com/_newsletter/_logos/faicon-envelope.gif" alt="Email" width="15" height="15" />&#160;<a class="link_underline" href="mailto:%%{{=email_exp}}%%"><span class="important"><!--{{%%{{=email_exp}}%%}}--><!--DEL{{-->email_exp<!--}}DEL--></span></a>
														-
														<!--{{%%{{
														if type_abo="4" then
															url_site_exp = rsCabinet("url_site_exp")
														end if
														}}%%}}-->
														<a target="_blank" class="link_underline" href="http://%%{{=url_site_exp}}%%"><span class="important"><!--{{%%{{=url_site_exp}}%%}}--><!--DEL{{-->url_site_exp<!--}}DEL--></span></a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<!--{{%%{{ if(isSocialNetwork=True)Then }}%%}}-->
										<td class="faicons wrapper last">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<!--{{%%{{ if (url_facebook<>"") then }}%%}}-->
														<a target="_blank" class="faicon first" href="http://%%{{=url_facebook}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-facebook.gif" alt="Facebook" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_google<>"") then }}%%}}-->
														<a target="_blank" class="faicon" href="http://%%{{=url_google}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-googleplus.gif" alt="Google+" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_linkedin<>"") then }}%%}}-->
														<a target="_blank" class="faicon" href="http://%%{{=url_linkedin}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-linkedin.gif" alt="Linkedin" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_twitter<>"") then }}%%}}-->
														<a target="_blank" class="faicon" href="http://%%{{=url_twitter}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-twitter.gif" alt="Twitter" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_viadeo<>"") then }}%%}}-->
														<a target="_blank" class="faicon" href="http://%%{{=url_viadeo}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-viadeo.gif" alt="Viadeo" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_vimeo<>"") then }}%%}}-->
														<a target="_blank" class="faicon" href="http://%%{{=url_vimeo}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-vimeo.gif" alt="Vimeo" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
														<!--{{%%{{ if (url_youtube<>"") then }}%%}}-->
														<a target="_blank" class="faicon last" href="http://%%{{=url_youtube}}%%">
															<img src="http://www.expert-infos.com/_newsletter/_logos/faicon-youtube.gif" alt="Youtube" width="15" height="15" />
														</a>
														<!--{{%%{{ end if }}%%}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<!--{{%%{{ end if }}%%}}-->
									</tr>
								</table>
								<table border="0" class="row contentContact bordered">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad"><hr class="border" /></td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTACT END -->

								<!--{{%%{{ if(isDemo=False)Then }}%%}}-->
								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<!--{{%%{{
								if (type_abo="4") then
									url_site_exp = rsCabinet("repertoire_ei")&".expert-infos.com"
								end if
								}}%%}}-->
								<table border="0" class="row footer">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
															Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page de <a target="_blank" class="link_underline" href="#" lien_blackliste="lien_blackliste"><span class="important">désinscription</span></a>.
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->
								<!--{{%%{{ end if }}%%}}-->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>