<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="theme/css/style.css">
	<title>Gan Assurances - SuiviExpertPro</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
	table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns text-pad first">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
														<!--{{</gab_lien_message_online>}}-->
													</td>
													<td class="four sub-columns text-pad last">
														<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/onglet_date_201501.png"><!--gethref--></a><!--{{
														</src>
														<lien></lien>
														<survol></survol>
														<width>160</width>
														<height>36</height>
														<width_max>320</width_max>
														<height_max>72</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/onglet_date_201501.png" alt="Gan - SuiviExpertPro" width="160" height="36" /><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a target="_blank" class="link_box" href="http://www.ganassurances.fr/vos-actualites-professionnelles-@/7399/view-7399-category.html?servername=gan&amp;lang=fr">
															<img src="./theme/images/header.png" alt="Gan - SuiviExpertPro" width="640" height="90" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns text-pad first">
														<img src="./theme/images/filler_partenariat.gif" alt="Gan - SuiviExpertPro" width="400" height="55" />
													</td>
													<td class="four sub-columns text-pad last">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img src="./theme/images/onglet_echos.png" alt="Gan - SuiviExpertPro" width="160" height="55" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- INFO CLIENT START -->
								<table border="0" class="row contentInfoClient">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h3 class="title"><!--{{</html_avant>
														<defaut>}}-->Madame, Monsieur l'Agent général,<!--{{</defaut>
														<html_apres>}}--></h3><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>textbox</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Nous avons le plaisir de vous adresser la nouvelle Newsletter Suivi Expert Pro de Janvier qui sera envoyée très prochainement à vos clients professionnels et chefs d'entreprise par email.<br/><br/>Pour abonner vos clients chefs d'entreprise à la newsletter, il suffit de renseigner leur adresse email dans la GRC et ils seront automatiquement inscrits.<br/><br/>Bonne lecture.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><p class="signature"><!--{{</html_avant>
														<defaut>}}-->Direction de la Communication de Gan Assurances<!--{{</defaut>
														<html_apres>}}--></p><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- INFO CLIENT END -->

								<table border="0" class="row bordered">
									<tr>
										<td class="wrapper">
											<table border="0" class="twelve columns">
												<tr><td class="center text-pad"><hr class="border" /></td></tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">À la une</span>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://google.com</href>
														<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Logement : les principales mesures apportées par la loi Alur<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="http://lorempixel.com/1280/580/cats/1"><!--gethref--></a><!--{{
														</src>
														<lien>http://google.com</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="http://lorempixel.com/1280/580/cats/1" width="640" height="290" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>textbox</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->La loi pour l'accès au logement et un urbanisme rénové (loi Alur) met en place de nouvelles mesures régissant notamment les relations entre propriétaires et locataires.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://google.com</href>
														<html_interieur_avant>}}--><p class="readMore"><!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<table border="0" class="row bordered">
									<tr>
										<td class="wrapper">
											<table border="0" class="twelve columns">
												<tr><td class="center text-pad"><hr class="border" /></td></tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>

								<!-- DOSSIER START -->
								<table border="0" class="row contentDossier">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">Dossier du mois</span>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://google.com</href>
														<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Loi de finances 2015 : les principales nouveautés fiscales pour les professionnels<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="http://lorempixel.com/1280/580/cats/2"><!--gethref--></a><!--{{
														</src>
														<lien>http://google.com</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="http://lorempixel.com/1280/580/cats/2" width="640" height="290" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>textbox</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Comme chaque début d'année, la fiscalité évolue en profondeur sous l'effet des lois de finances votées et publiées au Journal officiel à la toute fin de l'année précédente. Voici les principales nouveautés pour les professionnels.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://google.com</href>
														<html_interieur_avant>}}--><p class="readMore"><!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- DOSSIER END -->

								<!-- OFFREDUMOIS START -->
								<table border="0" class="row contentOffre">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">L'offre du mois</span>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.ganassurances.fr/perte-d-exploitation-@/8301/view-8301-category.html?servername=gan&lang=fr</href>
														<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Optimisez vos excédents de trésorerie !<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textbox</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Faites fructifier la trésorerie de votre entreprise en toute sécurité grâce à des taux performants, garantis et progressifs.<br/><strong>Découvrez Elancio Pro 2015 !</strong><!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.ganassurances.fr/perte-d-exploitation-@/8301/view-8301-category.html?servername=gan&lang=fr</href>
														<html_interieur_avant>}}--><p class="readMore"><!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- OFFREDUMOIS END -->

								<!-- ACTUALITÉS START -->
								<table border="0" class="row contentActualites">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">Actualités</span>

														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.ganassurances.fr/conjoints-collaborateurs-@/7639/view-1250-conseil.html?xtor=EPR-21-SEPNL9-20140121</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Conjoints collaborateurs : cotiser contre les risques professionnels<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textbox</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Les conjoints collaborateurs des artisans, commerçants et industriels ainsi que ceux des professionnels libéraux peuvent, depuis le 1er janvier 2015, s'assurer, de manière volontaire, contre les risques liés aux accidents (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.ganassurances.fr/conjoints-collaborateurs-@/7639/view-1250-conseil.html?xtor=EPR-21-SEPNL9-20140121</href>
														<html_interieur_avant>}}--><p class="readMore"><!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->

														<h3 class="title">Les compagnies d'assurance françaises ont réussi leur « stress test » !</h3>
														<div class="text"><a href="http://google.com" class="link_box" target="_blank">Si l'Autorité européenne des assurances et des pensions professionnelles (EIOPA) est plutôt satisfaite des résultats du récent « stress test », elle appelle les assureurs à rester vigilants en cette période de taux bas. L'Autorité européenne des assurances et des pensions professionnelles (...)</a></div>
														<p class="readMore"><a href="http://google.com" class="link_box" target="_blank">Lire la suite</a></p>

														<h3 class="title">Développement de l'entreprise : comment financer un projet innovant ?</h3>
														<div class="text"><a href="http://google.com" class="link_box" target="_blank">Face à la concurrence des entreprises des pays à faible coût de main-d'oeuvre, les entreprises européennes et françaises en particulier n'ont d'autre choix que de se distinguer en offrant des produits ou des services toujours plus innovants. Mais faire la course en tête (...)</a></div>
														<p class="readMore"><a href="http://google.com" class="link_box" target="_blank">Lire la suite</a></p>

														<h3 class="title">Les 9 premières « Métropoles French Tech »</h3>
														<div class="text"><a href="http://google.com" class="link_box" target="_blank">La liste des premières villes françaises ayant décroché le label « Metropole French Tech » vient d'être rendue publique. Sur les quinze villes françaises ayant sollicité l'attribution du label « Métropole French Tech », neuf viennent de l'obtenir. Lyon, Grenoble, Aix-Marseille, Montpellier, Toulouse (...)</a></div>
														<p class="readMore"><a href="http://google.com" class="link_box" target="_blank">Lire la suite</a></p>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ACTUALITÉS END -->

								<table border="0" class="row bordered">
									<tr>
										<td class="wrapper">
											<table border="0" class="twelve columns">
												<tr><td class="center text-pad"><hr class="border" /></td></tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>

								<!-- CONTENTBOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="chiffre wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad">
														<img class="icon-img" src="./theme/images/bottom-chiffre.png" width="60" height="60" />
														<h4 class="title">Chiffre du mois</h4>
														<div class="text">L'an dernier, le taux d'absentéisme en entreprise privé a bondi de 18% à 16,6 jours d'absence pour un salarié en moyenne (...)</div>
													</td>
												</tr>
											</table>
										</td>
										<td class="tableau wrapper">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad">
														<img class="icon-img" src="./theme/images/bottom-tableau.png" width="60" height="60" />
														<h4 class="title">Tableau de bord</h4>
														<div class="text">En quelques clics, calculez les congés payés de vos collaborateurs, le montant de vos emprunts, vos frais kilométriques (...)</div>
													</td>
												</tr>
											</table>
										</td>
										<td class="echeancier wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad">
														<img class="icon-img" src="./theme/images/bottom-echeancier.png" width="60" height="60" />
														<h4 class="title">Échéancier</h4>
														<div class="text">Employeurs occupant au moins 50 salariés : déclaration et paiement des charges sociales sur les salaires de novembre 2014 payés (...)</div>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- CONTENTBOTTOM END -->

								<table border="0" class="row bordered">
									<tr>
										<td class="wrapper">
											<table border="0" class="twelve columns">
												<tr><td class="center text-pad"><hr class="border" /></td></tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>

								<!-- CONTENT FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" href="http://www.ganassurances.fr">www.ganassurances.fr</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" href="http://www.assuredentreprendre.fr">www.assuredentreprendre.fr</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>