<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Gan Assurances - SuiviExpertPro</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="nine sub-columns text-pad first">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
														<!--{{</gab_lien_message_online>}}-->
													</td>
													<td class="three sub-columns last">
														Rajout image vignette
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

					        	<!-- HEADER START -->
					        	<table border="0" class="row header">
								    <tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" class="link_box" href="http://www.ganassurances.fr/vos-actualites-professionnelles-@/7399/view-7399-category.html?servername=gan&amp;lang=fr">
								                            <img src="./theme/images/header.png" alt="Gan - SuiviExpertPro" width="720" height="90" />
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->

								<!-- INFO CLIENT START -->
					        	<table border="0" class="row contentInfoClient">
					        		<tr>
					        			<td class="wrapper last">
					        				<table border="0" class="twelve columns">
					        					<tr>
					        						<td class="text-pad">
					        							<h5 class="title">Madame, Monsieur l'Agent général,</h5>
					        							<div class="text">
					        								Nous avons le plaisir de vous adresser la nouvelle Newsletter Suivi Expert Pro de Janvier qui sera envoyée très prochainement à vos clients professionnels et chefs d'entreprise par email.<br/><br/>
					        								Pour abonner vos clients chefs d'entreprise à la newsletter, il suffit de renseigner leur adresse email dans la GRC et ils seront automatiquement inscrits.<br/><br/>Bonne lecture.
					        							</div>
					        							<p class="signature">Direction de la Communication de Gan Assurances</p>
					        						</td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- INFO CLIENT END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
					        		<tr>
					        			<td class="wrapper last">
					        				<table border="0" class="twelve columns">
					        					<tr>
					        						<td class="text-pad">
					        							<span class="preTitle">À la une</span>
					        							<h4 class="title">Stages : les principaux changements au 1<sup>er</sup> décembre 2014</h4>
					        							<a href="http://google.com">
					        								<img src="http://lorempixel.com/1280/580/cats/" width="640" height="290" alt="" />
					        							</a>
					        							<div class="text"><a href="http://google.com" class="link_box" target="_blank">Outre la mesure phare sur le relèvement de la gratification minimale allouée au stagiaire, d'autres modifications ont été apportées au régime des stages en entreprise. Plusieurs mesures prévues par la loi de juillet 2014 sur la réforme des stages viennent d'être précisées par décret et s'appliquent aux conventions conclues depuis le 1<sup>er</sup> décembre 2014 (...)</a></div>
					        							<a href="http://google.com" class="readMore" target="_blank">Lire la suite</a>
					        						</td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
								<!-- ALAUNE END -->

							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>