// extends theme's variables.less file here


// Newsletter Default Colors
// --------------------------------------------------
//configuration de la grille
@nlColumnWidth: 60px;
@nlGutterWidth: 0px;
@nlContainerWidth: (11 * @nlGutterWidth + 12 * @nlColumnWidth);


// Grid config
// --------------------------------------------------
@columnWidth: @nlColumnWidth;
@gutterWidth: @nlGutterWidth;
@containerWidth: @nlContainerWidth;


// Padding config
// --------------------------------------------------
@wrapperPad: 20px;
@wrapperPadCollapse: (@wrapperPad / 2);

@columnPad: @wrapperPad;
@columnPadCollapse: (@columnPad / 2);

@blockGridPad: @wrapperPad;
@blockGridPadCollapse: (@blockGridPad / 2);

@panelPad: @wrapperPad;
@panelPadCollapse: (@panelPad / 2);

@textPad: (@wrapperPad * 2);
@textPadCollapse: (@textPad / 2);