/**********************************************
* Inkless - Addons                            *
**********************************************/
body,
table.body {
  background-color: #ffffff;
}
/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles & Reset */
#outlook a {
  padding: 0;
}
body {
  width: 100% !important;
  min-width: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
/* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail)  */
.ExternalClass {
  width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}
center {
  width: 100%;
  min-width: 660px;
}
a img {
  border: none;
}
p {
  margin: 0 0 0 10px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  word-break: break-word;
  -ms-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}
table,
tr,
td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}
/* Responsive Grid */
table.body {
  height: 100%;
  width: 100%;
}
table.container {
  background-color: #ffffff;
  width: 660px;
  -premailer-width: 660;
  margin: 0 auto;
  text-align: inherit;
}
table.row {
  padding: 0px;
  width: 100%;
}
table.container table.row {
  display: block;
}
td.wrapper {
  padding: 10px 0 0px 0px;
}
table.columns,
table.column {
  margin: 0 auto;
}
table.columns td,
table.column td {
  padding: 0px 0px 10px;
}
table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 0;
}
td.sub-column,
td.sub-columns {
  min-width: 0px;
}
table.row td.last,
table.container td.last {
  padding-right: 0px;
}
table.one {
  width: 55px;
  -premailer-width: 55;
}
table.two {
  width: 110px;
  -premailer-width: 110;
}
table.three {
  width: 165px;
  -premailer-width: 165;
}
table.four {
  width: 220px;
  -premailer-width: 220;
}
table.five {
  width: 275px;
  -premailer-width: 275;
}
table.six {
  width: 330px;
  -premailer-width: 330;
}
table.seven {
  width: 385px;
  -premailer-width: 385;
}
table.eight {
  width: 440px;
  -premailer-width: 440;
}
table.nine {
  width: 495px;
  -premailer-width: 495;
}
table.ten {
  width: 550px;
  -premailer-width: 550;
}
table.eleven {
  width: 605px;
  -premailer-width: 605;
}
table.twelve {
  width: 660px;
  -premailer-width: 660;
}
table.one center {
  min-width: 55px;
}
table.two center {
  min-width: 110px;
}
table.three center {
  min-width: 165px;
}
table.four center {
  min-width: 220px;
}
table.five center {
  min-width: 275px;
}
table.six center {
  min-width: 330px;
}
table.seven center {
  min-width: 385px;
}
table.eight center {
  min-width: 440px;
}
table.nine center {
  min-width: 495px;
}
table.ten center {
  min-width: 550px;
}
table.eleven center {
  min-width: 605px;
}
table.twelve center {
  min-width: 660px;
}
table.one .panel center {
  min-width: 55px;
}
table.two .panel center {
  min-width: 110px;
}
table.three .panel center {
  min-width: 165px;
}
table.four .panel center {
  min-width: 220px;
}
table.five .panel center {
  min-width: 275px;
}
table.six .panel center {
  min-width: 330px;
}
table.seven .panel center {
  min-width: 385px;
}
table.eight .panel center {
  min-width: 440px;
}
table.nine .panel center {
  min-width: 495px;
}
table.ten .panel center {
  min-width: 550px;
}
table.eleven .panel center {
  min-width: 605px;
}
table.twelve .panel center {
  min-width: 660px;
}
.body .columns td.one,
.body .column td.one {
  width: 8.333333%;
}
.body .columns td.two,
.body .column td.two {
  width: 16.666666%;
}
.body .columns td.three,
.body .column td.three {
  width: 25%;
}
.body .columns td.four,
.body .column td.four {
  width: 33.333333%;
}
.body .columns td.five,
.body .column td.five {
  width: 41.666666%;
}
.body .columns td.six,
.body .column td.six {
  width: 50%;
}
.body .columns td.seven,
.body .column td.seven {
  width: 58.333333%;
}
.body .columns td.eight,
.body .column td.eight {
  width: 66.666666%;
}
.body .columns td.nine,
.body .column td.nine {
  width: 75%;
}
.body .columns td.ten,
.body .column td.ten {
  width: 83.333333%;
}
.body .columns td.eleven,
.body .column td.eleven {
  width: 91.666666%;
}
.body .columns td.twelve,
.body .column td.twelve {
  width: 100%;
}
td.offset-by-one {
  padding-left: 55px;
}
td.offset-by-two {
  padding-left: 110px;
}
td.offset-by-three {
  padding-left: 165px;
}
td.offset-by-four {
  padding-left: 220px;
}
td.offset-by-five {
  padding-left: 275px;
}
td.offset-by-six {
  padding-left: 330px;
}
td.offset-by-seven {
  padding-left: 385px;
}
td.offset-by-eight {
  padding-left: 440px;
}
td.offset-by-nine {
  padding-left: 495px;
}
td.offset-by-ten {
  padding-left: 550px;
}
td.offset-by-eleven {
  padding-left: 605px;
}
td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}
table.columns .text-pad,
table.column .text-pad {
  padding-left: 20px;
  padding-right: 20px;
}
table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: 20px;
}
table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: 20px;
}
/* Block Grid */
.block-grid {
  width: 100%;
  max-width: 660px;
}
.block-grid td {
  display: inline-block;
  padding: 10px;
}
.two-up td {
  width: 331px;
  -premailer-width: 331;
}
.three-up td {
  width: 220px;
  -premailer-width: 220;
}
.four-up td {
  width: 165px;
  -premailer-width: 165;
}
.five-up td {
  width: 132px;
  -premailer-width: 132;
}
.six-up td {
  width: 110px;
  -premailer-width: 110;
}
.seven-up td {
  width: 94px;
  -premailer-width: 94;
}
.eight-up td {
  width: 82px;
  -premailer-width: 82;
}
/* Alignment & Visibility Classes */
table.center,
td.center {
  text-align: center;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}
span.center {
  display: block;
  width: 100%;
  text-align: center;
}
img.center {
  margin: 0 auto;
  float: none;
}
.show-for-small,
.hide-for-desktop {
  display: none;
}
/* Typography */
body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  color: #222222;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: inherit;
  word-break: normal;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
body,
table.body,
p,
td {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
p.lead,
p.lede,
p.leed {
  font-size: 18px;
  line-height: 20.7px;
}
p {
  margin-bottom: 10px;
}
small {
  font-size: 10.2px;
}
a {
  color: #d12329;
  text-decoration: none;
}
a:hover {
  color: #a51c20 !important;
}
a:active {
  color: #a51c20 !important;
}
a:visited {
  color: #d12329 !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #d12329;
}
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #d12329 !important;
}
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #d12329 !important;
}
/* Panels */
.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important;
}
.sub-grid table {
  width: 100%;
}
.sub-grid td.sub-columns {
  padding-bottom: 0;
}
/* Buttons */
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
}
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: #d12329;
  border: 1px solid #7a1418;
  color: #ffffff;
  padding: 8px 0;
}
table.tiny-button td {
  padding: 5px 0 4px;
}
table.small-button td {
  padding: 8px 0 7px;
}
table.medium-button td {
  padding: 12px 0 10px;
}
table.large-button td {
  padding: 21px 0 18px;
}
table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-size: 13.8px;
  display: block;
  height: 100%;
  width: 100%;
}
table.tiny-button td a {
  font-size: 10.2px;
  font-weight: normal;
}
table.small-button td a {
  font-size: 13.8px;
}
table.medium-button td a {
  font-size: 17.4px;
}
table.large-button td a {
  font-size: 24px;
}
table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #a51c20 !important;
}
table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #fff !important;
}
table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #a51c20 !important;
}
table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important;
}
table.secondary td {
  background: #4b606d;
  border-color: #36454f;
  color: #555;
}
table.secondary td a {
  color: #555;
}
table.secondary:hover td {
  background: #36454f !important;
  color: #555;
}
table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #555 !important;
}
table.success td {
  background: #5da423;
  border-color: #396516;
}
table.success:hover td {
  background: #396516 !important;
}
table.alert td {
  background: #c60f13;
  border-color: #67080a;
}
table.alert:hover td {
  background: #67080a !important;
}
table.radius td {
  border-radius: 3px;
}
table.round td {
  border-radius: 500px;
}
/* Outlook First */
body.outlook p {
  display: inline !important;
}
/*  Media Queries */
@media only screen and (max-width: 662px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }
  table[class="body"] center {
    min-width: 0 !important;
  }
  table[class="body"] .container {
    width: 95% !important;
  }
  table[class="body"] .row {
    position: relative !important;
    width: 100% !important;
    display: block !important;
  }
  table[class="body"] .wrapper {
    position: relative !important;
    display: block !important;
    padding-right: 0 !important;
  }
  table[class="body"] .columns,
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important;
  }
  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }
  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100% !important;
  }
  table[class="body"] .columns td.one,
  table[class="body"] .column td.one {
    width: 8.333333% !important;
  }
  table[class="body"] .columns td.two,
  table[class="body"] .column td.two {
    width: 16.666666% !important;
  }
  table[class="body"] .columns td.three,
  table[class="body"] .column td.three {
    width: 25% !important;
  }
  table[class="body"] .columns td.four,
  table[class="body"] .column td.four {
    width: 33.333333% !important;
  }
  table[class="body"] .columns td.five,
  table[class="body"] .column td.five {
    width: 41.666666% !important;
  }
  table[class="body"] .columns td.six,
  table[class="body"] .column td.six {
    width: 50% !important;
  }
  table[class="body"] .columns td.seven,
  table[class="body"] .column td.seven {
    width: 58.333333% !important;
  }
  table[class="body"] .columns td.eight,
  table[class="body"] .column td.eight {
    width: 66.666666% !important;
  }
  table[class="body"] .columns td.nine,
  table[class="body"] .column td.nine {
    width: 75% !important;
  }
  table[class="body"] .columns td.ten,
  table[class="body"] .column td.ten {
    width: 83.333333% !important;
  }
  table[class="body"] .columns td.eleven,
  table[class="body"] .column td.eleven {
    width: 91.666666% !important;
  }
  table[class="body"] .columns td.twelve,
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }
  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  table[class="body"] .text-pad {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  table[class="body"] .right-text-pad,
  table[class="body"] .text-pad-right {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  table[class="body"] .left-text-pad,
  table[class="body"] .text-pad-left {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }
  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
  table[class="container"] .block-grid td {
    width: 100% !important;
  }
}
.appleLinks a {
  color: #d12329;
  text-decoration: none;
}
.appleLinks a:hover,
.appleLinks a:active {
  color: #a51c20 !important;
}
.appleLinks a:visited {
  color: #d12329 !important;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
a.link_box {
  display: block;
}
a.link_box,
a.link_box:link,
a.link_box:visited,
a.link_box:hover,
a.link_box:focus,
a.link_box:active {
  text-decoration: none;
  outline: none;
}
a.link_underline {
  text-decoration: underline;
}
a.link_underline:hover,
a.link_underline:focus {
  text-decoration: underline;
  cursor: pointer;
}
a.link_disabled {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
}
table {
  -premailer-cellpadding: 0;
  -premailer-cellspacing: 0;
  empty-cells: hide;
}
table.row {
  -premailer-width: 100%;
}
table.body {
  -premailer-height: 100%;
  -premailer-width: 100%;
}
.block-grid {
  -premailer-width: 100%;
}
.body .columns td.one,
.body .column td.one {
  -premailer-width: 8.333333%;
}
.body .columns td.two,
.body .column td.two {
  -premailer-width: 16.666666%;
}
.body .columns td.three,
.body .column td.three {
  -premailer-width: 25%;
}
.body .columns td.four,
.body .column td.four {
  -premailer-width: 33.333333%;
}
.body .columns td.five,
.body .column td.five {
  -premailer-width: 41.666666%;
}
.body .columns td.six,
.body .column td.six {
  -premailer-width: 50%;
}
.body .columns td.seven,
.body .column td.seven {
  -premailer-width: 58.333333%;
}
.body .columns td.eight,
.body .column td.eight {
  -premailer-width: 66.666666%;
}
.body .columns td.nine,
.body .column td.nine {
  -premailer-width: 75%;
}
.body .columns td.ten,
.body .column td.ten {
  -premailer-width: 83.333333%;
}
.body .columns td.eleven,
.body .column td.eleven {
  -premailer-width: 91.666666%;
}
.body .columns td.twelve,
.body .column td.twelve {
  -premailer-width: 100%;
}
td.expander {
  -premailer-width: 1;
}
.sub-grid table {
  -premailer-width: 100%;
}
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  -premailer-width: 100%;
}
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  -premailer-width: auto;
}
.filler {
  height: 10px;
  -premailer-height: 10px;
}
.filler,
.filler .empty {
  line-height: 0;
  font-size: 0;
}
.icon-caret {
  position: relative;
  display: inline;
  vertical-align: text-bottom;
  line-height: 0;
  font-size: 0;
  bottom: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #d12329;
}
table.secondary td,
table.secondary td a,
table.secondary:hover td {
  color: #ffffff;
}
table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #ffffff !important;
}
.row.sideBorder {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.row.bordered td.wrapper {
  padding-top: 0;
}
.row.bordered table.columns td,
.row.bordered table.column td {
  padding-bottom: 0;
}
.row.bordered .wrapper {
  border-left: 1px solid #ebebeb;
}
.row.bordered .wrapper .columns .text-pad {
  padding-left: 19px;
}
.row.bordered .wrapper .columns.six {
  width: 329px;
}
.row.bordered .wrapper.first {
  border-left: 0;
}
.row.bordered .wrapper.first .columns.six {
  width: 330px;
  -premailer-width: 330;
}
.row.bordered .wrapper.first .columns .text-pad {
  padding-left: 20px;
}
@media only screen and (max-width: 662px) {
  table[class="body"] .row.bordered .filler {
    display: none !important;
    visibility: hidden !important;
  }
  table[class="body"] .row.bordered .wrapper {
    border-left: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  table[class="body"] .row.bordered .wrapper .columns .text-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  table[class="body"] .row.bordered .wrapper .columns {
    border-top: 1px solid #ebebeb !important;
  }
  table[class="body"] .row.bordered .wrapper .columns td {
    padding-top: 10px !important;
  }
  table[class="body"] .row.bordered .wrapper.first .columns {
    border-top: 0 !important;
  }
  table[class="body"] .row.bordered .wrapper.first .columns td {
    padding-top: 0 !important;
  }
}
.header {
  background-color: #4b606d;
}
.header,
.header td,
.header .inner {
  color: #afbabf !important;
}
body .header a,
body .header a:link,
body .header a:visited,
body .header a:hover,
body .header a:focus,
body .header a:active {
  color: #afbabf !important;
}
.header .amandine td,
.header .amandine td .name {
  text-align: right;
  line-height: 25.33333333px;
}
.header .amandine td img {
  float: right;
  padding-left: 20px;
}
.header .conseils {
  padding-top: 0;
}
.header .conseils td {
  padding-top: 0;
  text-transform: uppercase;
  font-size: 20.004px;
  line-height: 1.1;
}
@media only screen and (max-width: 662px) {
  table[class="body"] .header .wrapper.last img {
    width: 76px !important;
    height: 76px !important;
    padding-left: 10px !important;
  }
}
.contentOnline {
  background-color: #ffffff;
}
.contentOnline,
.contentOnline td,
.contentOnline .inner {
  color: #4b606d !important;
}
body .contentOnline a,
body .contentOnline a:link,
body .contentOnline a:visited,
body .contentOnline a:hover,
body .contentOnline a:focus,
body .contentOnline a:active {
  color: #4b606d !important;
}
.contentOnline td {
  font-size: 10.2px;
  line-height: 13.566px;
}
.contentOnline .online {
  display: block;
  padding-bottom: 5px;
}
.contentOnline .prestation {
  display: block;
}
.contentInfoClient {
  background-color: #ffffff;
}
.contentInfoClient,
.contentInfoClient td,
.contentInfoClient .inner {
  color: #4b606d !important;
}
body .contentInfoClient a,
body .contentInfoClient a:link,
body .contentInfoClient a:visited,
body .contentInfoClient a:hover,
body .contentInfoClient a:focus,
body .contentInfoClient a:active {
  color: #4b606d !important;
}
.contentInfoClient td {
  font-size: 11.4px;
  line-height: 15.162px;
}
.contentTop {
  background-color: #ffffff;
}
.contentTop,
.contentTop td,
.contentTop .inner {
  color: #d12329 !important;
}
body .contentTop a,
body .contentTop a:link,
body .contentTop a:visited,
body .contentTop a:hover,
body .contentTop a:focus,
body .contentTop a:active {
  color: #d12329 !important;
}
.contentMain {
  background-color: #ffffff;
}
.contentMain .text {
  display: block;
  padding-bottom: 10px;
}
.contentMain .wrapper-buttons {
  width: 100%;
  -premailer-width: 100%;
}
.contentMain .wrapper-buttons .sub-columns.first {
  padding-right: 10px;
}
.contentMain .wrapper-buttons .sub-columns.last {
  padding-left: 10px;
}
.contentMain .wrapper-buttons .button td {
  padding: 0;
}
.contentMain .wrapper-buttons .button td a {
  padding: 5px 5px 4px 5px;
  font-weight: bold;
  font-size: 11.4px;
  line-height: 15.162px;
  box-sizing: border-box;
}
.contentMain .wrapper-buttons .button td a,
.contentMain .wrapper-buttons .button td a:link,
.contentMain .wrapper-buttons .button td a:visited,
.contentMain .wrapper-buttons .button td a:hover,
.contentMain .wrapper-buttons .button td a:focus,
.contentMain .wrapper-buttons .button td a:active {
  color: #ffffff !important;
}
@media only screen and (max-width: 662px) {
  table[class="body"] .contentMain .wrapper-buttons .sub-columns.first {
    padding-right: 5px;
  }
  table[class="body"] .contentMain .wrapper-buttons .sub-columns.last {
    padding-left: 5px;
  }
  table[class="body"] .contentMain .wrapper-buttons .button td {
    width: auto !important;
  }
}
.contentBottom {
  background-color: #ffffff;
}
.contentBottom .title {
  color: #d12329;
  padding-bottom: 5px;
}
.contentBottom .number {
  display: block;
  font-size: 80px;
  line-height: 120px;
  font-weight: bold;
  color: #afbabf;
}
.contentBottom .text b {
  color: #4b606d;
}
.contentBottom img {
  border: 1px solid #ebebeb;
}
@media only screen and (max-width: 662px) {
  table[class="body"] .contentBottom .number {
    line-height: 100px !important;
  }
}
.contentFooter {
  background-color: #ebebeb;
}
.contentFooter,
.contentFooter td,
.contentFooter .inner {
  color: #4b606d !important;
}
body .contentFooter a,
body .contentFooter a:link,
body .contentFooter a:visited,
body .contentFooter a:hover,
body .contentFooter a:focus,
body .contentFooter a:active {
  color: #4b606d !important;
}
.contentFooter .title {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.contentContact {
  background-color: #d9d9d9;
}
.contentContact,
.contentContact td,
.contentContact .inner {
  color: #4b606d !important;
}
body .contentContact a,
body .contentContact a:link,
body .contentContact a:visited,
body .contentContact a:hover,
body .contentContact a:focus,
body .contentContact a:active {
  color: #4b606d !important;
}
.contentContact td {
  font-size: 10.2px;
  line-height: 13.566px;
}
.contentWebsite {
  background-color: #4b606d;
}
.contentWebsite,
.contentWebsite td,
.contentWebsite .inner {
  color: #ffffff !important;
}
body .contentWebsite a,
body .contentWebsite a:link,
body .contentWebsite a:visited,
body .contentWebsite a:hover,
body .contentWebsite a:focus,
body .contentWebsite a:active {
  color: #ffffff !important;
}
.contentWebsite td {
  font-size: 13px;
  line-height: 17.29px;
  word-break: normal;
  word-wrap: normal;
}
.contentUnsubscribe {
  background-color: #ffffff;
}
.contentUnsubscribe,
.contentUnsubscribe td,
.contentUnsubscribe .inner {
  color: #4b606d !important;
}
body .contentUnsubscribe a,
body .contentUnsubscribe a:link,
body .contentUnsubscribe a:visited,
body .contentUnsubscribe a:hover,
body .contentUnsubscribe a:focus,
body .contentUnsubscribe a:active {
  color: #4b606d !important;
}
.contentUnsubscribe td {
  font-size: 11.4px;
  line-height: 15.162px;
}
.contentUnsubscribe .prestation {
  display: block;
}
.contentUnsubscribe .unsub {
  display: block;
  padding-top: 5px;
}
