<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">EXPERT INFOS LES ECHOS PUBLISHING - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span><br/>
														<!--{{</gab_lien_message_online>}}-->
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper first">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad center">
														<img class="center" src="./theme/images/expertinfos_lesechospublishing.png" alt="Expert Infos - Les Echos Publishing" width="220" height="50" />
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h2 class="title"><!--{{</html_avant>
														<defaut>}}-->La Minute Référencement<!--{{</defaut>
														<html_apres>}}--></h2><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="date"># <!--{{</html_avant>
														<defaut>}}-->juillet 2016<!--{{</defaut>
														<html_apres>}}--></span><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- CONTENT INTRO START -->
								<table border="0" class="row contentIntro">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="four sub-columns text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/special-ete.png"><!--gethref--></a><!--{{</src>
														<lien></lien>
														<survol>Spécial Été</survol>
														<width>160</width>
														<height>84</height>
														<width_max>320</width_max>
														<height_max>168</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><img class="center" src="./theme/images/special-ete.png" alt="Spécial Été" width="160" height="84" /><!--}}DEL-->
													</td>
													<td class="eight sub-columns text-pad-right">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h1><!--{{</html_avant>
														<defaut>}}-->Le TOP 5 des meilleurs Easter Eggs de Google<!--{{</defaut>
														<html_apres>}}--></h1><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT INTRO END -->

								<!-- CONTENT MAIN START -->
								<!--{{##{{ <bloc nom="actualites" type="debut" sstype="actualiteSansLien1">
									<items_ini>actualiteSansLien1|actualiteAvecLien1|actualiteAvecLien2|actualiteAvecLien3|actualiteAvecLien4</items_ini>
								</bloc>}}##}}-->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/content-main-01.png"><!--gethref--></a><!--{{</src>
														<lien></lien>
														<survol>Un jeu de dinosaure dans Google Chrome</survol>
														<width>300</width>
														<height>169</height>
														<width_max>1280</width_max>
														<height_max>720</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/content-main-01.png" alt="Expert Infos - Les Echos Publishing" width="300" height="169" /></a><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
				        								<html_avant>}}--><h5 class="title"><!--{{</html_avant>
				        								<defaut>}}-->Un jeu de dinosaure dans Google Chrome<!--{{</defaut>
				        								<html_apres>}}--></h5><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Les développeurs de Chrome ont caché un jeu à utiliser quand vous perdez votre connexion à internet. Lorsque vous voyez le message d'erreur, appuyez sur la barre d'espace pour faire sauter le dinosaure au-dessus des cactus...<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualiteAvecLien1" /> }}##}}-->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/content-main-02.png"><!--gethref--></a><!--{{</src>
														<lien>https://www.google.fr/search?hl=en&q=google+in+1998&ei=8XhNV9K-FIfagAbj-JO4BQ</lien>
														<survol>Vous souvenez-vous de la page de résultats de 1998 ?</survol>
														<width>300</width>
														<height>169</height>
														<width_max>1280</width_max>
														<height_max>720</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/content-main-02.png" alt="Expert Infos - Les Echos Publishing" width="300" height="169" /></a><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
				        								<html_avant>}}--><h5 class="title"><!--{{</html_avant>
				        								<defaut>}}-->Vous souvenez-vous de la page de résultats de 1998 ?<!--{{</defaut>
				        								<html_apres>}}--></h5><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Cherchez « google in 1998 » sur l'interface anglaise de google.com et vous aurez la surprise de voir les résultats de la recherche Google avec l'interface de l'époque.<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
				        								<table class="subWrapper" border="0">
				        									<tr>
				        										<td class="four sub-columns text-pad-right first">&#160;</td>
				        										<td class="eight sub-columns text-pad-left last">
				        											<!--{{##{{<champ>
																	<type>lien</type>
																	<href>https://www.google.fr/search?hl=en&q=google+in+1998&ei=8XhNV9K-FIfagAbj-JO4BQ</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" class="medium-button"><tr><td><!--{{</html_avant>}}-->
																	<!--DEL{{--><a target="_blank" class="medium-button-link" href="http://www.expertinfos.com"><!--}}DEL-->
																	<!--{{<texte>}}-->Voir la page de résultats<!--{{</texte>}}-->
																	<!--DEL{{--></a><!--}}DEL-->
																	<!--{{<params>
																	}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
																	</params>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	</champ>}}##}}-->
				        										</td>
				        									</tr>
				        								</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualiteAvecLien2" /> }}##}}-->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/content-main-03.png"><!--gethref--></a><!--{{</src>
														<lien>https://www.google.fr/search?hl=fr&q=do+a+barrel+roll+&meta=&gws_rd=ssl</lien>
														<survol>Do the Barrel Roll</survol>
														<width>300</width>
														<height>169</height>
														<width_max>1280</width_max>
														<height_max>720</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/content-main-03.png" alt="Expert Infos - Les Echos Publishing" width="300" height="169" /></a><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
				        								<html_avant>}}--><h5 class="title"><!--{{</html_avant>
				        								<defaut>}}-->Do the Barrel Roll<!--{{</defaut>
				        								<html_apres>}}--></h5><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Sur Google, tapez « do a barrel roll » (ce qui signifie « fais un tonneau »), et la page de résultats va s'animer en faisant un 360°.<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
				        								<table class="subWrapper" border="0">
				        									<tr>
				        										<td class="four sub-columns text-pad-right first">&#160;</td>
				        										<td class="eight sub-columns text-pad-left last">
				        											<!--{{##{{<champ>
																	<type>lien</type>
																	<href>https://www.google.fr/search?hl=fr&q=do+a+barrel+roll+&meta=&gws_rd=ssl</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" class="medium-button"><tr><td><!--{{</html_avant>}}-->
																	<!--DEL{{--><a target="_blank" class="medium-button-link" href="http://www.expertinfos.com"><!--}}DEL-->
																	<!--{{<texte>}}-->Voir la page de résultats<!--{{</texte>}}-->
																	<!--DEL{{--></a><!--}}DEL-->
																	<!--{{<params>
																	}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
																	</params>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	</champ>}}##}}-->
				        										</td>
				        									</tr>
				        								</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualiteAvecLien3" /> }}##}}-->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/content-main-04.png"><!--gethref--></a><!--{{</src>
														<lien>https://www.google.fr/search?q=zerg+rush&gws_rd=ssl</lien>
														<survol>Zerg Rush</survol>
														<width>300</width>
														<height>169</height>
														<width_max>1280</width_max>
														<height_max>720</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/content-main-04.png" alt="Expert Infos - Les Echos Publishing" width="300" height="169" /></a><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
				        								<html_avant>}}--><h5 class="title"><!--{{</html_avant>
				        								<defaut>}}-->Zerg Rush<!--{{</defaut>
				        								<html_apres>}}--></h5><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Sur Google, tapez « Zerg Rush » : des petits o de Google commenceront à attaquer vos résultats. Vous pourrez riposter mais malheureusement pas pour longtemps !<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
				        								<table class="subWrapper" border="0">
				        									<tr>
				        										<td class="four sub-columns text-pad-right first">&#160;</td>
				        										<td class="eight sub-columns text-pad-left last">
				        											<!--{{##{{<champ>
																	<type>lien</type>
																	<href>https://www.google.fr/search?q=zerg+rush&gws_rd=ssl</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" class="medium-button"><tr><td><!--{{</html_avant>}}-->
																	<!--DEL{{--><a target="_blank" class="medium-button-link" href="http://www.expertinfos.com"><!--}}DEL-->
																	<!--{{<texte>}}-->Voir la page de résultats<!--{{</texte>}}-->
																	<!--DEL{{--></a><!--}}DEL-->
																	<!--{{<params>
																	}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
																	</params>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	</champ>}}##}}-->
				        										</td>
				        									</tr>
				        								</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualiteAvecLien4" /> }}##}}-->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/content-main-05.png"><!--gethref--></a><!--{{</src>
														<lien>https://www.google.fr/search?q=Super+Mario+Bros.&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=GEVyV77nBe_R8gfDvpV4#q=Super+Mario+Bros.&stick=H4sIAAAAAAAAAONgecToyC3w8sc9YSmLSWtOXmM04uIKzsgvd80rySypFFLhYoOypLh4pDj0c_UNsisLijQYpLi44DweAEE74m5GAAAA</lien>
														<survol>Super Mario Bros</survol>
														<width>300</width>
														<height>169</height>
														<width_max>1280</width_max>
														<height_max>720</height_max>
														<params>}}-->
														<img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
														</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="http://www.expertinfos.com"><img class="center" src="./theme/images/content-main-05.png" alt="Expert Infos - Les Echos Publishing" width="300" height="169" /></a><!--}}DEL-->
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
				        								<html_avant>}}--><h5 class="title"><!--{{</html_avant>
				        								<defaut>}}-->Super Mario Bros<!--{{</defaut>
				        								<html_apres>}}--></h5><!--{{</html_apres>
				        								</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->En recherchant « Super Mario Bros », vous verrez un petit bloc avec un ? sur la droite de l'écran. En cliquant dessus, vous entendrez des sons qui vous paraîtront très familiers !<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
				        								<table class="subWrapper" border="0">
				        									<tr>
				        										<td class="four sub-columns text-pad-right first">&#160;</td>
				        										<td class="eight sub-columns text-pad-left last">
				        											<!--{{##{{<champ>
																	<type>lien</type>
																	<href>https://www.google.fr/search?q=Super+Mario+Bros.&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=GEVyV77nBe_R8gfDvpV4#q=Super+Mario+Bros.&stick=H4sIAAAAAAAAAONgecToyC3w8sc9YSmLSWtOXmM04uIKzsgvd80rySypFFLhYoOypLh4pDj0c_UNsisLijQYpLi44DweAEE74m5GAAAA</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" class="medium-button"><tr><td><!--{{</html_avant>}}-->
																	<!--DEL{{--><a target="_blank" class="medium-button-link" href="http://www.expertinfos.com"><!--}}DEL-->
																	<!--{{<texte>}}-->Voir la page de résultats<!--{{</texte>}}-->
																	<!--DEL{{--></a><!--}}DEL-->
																	<!--{{<params>
																	}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
																	</params>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	</champ>}}##}}-->
				        										</td>
				        									</tr>
				        								</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="fin" /> }}##}}-->
								<!-- CONTENT MAIN END -->

								<!-- CONTENT VOTE START -->
								<table border="0" class="row contentVote">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<table class="subWrapper" border="0">
				        									<tr>
				        										<td class="one sub-columns first">&#160;</td>
				        										<td class="ten sub-columns text-pad last">
				        											<!--{{##{{<champ>
																	<type>lien</type>
																	<href>http://doodle.com/poll/a2v2vqu3qzfphezb</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" class="medium-button"><tr><td><!--{{</html_avant>}}-->
																	<!--DEL{{--><a target="_blank" class="medium-button-link" href="http://doodle.com/poll/a2v2vqu3qzfphezb"><!--}}DEL-->
																	<!--{{<texte>}}-->Pour voter pour votre Easter Egg préféré, c'est ICI !<!--{{</texte>}}-->
																	<!--DEL{{--></a><!--}}DEL-->
																	<!--{{<params>
																	}}--><a data-type="getstyle" class="medium-button-link"><!--getstyle--></a><!--{{ class="medium-button-link"
																	</params>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	</champ>}}##}}-->
																</td>
																<td class="one sub-columns first">&#160;</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT VOTE END -->

								<!-- CONTENT BOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad-left">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>1</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref1.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre rendez-vous<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Chaque mois découvrez dans « La Minute Référencement » des infos pratiques, des conseils et astuces pour optimiser votre présence dans Google et autres moteurs.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper middle">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>2</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref2.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre accompagnement<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Retrouvez les conseils de nos experts à partir de votre <a target="_blank" href="http://www.expertinfos.com">Espace Abonné</a>, et suivez le positionnement de votre site internet dans les moteurs de recherche.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="center text-pad-right">
														<table border="0" class="imgCont">
															<tr>
																<td class="center">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant><img src="}}--><a data-type="gethref" href="./theme/images/"><!--gethref--></a><!--{{picto_ref</html_avant>
																	<html_apres>.png"}}-->
																	<img class="icon-img" data-type="getstyle" /><!--getstyle-->
																	<!--{{ width="80" height="80" /></html_apres>
																	<defaut>3</defaut>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="icon-img" src="./theme/images/picto_ref3.png" alt="Expert Infos - Les Echos Publishing" width="80" height="80" /><!--}}DEL-->
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.expertinfos.com</href>
														<html_interieur_avant>}}--><h5 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Votre contact<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Vous souhaitez recevoir « La Minute Référencement » sur un autre email ? Abonner un collaborateur ? Adressez-nous votre demande à <a href="mailto:abourreau@lesechos.fr">abourreau@lesechos.fr</a>.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT CONTACT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Notre équipe SEO à votre écoute <a href="tel:0549603197"><span class="important">05.49.60.31.97</span></a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="eight columns">
												<tr>
													<td class="text-pad">
														<p class="ei_lep">EXPERT INFOS LES ECHOS PUBLISHING</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="webicons wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad-right">
														<a target="_blank" class="webicon first" href="http://www.facebook.com/Expert-Infos-Les-Echos-Publishing-150613125146238">
															<img src="./theme/images/webicon-facebook.gif" alt="Facebook" width="30" height="30" />
														</a><!--
													 --><img class="spacer-webicon" src="./theme/images/spacer-webicon.gif" alt="" width="10" height="30" /><!--
													 --><a target="_blank" class="webicon" href="http://plus.google.com/101605411261801142173/">
															<img src="./theme/images/webicon-googleplus.gif" alt="Google+" width="30" height="30" />
														</a><!--
													 --><img class="spacer-webicon" src="./theme/images/spacer-webicon.gif" alt="" width="10" height="30" /><!--
													 --><a target="_blank" class="webicon" href="http://twitter.com/expertinfos">
															<img src="./theme/images/webicon-twitter.gif" alt="Twitter" width="30" height="30" />
														</a><!--
													 --><img class="spacer-webicon" src="./theme/images/spacer-webicon.gif" alt="" width="10" height="30" /><!--
													 --><a target="_blank" class="webicon" href="http://www.viadeo.com/fr/company/expert-infos-les-echos">
															<img src="./theme/images/webicon-viadeo.gif" alt="Viadeo" width="30" height="30" />
														</a><!--
													 --><img class="spacer-webicon" src="./theme/images/spacer-webicon.gif" alt="" width="10" height="30" /><!--
													 --><a target="_blank" class="webicon last" href="http://www.youtube.com/user/Sidpresse">
															<img src="./theme/images/webicon-youtube.gif" alt="Youtube" width="30" height="30" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>