<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a target="_blank" class="link_box" href="#">
															<img src="./theme/images/header.png" alt="Gan - InfosExpert" width="640" height="102" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns text-pad first">
														<img src="./theme/images/filler_partenariat.gif" alt="Gan - SuiviExpertPro" width="400" height="55" />
													</td>
													<td class="four sub-columns text-pad last">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img src="./theme/images/partenariat_lep.png" alt="Gan - SuiviExpertPro" width="160" height="55" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- CONTENTMAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-left">
																	<h1>Un 70e anniversaire célébré en grande pompe&#160;!</h1>
																	<p>La 70e édition du Congrès National de l'Ordre des Experts-Comptables s'est déroulée du 30 septembre au 2 octobre au Palais Congrès à Paris.</p>
																	<p>Comme vous le savez, pour ce 70<sup>e</sup> anniversaire, le Congrès s'est concentré sur le numérique, thème fort pour les Cabinets et les entreprises en général.</p>
																	<p>À cette occasion, Philippe Arraou, Président du Conseil supérieur de l'Ordre des Experts-Comptables, a su démontrer comment les experts-comptables se sont approprié les outils et les solutions numériques pour exercer leur mission de conseil auprès des chefs d'entreprise.</p>
																	<p>Constat repris par Manuel Valls en visite au Congrès, au cours duquel il a également réaffirmé le rôle majeur joué par les experts-comptables, « acteurs indispensables dans notre économie ».</p>
																	<h2>Gan Assurances partenaire de la profession</h2>
																	<p>Pour s'inscrire dans la thématique de ce 70<sup>e</sup> Congrès, Gan Assurances a organisé une quinzaine d'émissions live sur son stand, en partenariat avec Widoobiz, Les Echos et la profession.</p>
																	<p>Ainsi, les 1<sup>er</sup> et 2 octobre, de 14h30 à 17h, Laurent David, journaliste du Groupe Les Echos, a animé des émissions sur toute une série de thématiques, centrées sur les missions sociales du Cabinet et l'avenir de la profession, comme le statut du dirigeant, l'ANI : outil de politique salariale, les contrats Madelin...</p>
																	<p>Philippe Delerive, Directeur général de Gan Assurances, a également participé à l'émission sur le thème : « le digital, les experts-comptables et Gan Assurances ».</p>
																	<p>Nous vous proposons de découvrir ces émissions sur les sites de Widoobiz et de Wexperandyou.</p>
																	<p>Merci encore pour votre accueil et rendez-vous l'année prochaine à Bruxelles !</p>
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<img src="http://lorempixel.com/320/320/business/1/" alt="Dominique Brevet" width="160" height="160" />
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTMAIN END -->

								<!-- CONTENTDIRECTION START -->
								<table border="0" class="row contentDirection">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img src="http://lorempixel.com/200/200/business/2/" alt="Laurent David" width="100" height="100" />
																</td>
																<td class="person">
																	<strong class="name">Laurent David</strong><br/>
																	<em><small class="function">Animateur journalist du Groupe Les Echos</small></em>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img src="http://lorempixel.com/200/200/business/3/" alt="Philippe Delerive" width="100" height="100" />
																</td>
																<td class="person">
																	<strong class="name">Philippe Delerive</strong><br/>
																	<em><small class="function">Directeur général de Gan Assurances</small></em>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTDIRECTION END -->

								<!-- CONTENTEXPERT START -->
								<table border="0" class="row contentExpert">
									<tr>
										<td class="wrapper first">
											<table border="0" class="three columns">
												<tr>
													<td>
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad center portrait">
																	<img src="http://lorempixel.com/200/200/business/4/" alt="Laurent David" width="100" height="100" />
																</td>
															</tr>
															<tr>
																<td class="text-pad center person">
																	<strong class="name">Alexandra Vernier-Bogaert</strong>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper">
											<table border="0" class="three columns">
												<tr>
													<td>
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad center portrait">
																	<img src="http://lorempixel.com/200/200/business/5/" alt="Laurent David" width="100" height="100" />
																</td>
															</tr>
															<tr>
																<td class="text-pad center person">
																	<strong class="name">Catherine Hanser</strong>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper">
											<table border="0" class="three columns">
												<tr>
													<td>
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad center portrait">
																	<img src="http://lorempixel.com/200/200/business/6/" alt="Laurent David" width="100" height="100" />
																</td>
															</tr>
															<tr>
																<td class="text-pad center person">
																	<strong class="name">Charles René Tandé</strong>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="three columns">
												<tr>
													<td>
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad center portrait">
																	<img src="http://lorempixel.com/200/200/business/7/" alt="Laurent David" width="100" height="100" />
																</td>
															</tr>
															<tr>
																<td class="text-pad center person">
																	<strong class="name">Jean Luc Mohr</strong>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTEXPERTEND -->

								<!-- CONTENTFOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<h1 class="center">L'ANI en ligne !</h1>
														<p class="center">Vous souhaitez proposer à vos clients une solution rapide et efficace pour leur permettre de se mettre en conformité avec la législation relative à la complémentaire santé obligatoire dans toutes les entreprises au 1<sup>er</sup> janvier 2016.</p>
														<p class="center">Dans ce cas, vous pouvez leur transmettre ce lien « <a href="http://pro.ganassurances.fr" target="_blank">pro.ganassurances.fr</a> » par email ou les inviter à se mettre en relation avec l'Agent général Gan Assurances le plus proche.</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTFOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>