<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<a target="_blank" class="link_box" href="http://www.agipi.com">
															<img class="center" src="./theme/images/header-newsletter.png" alt="AGIPI Infos" width="640" height="75" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-alaune.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.agipi.com</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-alaune.jpg" width="640" height="290" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://infos.agipi.com</href>
														<html_avant>}}--><h5 class="preTitle"><!--{{</html_avant>
														<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->Catégorie<!--{{</texte>
														<html_interieur_apres>}}--></span>><!--{{</html_interieur_apres>
														<html_apres>}}--></h5><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->La nouvelle règlementation du cumul emploi-retraite<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Comme près de 500 000 retraités, les salariés et les travailleurs indépendants peuvent cumuler leurs pensions de retraite avec des revenus professionnels. Un régime complexe qui appelle quelques éclaircissements (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<table border="0" class="separator"><tr><td>&#160;</td></tr></table>

								<!-- ACTUALITÉS START -->
								<!--{{##{{ <bloc nom="actualites" type="debut" sstype="actualite1">
									<items_ini>actualite1|actualite2|actualite3</items_ini>
								</bloc>}}##}}-->
								<table border="0" class="row contentActualites">
									<tr>
										<td class="wrapper">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-news-1.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.agipi.com</lien>
														<survol></survol>
														<width>220</width>
														<height>100</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-news-1.jpg" width="220" height="100" alt="" /><!--}}DEL-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://infos.agipi.com</href>
														<html_avant>}}--><h5 class="preTitle"><!--{{</html_avant>
														<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->Catégorie<!--{{</texte>
														<html_interieur_apres>}}--></span>><!--{{</html_interieur_apres>
														<html_apres>}}--></h5><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->L'épargne retraite est en pleine forme !<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->La Fédération Française des Sociétés d'Assurances (FFSA) a publié récemment sur son site Internet un rapport contenant les données clés des assurances de personnes pour l'année 2013. Ce rapport révèle notamment que les contrats d'épargne retraite individuels se portent plutôt bien (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualite2" /> }}##}}-->
								<table border="0" class="row contentActualites">
									<tr>
										<td class="wrapper">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-news-2.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.agipi.com</lien>
														<survol></survol>
														<width>220</width>
														<height>100</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-news-2.jpg" width="220" height="100" alt="" /><!--}}DEL-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://infos.agipi.com</href>
														<html_avant>}}--><h5 class="preTitle"><!--{{</html_avant>
														<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->Catégorie<!--{{</texte>
														<html_interieur_apres>}}--></span>><!--{{</html_interieur_apres>
														<html_apres>}}--></h5><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Assurance-vie en euros : le bilan de l'année 2014<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Alors que l'on s'attendait à une forte baisse des rendements, les fonds en euros ont finalement bien résisté l'année dernière. Le taux moyen est passé de 2,8 % en 2013 à 2,5 % en 2014. Une chute finalement plus limitée que prévue ! En effet, certains professionnels s'attendaient à voir des contrats afficher des rendements proches de 2,20 %. (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualite3" /> }}##}}-->
								<table border="0" class="row contentActualites">
									<tr>
										<td class="wrapper">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-news-3.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.agipi.com</lien>
														<survol></survol>
														<width>220</width>
														<height>100</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-news-3.jpg" width="220" height="100" alt="" /><!--}}DEL-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://infos.agipi.com</href>
														<html_avant>}}--><h5 class="preTitle"><!--{{</html_avant>
														<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->Catégorie<!--{{</texte>
														<html_interieur_apres>}}--></span>><!--{{</html_interieur_apres>
														<html_apres>}}--></h5><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Développement de l'entreprise : comment financer un projet innovant ?<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Face à la concurrence des entreprises des pays à faible coût de main-d'&oelig;uvre, les entreprises européennes et françaises en particulier n'ont d'autre choix que de se distinguer en offrant des produits ou des services toujours plus innovants. Mais faire la course en tête (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{##{{ <bloc nom="actualites" type="fin" /> }}##}}-->
								<!-- ACTUALITÉS END -->

								<table border="0" class="separator"><tr><td>&#160;</td></tr></table>

								<!-- DOSSIER START -->
								<table border="0" class="row contentDossier">
									<tr>
										<td class="wrapper">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-dossier.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.agipi.com</lien>
														<survol></survol>
														<width>220</width>
														<height>165</height>
														<width_max>1280</width_max>
														<height_max>960</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-dossier.jpg" width="220" height="165" alt="" /><!--}}DEL-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Organiser sa retraite Perp avec le Pair<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Le Pair est le plan d'épargne retraite populaire (perp) d'AGIPI qui répond à une double exigence de sécurité et de performance de votre épargne sur le long terme. Unique sur le marché, le Pair est composé de deux volets : une (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- DOSSIER END -->

								<!-- CHIFFRE START -->
								<table border="0" class="row contentChiffre">
									<tr>
										<td class="wrapper">
											<table border="0" class="five columns">
												<tr>
													<td class="four sub-columns empty">&#160;</td>
													<td class="four sub-columns content">
														<table border="0" class="subWrapper">
															<tr>
																<td class="parenthesis">&#160;</td>
															</tr>
															<tr>
																<td class="value center">
																	<!--{{##{{<champ>
																	<type>lien</type>
																	<href>http://www.agipi.com</href>
																	<texte>}}-->16,6<!--{{</texte>
																	<params>
																	}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																	</params>
																	</champ>}}##}}-->
																</td>
															</tr>
															<tr>
																<td class="parenthesis">&#160;</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns empty">&#160;</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-right">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.agipi.com</href>
														<html_interieur_avant>}}--><h4 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Chiffre du mois<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->L'an dernier, le taux d'absentéisme en entreprise privé a bondi de 18% à 16,6 jours d'absence pour un salarié en moyenne (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CHIFFRE END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="address wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<strong>AGIPI,<br/>Association d'assurés pour la Retraite, l'Épargne, la Prévoyance et la Santé</strong><br/>
														<a target="_blank" href="http://maps.apple.com/?q=52%20rue%20de%20la%20Victoire%2075009%20Paris">
															<span class="important">
																52, rue de la Victoire<br/>
																75009 Paris
															</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="faicons wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" class="faicon" href="http://plus.google.com/107072461097094727057">
															<img src="./theme/images/faicon-googleplus.gif" alt="Google+" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="http://www.linkedin.com/company/agipi">
															<img src="./theme/images/faicon-linkedin.gif" alt="Linkedin" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="http://fr.viadeo.com/fr/company/agipi">
															<img src="./theme/images/faicon-viadeo.gif" alt="Viadeo" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="http://www.youtube.com/channel/UC8qOfnbR2LLlaHcsa-HT4nA">
															<img src="./theme/images/faicon-youtube.gif" alt="Youtube" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="mailto:agipi-infos@agipi.com">
															<img src="./theme/images/faicon-envelope.gif" alt="Contact" width="30" height="30" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>