<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<a target="_blank" class="link_box" href="http://www.agipi.com">
															<img class="center" src="./theme/images/header-newsletter.png" alt="AGIPI" width="640" height="90" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- <table border="0" class="row bordered">
									<tr>
										<td class="wrapper">
											<table border="0" class="twelve columns">
												<tr><td class="center text-pad"><hr class="border" /></td></tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table> -->

								<!-- LETTRE START -->
								<table border="0" class="row contentLettre">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<p>Chers adhérents nous avons le plaisir de vous annoncer que nous vous offrirons à compter du mois prochain une nouvelle newsletter d'information bimensuelle.</p>
														<p>Cette lettre électronique réalisée en partenariat avec les Echos Publishing, vous apportera un éclairage pédagogique et pratique sur l'évolution de la réglementation juridique, fiscale et sociale qui s'applique à votre activité ou votre patrimoine.</p>
														<p>Nous espérons qu'elle constituera une aide précieuse dans la gestion et le développement de voter activité professionnelle ou de votre patrimoine.</p>
														<p>Rendez-vous le mois prochain pour le 1<sup>er</sup> numéro de votre nouvelle newsletter !</p>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<p class="inner">
																		<img class="center" src="./theme/images/exemple-newsletter.jpg" alt="Newsletter AGIPI" width="280" height="529" />
																	</p>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- LETTRE END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="three sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<a target="_blank" class="link_box" href="http://www.agipi.com">
																		<img src="./theme/images/logo-agipi.png" alt="Logo AGIPI" width="100" height="56" />
																	</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="nine sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-right">
																	<a class="link_map" href="https://www.google.com/maps?q=12+avenue+Pierre+Mend%C3%A8s+France+7312+Schiltigheim" target="_blank">
																		12 avenue Pierre Mendès France - CS 10144<br/>
																		7312 Schiltigheim CEDEX
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
															Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page de <a target="_blank" class="link_underline" href="#" lien_blackliste="lien_blackliste"><span class="important">désinscription</span></a>.
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>