<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- CONTENTMONTH START -->
								<table border="0" class="row contentMonth">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<img src="./theme/images/filler_month.gif" alt="BNP Paribas - Parlons PME" width="480" height="20" />
													</td>
													<td class="four sub-columns text-pad last">
														<a href="http://www.parlonspme.fr">
															<span class="dateMonth">Avril 2015</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTMONTH END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a target="_blank" class="link_box" href="http://www.parlonspme.fr">
															<img src="./theme/images/header.png" alt="BNP Paribas - Parlons PME" width="640" height="125" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table border="0" class="row headerShadow">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<img src="./theme/images/header_shadow.png" width="720" height="10" alt="BNP Paribas - Parlons PME" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="six sub-columns text-pad first">
														<img src="./theme/images/filler_partenariat.gif" alt="BNP Paribas - Parlons PME" width="360" height="15" />
													</td>
													<td class="six sub-columns text-pad last">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img src="./theme/images/partenariat_lesechos.png" alt="BNP Paribas - Parlons PME" width="280" height="15" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">Univers PME</span>
														<!--{{##{{ <bloc nom="categorie" type="debut" sstype="vieentreprise">
															<items_ini>vieentreprise</items_ini>
														</bloc> }}##}}-->
														<span class="category"><span class="vieentreprise">Vie de l'entreprise</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore vieentreprise">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="conjoncture" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="conjoncture">Conjoncture</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore conjoncture -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="innovation" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="innovation">Innovation</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore innovation -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="international" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="international">International</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore international -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="financement" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="financement">Financement</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore financement -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="marketing" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="marketing">Marketing</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore marketing -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="assurances" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="assurances">Assurances</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore assurances -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="moyenspaiement" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="moyenspaiement">Moyens de paiement</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore moyenspaiement -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="tresorerie" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="tresorerie">Trésorerie</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore tresorerie -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="fiscalite" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="fiscalite">Fiscalité</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore fiscalite -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="immobilier" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="immobilier">Immobilier</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore immobilier -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="entrepriseresponsable" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="entrepriseresponsable">Entreprise responsable</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore entrepriseresponsable -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="management" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="management">Management</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore management -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="succes" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="succes">Succès</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore succes -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="legislation" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="legislation">Législation</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore legislation -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="creationentreprise" /> }}##}}-->
														<span class="category -premailer-hidden"><span class="creationentreprise">Création d'entreprise</span></span>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.parlonspme.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/actu01.jpg" width="640" height="290" alt="" class="-premailer-hidden" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.parlonspme.fr</href>
														<html_interieur_avant>}}--><h1 class="title -premailer-hidden"><!--{{</html_interieur_avant>
														<texte>}}-->Entreprendre en Pologne<!--{{</texte>
														<html_interieur_apres>}}--></h1><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text -premailer-hidden"><!--{{</html_avant>
														<defaut>}}-->6e puissance économique de l'Union européenne et premier marché en Europe centrale, la Pologne figure également parmi les pays les plus attractifs en termes d'investissements directs étrangers (IDE). Caractérisé par une économie en forte diversification avec de nombreux secteurs en expansion, le pays a mieux résisté à la crise mondiale que nombre de ses voisins européens. Une économie stablete (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://parlonspme.fr</href>
														<html_interieur_avant>}}--><p class="readMore creationentreprise -premailer-hidden">&#8250;&#160;<!--{{</html_interieur_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_interieur_apres>}}--></p><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="fin" /> }}##}}-->
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ALAUNE END -->




							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>