<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- CONTENTMONTH START -->
								<table border="0" class="row contentMonth">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<img src="./theme/images/filler_month.gif" alt="BNP Paribas - Parlons PME" width="480" height="20" />
													</td>
													<td class="four sub-columns text-pad last">
														<a href="http://www.parlonspme.fr">
															<span class="dateMonth">Avril 2015</span>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTMONTH END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a target="_blank" class="link_box" href="http://www.parlonspme.fr">
															<img src="./theme/images/header.png" alt="BNP Paribas - Parlons PME" width="640" height="125" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table border="0" class="row headerShadow">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<img src="./theme/images/header_shadow.png" width="720" height="10" alt="BNP Paribas - Parlons PME" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="six sub-columns text-pad first">
														<img src="./theme/images/filler_partenariat.gif" alt="BNP Paribas - Parlons PME" width="360" height="15" />
													</td>
													<td class="six sub-columns text-pad last">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img src="./theme/images/partenariat_lesechos.png" alt="BNP Paribas - Parlons PME" width="280" height="15" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="preTitle">Univers PME</span>
														<!--{{##{{ <bloc nom="categorie" type="debut" sstype="vieentreprise">
															<items_ini>vieentreprise</items_ini>
														</bloc> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="vieentreprise"><!--{{</html_avant>
														<defaut>}}-->Vie de l'entreprise<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="conjoncture" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="conjoncture"><!--{{</html_avant>
														<defaut>}}-->Conjoncture<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="innovation" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="innovation"><!--{{</html_avant>
														<defaut>}}-->Innovation<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="international" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="international"><!--{{</html_avant>
														<defaut>}}-->International<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="financement" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="financement"><!--{{</html_avant>
														<defaut>}}-->Financement<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="marketing" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="marketing"><!--{{</html_avant>
														<defaut>}}-->Marketing<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="assurances" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="assurances"><!--{{</html_avant>
														<defaut>}}-->Assurances<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="moyenspaiement" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="moyenspaiement"><!--{{</html_avant>
														<defaut>}}-->Moyens de paiement<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="tresorerie" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="tresorerie"><!--{{</html_avant>
														<defaut>}}-->Trésorerie<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="fiscalite" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="fiscalite"><!--{{</html_avant>
														<defaut>}}-->Fiscalité<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="immobilier" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="immobilier"><!--{{</html_avant>
														<defaut>}}-->Immobilier<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="entrepriseresponsable" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="entrepriseresponsable"><!--{{</html_avant>
														<defaut>}}-->Entreprise responsable<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="management" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="management"><!--{{</html_avant>
														<defaut>}}-->Management<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="succes" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="succes"><!--{{</html_avant>
														<defaut>}}-->Succès<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="legislation" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="legislation"><!--{{</html_avant>
														<defaut>}}-->Législation<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="inter" sstype="creationentreprise" /> }}##}}-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="category"><span class="creationentreprise"><!--{{</html_avant>
														<defaut>}}-->Création d'entreprise<!--{{</defaut>
														<html_apres>}}--></span></span><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="categorie" type="fin" /> }}##}}-->

														<a href="http://www.parlonspme.fr">
															<img src="http://lorempixel.com/1280/580/cats/1" width="640" height="290" alt="" />
														</a>
														<h1 class="title">Entreprendre en Pologne</h1>
														<div class="text">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus accusantium a voluptates? Ducimus illum saepe et sunt dolores cum. Nam architecto iusto, esse quidem sed earum reiciendis, odit quasi et.
														</div>
														<a href="http://www.parlonspme.fr">
															<p class="readMore">&#8250;&#160;Lire la suite</p>
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ALAUNE END -->




							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>