/*!
 *
 * NOT TO EDIT - DON't TOUCH IT
 *
 * Definitions of main template
 * 
 */
/**********************************************
* Inkless - Addons                            *
**********************************************/
body,
table.body {
  background-color: #000000;
}
/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles & Reset */
#outlook a {
  padding: 0;
}
body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
/* .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail)  */
.ExternalClass {
  width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}
center {
  width: 100%;
  min-width: 600px;
}
a img {
  border: none;
}
p {
  margin: 0 0 0 10px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}
table,
tr,
td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}
hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}
/* Responsive Grid */
table.body {
  height: 100%;
  width: 100%;
}
table.container {
  width: 600px;
  margin: 0 auto;
  text-align: inherit;
}
table.row {
  padding: 0px;
  width: 100%;
  position: relative;
}
table.container table.row {
  display: block;
}
td.wrapper {
  padding: 10px 0px 0px 0px;
  position: relative;
}
table.columns,
table.column {
  margin: 0 auto;
}
table.columns td,
table.column td {
  padding: 0px 0px 10px;
}
table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 10px;
}
td.sub-column,
td.sub-columns {
  min-width: 0px;
}
table.row td.last,
table.container td.last {
  padding-right: 0px;
}
table.one {
  width: 50px;
}
table.two {
  width: 100px;
}
table.three {
  width: 150px;
}
table.four {
  width: 200px;
}
table.five {
  width: 250px;
}
table.six {
  width: 300px;
}
table.seven {
  width: 350px;
}
table.eight {
  width: 400px;
}
table.nine {
  width: 450px;
}
table.ten {
  width: 500px;
}
table.eleven {
  width: 550px;
}
table.twelve {
  width: 600px;
}
table.one center {
  min-width: 50px;
}
table.two center {
  min-width: 100px;
}
table.three center {
  min-width: 150px;
}
table.four center {
  min-width: 200px;
}
table.five center {
  min-width: 250px;
}
table.six center {
  min-width: 300px;
}
table.seven center {
  min-width: 350px;
}
table.eight center {
  min-width: 400px;
}
table.nine center {
  min-width: 450px;
}
table.ten center {
  min-width: 500px;
}
table.eleven center {
  min-width: 550px;
}
table.twelve center {
  min-width: 600px;
}
table.one .panel center {
  min-width: 50px;
}
table.two .panel center {
  min-width: 100px;
}
table.three .panel center {
  min-width: 150px;
}
table.four .panel center {
  min-width: 200px;
}
table.five .panel center {
  min-width: 250px;
}
table.six .panel center {
  min-width: 300px;
}
table.seven .panel center {
  min-width: 350px;
}
table.eight .panel center {
  min-width: 400px;
}
table.nine .panel center {
  min-width: 450px;
}
table.ten .panel center {
  min-width: 500px;
}
table.eleven .panel center {
  min-width: 550px;
}
table.twelve .panel center {
  min-width: 600px;
}
.body .columns td.one,
.body .column td.one {
  width: 8.333333%;
}
.body .columns td.two,
.body .column td.two {
  width: 16.666666%;
}
.body .columns td.three,
.body .column td.three {
  width: 25%;
}
.body .columns td.four,
.body .column td.four {
  width: 33.333333%;
}
.body .columns td.five,
.body .column td.five {
  width: 41.666666%;
}
.body .columns td.six,
.body .column td.six {
  width: 50%;
}
.body .columns td.seven,
.body .column td.seven {
  width: 58.333333%;
}
.body .columns td.eight,
.body .column td.eight {
  width: 66.666666%;
}
.body .columns td.nine,
.body .column td.nine {
  width: 75%;
}
.body .columns td.ten,
.body .column td.ten {
  width: 83.333333%;
}
.body .columns td.eleven,
.body .column td.eleven {
  width: 91.666666%;
}
.body .columns td.twelve,
.body .column td.twelve {
  width: 100%;
}
td.offset-by-one {
  padding-left: 50px;
}
td.offset-by-two {
  padding-left: 100px;
}
td.offset-by-three {
  padding-left: 150px;
}
td.offset-by-four {
  padding-left: 200px;
}
td.offset-by-five {
  padding-left: 250px;
}
td.offset-by-six {
  padding-left: 300px;
}
td.offset-by-seven {
  padding-left: 350px;
}
td.offset-by-eight {
  padding-left: 400px;
}
td.offset-by-nine {
  padding-left: 450px;
}
td.offset-by-ten {
  padding-left: 500px;
}
td.offset-by-eleven {
  padding-left: 550px;
}
td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}
table.columns .text-pad,
table.column .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}
table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: 10px;
}
table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: 10px;
}
/* Block Grid */
.block-grid {
  width: 100%;
  max-width: 600px;
}
.block-grid td {
  display: inline-block;
  padding: 10px;
}
.two-up td {
  width: 300px;
}
.three-up td {
  width: 200px;
}
.four-up td {
  width: 150px;
}
.five-up td {
  width: 120px;
}
.six-up td {
  width: 100px;
}
.seven-up td {
  width: 85px;
}
.eight-up td {
  width: 75px;
}
/* Alignment & Visibility Classes */
table.center,
td.center {
  text-align: center;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center;
}
span.center {
  display: block;
  width: 100%;
  text-align: center;
}
img.center {
  margin: 0 auto;
  float: none;
}
.show-for-small,
.hide-for-desktop {
  display: none;
}
/* Typography */
body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: inherit;
  word-break: normal;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 11px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 12px;
}
body,
table.body,
p,
td {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
p.lead,
p.lede,
p.leed {
  font-size: 16.25px;
  line-height: 18.6875px;
}
p {
  margin-bottom: 10px;
}
small {
  font-size: 11px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff !important;
}
a:active {
  color: #ffffff !important;
}
a:visited {
  color: #ffffff !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #ffffff;
}
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #ffffff !important;
}
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #ffffff !important;
}
/* Panels */
.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important;
}
.sub-grid table {
  width: 100%;
}
.sub-grid td.sub-columns {
  padding-bottom: 0;
}
/* Buttons */
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
}
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #ffffff;
  padding: 8px 0;
}
table.tiny-button td {
  padding: 5px 0 4px;
}
table.small-button td {
  padding: 8px 0 7px;
}
table.medium-button td {
  padding: 12px 0 10px;
}
table.large-button td {
  padding: 21px 0 18px;
}
table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 14.95px;
  display: block;
  height: 100%;
  width: 100%;
}
table.tiny-button td a {
  font-size: 11.05px;
  font-weight: normal;
}
table.small-button td a {
  font-size: 14.95px;
}
table.medium-button td a {
  font-size: 18.85px;
}
table.large-button td a {
  font-size: 26px;
}
table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #e6e6e6 !important;
}
table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #fff !important;
}
table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #e6e6e6 !important;
}
table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important;
}
table.secondary td {
  background: #e9e9e9;
  border-color: #d0d0d0;
  color: #555;
}
table.secondary td a {
  color: #555;
}
table.secondary:hover td {
  background: #d0d0d0 !important;
  color: #555;
}
table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #555 !important;
}
table.success td {
  background: #5da423;
  border-color: #396516;
}
table.success:hover td {
  background: #396516 !important;
}
table.alert td {
  background: #c60f13;
  border-color: #67080a;
}
table.alert:hover td {
  background: #67080a !important;
}
table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
/* Outlook First */
body.outlook p {
  display: inline !important;
}
/*  Media Queries */
@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }
  table[class="body"] center {
    min-width: 0 !important;
  }
  table[class="body"] .container {
    width: 95% !important;
  }
  table[class="body"] .row {
    width: 100% !important;
    display: block !important;
  }
  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important;
  }
  table[class="body"] .columns,
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important;
  }
  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }
  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100% !important;
  }
  table[class="body"] .columns td.one,
  table[class="body"] .column td.one {
    width: 8.333333% !important;
  }
  table[class="body"] .columns td.two,
  table[class="body"] .column td.two {
    width: 16.666666% !important;
  }
  table[class="body"] .columns td.three,
  table[class="body"] .column td.three {
    width: 25% !important;
  }
  table[class="body"] .columns td.four,
  table[class="body"] .column td.four {
    width: 33.333333% !important;
  }
  table[class="body"] .columns td.five,
  table[class="body"] .column td.five {
    width: 41.666666% !important;
  }
  table[class="body"] .columns td.six,
  table[class="body"] .column td.six {
    width: 50% !important;
  }
  table[class="body"] .columns td.seven,
  table[class="body"] .column td.seven {
    width: 58.333333% !important;
  }
  table[class="body"] .columns td.eight,
  table[class="body"] .column td.eight {
    width: 66.666666% !important;
  }
  table[class="body"] .columns td.nine,
  table[class="body"] .column td.nine {
    width: 75% !important;
  }
  table[class="body"] .columns td.ten,
  table[class="body"] .column td.ten {
    width: 83.333333% !important;
  }
  table[class="body"] .columns td.eleven,
  table[class="body"] .column td.eleven {
    width: 91.666666% !important;
  }
  table[class="body"] .columns td.twelve,
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }
  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  table[class="body"] .right-text-pad,
  table[class="body"] .text-pad-right {
    padding-left: 10px !important;
  }
  table[class="body"] .left-text-pad,
  table[class="body"] .text-pad-left {
    padding-right: 10px !important;
  }
  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }
  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}
table {
  table-layout: fixed;
}
.appleLinks a {
  color: #ffffff;
  text-decoration: none;
}
.appleLinks a:hover,
.appleLinks a:active {
  color: #ffffff !important;
}
.appleLinks a:visited {
  color: #ffffff !important;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
a.link_box {
  display: block;
}
a.link_box,
a.link_box:link,
a.link_box:visited,
a.link_box:hover,
a.link_box:focus,
a.link_box:active {
  text-decoration: none;
  outline: none;
}
a.link_underline {
  text-decoration: underline;
}
a.link_underline:hover,
a.link_underline:focus {
  text-decoration: underline;
  cursor: pointer;
}
.bgc-lbvColorUne {
  background-color: #3059a1;
}
.bgc-lbvColorProfession {
  background-color: #599cd6;
}
.bgc-lbvColorDossier {
  background-color: #e95a83;
}
.bgc-lbvColorQuiz {
  background-color: #9cb7df;
}
.bgc-lbvColorOffre {
  background-color: #6a5a9f;
}
.bgc-lbvColorActus {
  background-color: #e3ecf8;
}
.bgc-lbvColorFooter {
  background-color: #599cd6;
}
.header {
  background-color: #fff;
}
.header .tagline {
  vertical-align: middle;
}
.header .tagline .title {
  color: #17a9dc;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 24px;
}
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 6px;
}
h3 {
  font-weight: normal;
}
p {
  margin-bottom: 4.5px;
}
a:hover,
a:focus {
  text-decoration: underline;
}
ul,
ol {
  padding: 0;
  margin: 0 0 4.5px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
.puce {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #ffffff;
  border-style: solid;
  border-width: 4px;
}
.separator .wrapper,
.separator table.columns td,
.separator table.column td {
  padding: 0;
}
.contentMain .wrapper {
  padding-top: 0;
}
.contentMain .columns td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contentMain .contentActuMois .imgUne {
  margin-bottom: 9px;
}
.contentMain .contentProfession ul li .title {
  color: #d7d900;
  font-weight: bold;
}
.contentSecondary .contentQuiz img {
  margin-right: 10px;
}
.contentSecondary .contentOffre img {
  float: right;
  margin-left: 10px;
}
.contentBottom .wrapper {
  padding-top: 0;
}
.contentActus h3 {
  color: #5c686d;
}
.contentActus h4 {
  color: #084d9a;
}
.contentActus img {
  float: none;
}
.contentActus .puce {
  border-color: transparent transparent transparent #cd1619;
}
@media only screen and (max-width: 600px) {
  table[class="body"] .contentActus img {
    width: 100% !important;
  }
}
.contentFooter .wrapper {
  padding-top: 5px;
}
.contentFooter table.columns td,
.contentFooter table.column td {
  padding-bottom: 5px;
}
.contentLegal small {
  line-height: 15px;
}
.contentUnsub {
  background-color: #000000;
}
.contentUnsub small {
  line-height: 15px;
}
.contentUnsub .wrapper {
  padding-top: 0;
}
.contentUnsub table.columns td,
.contentUnsub table.column td {
  padding-bottom: 0;
}
