<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<td>
							<td>
								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															Pour vous assurer de recevoir notre lettre d'informations, nous vous recommandons d'ajouter l'adresse
'<a href="mailto:gan-assurances-news@lesechos-publishing.fr">gan-assurances-news@lesechos-publishing.fr</a>' à votre carnet d'adresses.
															<!--{{<gab_lien_message_online>}}-->
															<small class="online">
																Si vous avez des difficultés à visualiser cette lettre d'informations, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">cliquez ici</a>.
															</small>
															<!--{{</gab_lien_message_online>}}-->
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->
					        </td>
						</td>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>