<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<td>
							<td>
								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<span class="infos">
																Pour vous assurer de recevoir notre lettre d'informations, nous vous recommandons d'ajouter l'adresse<br/>&ldquo; <a href="mailto:gan-assurances-news@lesechos-publishing.fr">gan-assurances-news@lesechos-publishing.fr</a> &rdquo; à votre carnet d'adresses.
															</span>
															<!--{{<gab_lien_message_online>}}-->
															<span class="online">
																Si vous avez des difficultés à visualiser cette lettre d'informations, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">cliquez ici</a>.
															</span>
															<!--{{</gab_lien_message_online>}}-->
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

					        	<!-- INFO CLIENT START -->
					        	<table class="row contentInfoClient">
					        		<tr>
					        			<td class="wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td>
					        							<span class="inner text-pad">
					        								<strong>Cher client,</strong><br/><br/>
					        								La Newsletter Suivi Expert Pro revient pour la rentrée avec une sélection d'actualités économiques et professionnelles rédigées par les journalistes du groupe Les Echos en partenariat avec Gan Assurances.<br/>
					        								Bonne lecture !<br/><br/>
					        								Votre Agent général
					        							</span>
					        						</td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- INFO CLIENT END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="nine sub-columns first">
														<a target="_blank" class="link_box" href="#">
															<img src="http://lorempixel.com/1080/220/city/" alt="NomCabinet" width="540" height="110" />
														</a>
													</td>
													<td class="three sub-columns last">
														<a target="_blank" class="link_box" href="#">
															<img src="http://lorempixel.com/360/220/technics/" alt="NomCabinet" width="180" height="110" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- ALAUNE START -->
								<table class="row contentALaUne">
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<a target="_blank" class="link_box" href="#">
																<img src="http://lorempixel.com/1440/660/business/" alt="NomCabinet" width="330" height="150" />
															</a>
															<span class="preTitle">Actualité du mois</span>
															<a target="_blank" class="link_box" href="#">
																<h4 class="title">Couverture santé pour tous les salariés : quel financement ?</h4>
															</a>
															<a target="_blank" class="link_box" href="#">
																<span class="text">Au 1<sup>er</sup> janvier 2016, tous les employeurs devront avoir souscrit une complémentaire santé pour leurs salariés qui couvrira les dépenses essentielles en matière de santé. Quel coût et quelle répartition du financement pour l'entreprise ? Faisons le point.</span>
															</a>
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<a target="_blank" class="link_box" href="#">
																<img src="http://lorempixel.com/1440/660/business/" alt="NomCabinet" width="330" height="150" />
															</a>
															<span class="preTitle">Actualité du mois</span>
															<a target="_blank" class="link_box" href="#">
																<h4 class="title">Réduire votre impôt pour 2015 !</h4>
															</a>
															<a target="_blank" class="link_box" href="#">
																<span class="text">Septembre sonne la fin de la période estivale et annonce l'arrivée des avis d'imposition pour de nombreux foyers fiscaux. Une charge qu'il est possible d'atténuer grâce à certaines dépenses ou certains investissements en contrepartie desquels la loi accorde des crédits ou des réductions d'impôt...</span>
															</a>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- CONTENT MAIN START -->
								<table class="row contentMain">
									<tr>
										<td class="actualites wrapper first">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<span class="preTitle">Actualités</span>
															<ul>
																<li>
																	<span class="icon-rsaquo">&gt;</span>&#160;<a href="#">Travaux immobiliers : de nouvelles obligations pour les entreprises</a>
																</li>
																<li>
																	<span class="icon-rsaquo">&gt;</span>&#160;<a href="#">Travaux immobiliers : de nouvelles obligations pour les entreprises</a>
																</li>
																<li>
																	<span class="icon-rsaquo">&gt;</span>&#160;<a href="#">Travaux immobiliers : de nouvelles obligations pour les entreprises</a>
																</li>
																<li>
																	<span class="icon-rsaquo">&gt;</span>&#160;<a href="#">Travaux immobiliers : de nouvelles obligations pour les entreprises</a>
																</li>
															</ul>
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="offre wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<span class="preTitle">L'offre du mois</span>
															<a target="_blank" class="link_box" href="#">
																<h1 class="title">Dynamisez le rendement de votre épargne en 2014 !</h1>
															</a>
															<a target="_blank" class="link_box" href="#">
																<span class="text">Compte épargne rémunéré à <span class="big"><strong>4,80 %</strong></span> <sup>*</sup></span>
															</a>
															<a target="_blank" class="link_box" href="#">
																<small class="condition"><sup>*</sup> Voir conditions sur le site.</small>
															</a> 
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentBottom">
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table class="four columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<span class="preTitle"><img class="icon-img" src="./theme/images/icon-chiffres.gif" width="20" height="20" />Chiffre du mois</span>
															<span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sunt, ratione a. Ad, quas excepturi quibusdam eius ut ipsam architecto dignissimos quidem unde repudiandae, expedita sint, numquam maxime voluptatum ex!</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper">
											<table class="four columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<span class="preTitle"><img class="icon-img" src="./theme/images/icon-graph.gif" width="20" height="20" />Tableau de bord</span>
															<span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sunt, ratione a. Ad, quas excepturi quibusdam eius ut ipsam architecto dignissimos quidem unde repudiandae, expedita sint, numquam maxime voluptatum ex!</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="four columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<span class="preTitle"><img class="icon-img" src="./theme/images/icon-agenda.gif" width="20" height="20" />Échéancier</span>
															<span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sunt, ratione a. Ad, quas excepturi quibusdam eius ut ipsam architecto dignissimos quidem unde repudiandae, expedita sint, numquam maxime voluptatum ex!</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT FOOTER START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table class="six columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<a target="_blank" href="http://www.ganassurances.fr">www.ganassurances.fr</a>
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<a target="_blank" href="http://www.assuredentreprendre.fr">www.assuredentreprendre.fr</a>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT LEGAL START -->
								<table class="row contentLegal">
									<tr>
										<td class="wrapper first">
											<table class="twelve columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Cet e-mail a été envoyé parce que vous êtes inscrit à la Newsletter Suivi Expert Pro. Conformément à la Loi Informatique et Libertés du 6 Janvier 1978, vous disposez d'un droit daccès de rectification et de suppression des données vous concernant en écrivant à la Direction Qualité de Gan Assurances 4/8 cours Michelet 92082 Paris La Défense Cedex. Pour ne plus recevoir de messages de la part de Gan Assurances cliquez sur le lien « Se désabonner » ci-dessous. La newsletter Suivi Expert Pro est une newsletter gratuite éditée par Gan Assurances - SA au capital de 109 817 739 &#8364; - 542 063 797 RCS Paris - Entreprise régie par le code des assurances - <a target="_blank" href="http://maps.apple.com/?q=8%2F10+rue+d%27Astorg+-+75008+Paris">8/10 rue d'Astorg - 75008 Paris</a>.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT LEGAL END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															Si vous ne souhaitez plus recevoir de messages, <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">cliquez ici</a>.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
					        </td>
						</td>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>