<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
p {
	margin: 0px;
	padding-bottom: 10px;
}

ul {
	list-style-type: square;
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
}
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="seven sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-left">
																	<!--{{##{{<champ>
																	<type>text</type>
																	<html_avant>}}--><h1 class="title"><!--{{</html_avant>
																	<defaut>}}-->Titre réunion<!--{{</defaut>
																	<html_apres>}}--></h1><!--{{</html_apres>
																	</champ>}}## ##{{<champ>
																	<type>text</type>
																	<html_avant>}}--><h5 class="subtitle"><!--{{</html_avant>
																	<defaut>}}-->Présentation réunion du 16/01/2018<!--{{</defaut>
																	<html_apres>}}--></h5><!--{{</html_apres>
																	</champ>}}## ##{{<champ>
																	<type>text</type>
																	<html_avant>}}--><h6 class="host"><!--{{</html_avant>
																	<defaut>}}-->Animée par Monsieur Prénom NOM<!--{{</defaut>
																	<html_apres>}}--></h6><!--{{</html_apres>
																	</champ>}}##}}-->
																</td>
															</tr>
														</table>
													</td>
													<td class="five sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<table border="0" class="logo">
																		<tr>
																			<td>
																				<a target="_blank" class="link_box" href="http://www.equatio.fr">
																					<img class="center" src="./theme/images/logo-espace-liberte-patrimoine.png" alt="Espace Liberté Patrimoine" width="220" height="68" />
																				</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="decoupe">
											<img class="center" src="./theme/images/header-decoupe.png" alt="" width="720" height="95" />
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- CONTENT MAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				<table border="0">
																					<tr>
																						<td>
																							<!--{{##{{<champ>
																							<type>text</type>
																							<defaut>}}-->Titre du bloc<!--{{</defaut>
																							</champ>}}##}}-->
																						</td>
																					</tr>
																				</table>
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<table border="0">
																		<tr>
																			<td class="text-display">
																				<!--{{##{{<champ>
																				<type>textarea</type>
																				<html_avant>}}--><div class="text"><!--{{</html_avant>
																				<defaut>}}-->
																					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione explicabo necessitatibus eligendi, vero sit nam quasi molestias dolores magnam minima facilis, quisquam libero. Omnis laborum placeat reiciendis hic nam ab!</p>
																				<!--{{</defaut>
																				<html_apres>}}--></div><!--{{</html_apres>
																				</champ>}}##}}-->
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>

													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad-left">
														<table border="0" class="subWrapper">
															<tr>
																<td class="img-cont">
																	<!--{{##{{<champ> 
																	<type>image</type>
																	<src>}}--><a data-type="gethref" href="./theme/images/equatio-homme.png"><!--gethref--></a><!--{{</src>
																	<lien></lien>
																	<survol></survol>
																	<width>310</width>
																	<height>271</height>
																	<width_max>1440</width_max>
																	<height_max>1260</height_max>
																	<params>
																	}}--><img class="center" data-type="getstyle" /><!--getstyle--><!--{{class="center"
																	</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><img class="center" src="./theme/images/equatio-homme.png" alt="" width="310" height="271" /><!--}}DEL-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad-right">
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				<table border="0">
																					<tr>
																						<td>
																							<!--{{##{{<champ>
																							<type>text</type>
																							<defaut>}}-->Titre du bloc<!--{{</defaut>
																							</champ>}}##}}-->
																						</td>
																					</tr>
																				</table>
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<table border="0">
																		<tr>
																			<td class="text-display">
																				<!--{{##{{<champ>
																				<type>textarea</type>
																				<html_avant>}}--><div class="text"><!--{{</html_avant>
																				<defaut>}}-->
																					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, dolore. Commodi, odit, dolore. Quis voluptates tempore suscipit. Maxime, aliquid nemo ipsam tempora praesentium voluptatem. Architecto molestias est, atque quod ratione!</p>
																					<ul>
																						<li>Consequuntur fuga expedita ducimus nemo ;</li>
																						<li>Totam voluptatum ipsum atque doloremque nam minima rem praesentium porro quis nobis modi ;</li>
																						<li>Repellendus minus laudantium earum.</li>
																					</ul>
																					<p>Inventore commodi, sit distinctio est, voluptas vitae mollitia maiores beatae expedita nihil consectetur molestias hic sapiente, nostrum ad corporis molestiae voluptatem odio.</p>
																				<!--{{</defaut>
																				<html_apres>}}--></div><!--{{</html_apres>
																				</champ>}}##}}-->
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				<table border="0">
																					<tr>
																						<td>
																							<!--{{##{{<champ>
																							<type>text</type>
																							<defaut>}}-->Titre du bloc<!--{{</defaut>
																							</champ>}}##}}-->
																						</td>
																					</tr>
																				</table>
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><table border="0"><tr><td><p class="empty">&#160;</p></td></tr></table></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<table border="0">
																		<tr>
																			<td class="text-display">
																				<!--{{##{{<champ>
																				<type>textarea</type>
																				<html_avant>}}--><div class="text"><!--{{</html_avant>
																				<defaut>}}-->
																					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias similique tempora numquam, commodi in officiis sapiente eveniet veniam minima aperiam quisquam labore nisi cumque et explicabo quas? Facilis, repudiandae, necessitatibus!</p>
																				<!--{{</defaut>
																				<html_apres>}}--></div><!--{{</html_apres>
																				</champ>}}##}}-->
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>

													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h5 class="center"><!--{{</html_avant>
														<defaut>}}-->Nous sommes à votre disposition<br/>pour répondre à vos questions et vous proposer une simulation d'investissement personnalisée.<!--{{</defaut>
														<html_apres>}}--></h5><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="decoupe">
											<img class="center" src="./theme/images/bottom-decoupe.png" alt="" width="720" height="95" />
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT CONTENT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														<table border="0" class="logo">
															<tr>
																<td class="center">
																	<a target="_blank" class="link_box" href="http://www.equatio.fr">
																		<img class="center" src="./theme/images/logo-equatio.png" alt="Equatio Finances" width="80" height="70" />
																	</a>
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>mailto:contact@equatio.com</href>}}-->
														<!--DEL{{--><a class="link_mail" href="mailto:contact@equatio.com"><!--}}DEL-->
														<!--{{<texte>}}-->contact@equatio.com<!--{{</texte>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a class="link_mail" data-type="getstyle"><!--getstyle--></a><!--{{ class="link_mail"
														</params>
														<html_apres>}}--><br/><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.equatio.fr</href>}}-->
														<!--DEL{{--><a href="http://www.equatio.fr"><!--}}DEL-->
														<!--{{<texte>}}-->www.equatio.fr<!--{{</texte>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a data-type="getstyle"><!--getstyle--></a><!--{{ class="link_mail"
														</params>
														<html_apres>}}--><br/><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>tel:0366060100</href>}}-->
														<!--DEL{{--><a href="tel:0366060100"><!--}}DEL-->
														<!--{{<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->03 66 06 01 00<!--{{</texte>
														<html_interieur_apres>}}--></span><!--{{</html_interieur_apres>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper middle">
											<table border="0" class="four columns">
												<tr>
													<td class="center">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://espace-liberte-patrimoine.fr</href>}}-->
														<!--DEL{{--><a href="http://espace-liberte-patrimoine.fr"><!--}}DEL-->
														<!--{{<texte>}}-->espace-liberte-patrimoine.fr<!--{{</texte>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a data-type="getstyle"><!--getstyle--></a><!--{{ class="link_mail"
														</params>
														<html_apres>}}--><br/><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>mailto:contact@espace-liberte-patrimoine.fr</href>}}-->
														<!--DEL{{--><a class="link_mail" href="mailto:contact@espace-liberte-patrimoine.fr"><!--}}DEL-->
														<!--{{<texte>}}-->contact@espace-liberte-patrimoine.fr<!--{{</texte>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a class="link_mail" data-type="getstyle"><!--getstyle--></a><!--{{ class="link_mail"
														</params>
														</champ>}}##}}-->
														<br/>
														<a target="_blank" href="http://maps.apple.com/?q=83%20Boulevard%20de%20la%20Libert%C3%A9%2059800%20Lille">
															<span class="important">83, bd de la Liberté -  59000 LILLE</span>
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														<table border="0" class="logo">
															<tr>
																<td class="center">
																	<a target="_blank" class="link_box" href="http://www.confinancialis.fr">
																		<img class="center" src="./theme/images/logo-confinancialis.png" alt="Confinancialis" width="80" height="66" />
																	</a>
																</td>
															</tr>
														</table>
														<!--{{##{{<champ>
														<type>lien</type>
														<href>mailto:phd@confinancialis.fr</href>}}-->
														<!--DEL{{--><a class="link_mail" href="mailto:phd@confinancialis.fr"><!--}}DEL-->
														<!--{{<texte>}}-->phd@confinancialis.fr<!--{{</texte>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a class="link_mail" data-type="getstyle"><!--getstyle--></a><!--{{ class="link_mail"
														</params>
														<html_apres>}}--><br/><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>tel:0366060105</href>}}-->
														<!--DEL{{--><a href="tel:0366060105"><!--}}DEL-->
														<!--{{<html_interieur_avant>}}--><span class="important"><!--{{</html_interieur_avant>
														<texte>}}-->03 66 06 01 05<!--{{</texte>
														<html_interieur_apres>}}--></span><!--{{</html_interieur_apres>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<params>}}-->
														<a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT LEGAL START -->
								<table border="0" class="row contentLegal">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Enregistrée à l'ORIAS sous le n° <a href="#" class="link_disabled"><span class="important">09 050 151</span></a> (<a target="_blank" href="www.orias.fr">www.orias.fr</a>), en qualité de Conseiller en Investissement Financier adhérent à la Chambre Nationale des Conseils en Gestion de Patrimoine, association professionnelle agréée par l'Autorité des Marchés Financiers, de Courtier en assurance et réassurance de catégorie b, de Mandataire non exclusif en opération de banque et en services de paiement - Démarchage bancaire et financier.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT LEGAL END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>