// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	img { float: none; }
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .inner {
		padding-top: @prctPadding;
		padding-bottom: @prctPadding;
	}
}

//pour rajouter de l'espace en haut et en dessous des wrappers
.filler {
	&, .empty {
		line-height: 0;
		font-size: 0;
	}
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//suppression paddings sur sub-columns
table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
	padding-right: 0;
}

//changement paddings par défaut
table.columns .text-pad,
table.column .text-pad {
	padding-left: 20px;
	padding-right: 20px;
}

table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
	padding-left: 20px;
}

table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
	padding-right: 20px;
}

@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .text-pad {
		padding-left: @prctPadding !important;
		padding-right: @prctPadding !important;
	}

	table[class="body"] .right-text-pad,
	table[class="body"] .text-pad-right {
		padding-left: @prctPadding !important;
	}

	table[class="body"] .left-text-pad,
	table[class="body"] .text-pad-left {
		padding-right: @prctPadding !important;
	}
}

// header area
// -------------------------
.header { background-color: @colorGan3; }


// contentOnline area
// -------------------------
.contentOnline {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(#ffffff);
	.inner {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: @fontSizeMini;
		line-height: (@fontSizeMini * 1.33);
	}
}



// contentMain area
// -------------------------
.contentMain {
	//bande verticale
	.sub-columns.first { background-color: @colorGan2; }

	.preTitle {
		display: block;
		font-size: @headingsFontSizeH5;
		line-height: (@headingsFontSizeH5 * 1.1);
		padding-bottom: 10px;
	}

	.title {
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.teaser {
		display: block;
		font-weight: bold;
		font-size: @headingsFontSizeH3;
		line-height: (@headingsFontSizeH3 * 1.1);
		padding-bottom: 20px;
	}

	.date {
		display: block;
		font-weight: bold;
		font-size: @headingsFontSizeH3;
		line-height: (@headingsFontSizeH3 * 1.1);
		.newsletterInnerTextColor(@colorGan1);
	}

	.addressWrapper {
		display: block;
		.newsletterInnerTextColor(@colorGan1);
		padding-bottom: 20px;
	}

	.breakfast {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.1);
		padding-bottom: 10px;
	}

	.orators {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.33);
	}
}


// contentFooter area
// -------------------------
.contentFooter {
	.newsletterInnerTextColor(@colorGan1);
	.inner {
		//changement padding intérieur
		padding-top: 5px;
		padding-bottom: 5px;
	}


	//décalage à droite
	.rounderWrapper {
		padding-right: 20px;
		height: 100%;
		.rounder {
			overflow: hidden;
			-webkit-border-radius: 0 10px 10px 0;
			   -moz-border-radius: 0 10px 10px 0;
			        border-radius: 0 10px 10px 0;
			table {
				width: 100%;
				td { background-color: @colorGan3; }
			}
		}
	}

	//bande bleu
	.sub-columns.first { background-color: @colorGan3; }

	.subOnline {
		display: block;
		font-weight: bold;
		.online { color: #ffffff; }
	}

	.condition {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.1);
		color: #ffffff !important;
		a { .newsletterLinkColor(#ffffff); }
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentFooter {
		.inner {
			padding-top: (@prctPadding / 2);
			padding-bottom: (@prctPadding / 2);
		}
		.rounderWrapper { padding-right: @prctPadding; }
	}
}


// contentLegal area
// -------------------------
.contentLegal {
	.newsletterInnerTextColor(@colorGan1);
	.inner {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: @fontSizeMini;
		font-style: italic;
		line-height: (@fontSizeMini * 1.33);
	}

	//bande jaune clair
	.sub-columns.first { background-color: @colorGan2; }
}

// contentUnsubscribe area
// -------------------------
.contentUnsubscribe {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(#ffffff);
	.inner {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: @fontSizeMini;
		line-height: (@fontSizeMini * 1.33);
	}
}