// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	img { float: none; }
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .inner {
		padding-top: @textPadCollapse !important;
		padding-bottom: @textPadCollapse !important;
	}
}

//pour rajouter de l'espace en haut et en dessous des wrappers
.filler {
	&, .empty {
		line-height: 0;
		font-size: 0;
	}
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
// td.wrapper { padding-top: 0; }
// table.columns td, table.column td { padding-bottom: 0; }

//suppression paddings sur sub-columns
// table.columns td.sub-columns,
// table.column td.sub-columns,
// table.columns td.sub-column,
// table.column td.sub-column {
// 	padding-right: 0;
// }


// header area
// -------------------------
.header {
	background-color: @colorGan3;

	//suppression décalage en trop
	td.wrapper { padding-top: 0; }
	table.columns td, table.column td { padding-bottom: 0; }

	//suppression décalages liens images
	a { line-height: 0; }
	img { float: none; }

	//rajout fond dans la colonne de gauche
	.sub-columns.first { background-color: @colorGan1; }

	//replacement bouton de PostaNova
	.sub-columns.last {
		position: relative;
		body & a[href^="javascript"] {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}


// contentOnline area
// -------------------------
.contentOnline {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(#ffffff);

	//réduction padding interne
	td.wrapper { padding-top: (@wrapperPad / 2); }
	table.columns td, table.column td { padding-bottom: (@columnPad / 2); }

	td {
		font-size: @fontSizeMini;
		line-height: (@fontSizeMini * 1.33);
	}
}



// contentMain area
// -------------------------
.contentMain {
	//déplacement paddingTop à l'intérieur pour coller bande jaune
	td.wrapper { padding-top: 0; }
	table.columns td, table.column td { padding-top: @wrapperPad; }

	//bande verticale
	.sub-columns.first { background-color: @colorGan2; }

	.preTitle {
		display: block;
		font-size: @headingsFontSizeH5;
		line-height: (@headingsFontSizeH5 * 1.1);
		padding-bottom: 10px;
	}

	.title {
		text-transform: uppercase;
		padding-bottom: 10px;
	}

	.teaser {
		display: block;
		font-weight: bold;
		font-size: @headingsFontSizeH3;
		line-height: (@headingsFontSizeH3 * 1.1);
		padding-bottom: 20px;
	}

	.date {
		display: block;
		font-weight: bold;
		font-size: @headingsFontSizeH3;
		line-height: (@headingsFontSizeH3 * 1.1);
		.newsletterInnerTextColor(@colorGan1);
	}

	.addressWrapper {
		display: block;
		.newsletterInnerTextColor(@colorGan1);
		padding-bottom: 20px;
	}

	.breakfast {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.1);
		padding-bottom: 10px;
	}

	.orators {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.33);
	}
}


// contentFooter area
// -------------------------
.contentFooter {
	.newsletterInnerTextColor(@colorGan1);

	//suppression décalage en trop
	td.wrapper { padding-top: 0; }
	table.columns td, table.column td { padding-bottom: 0; }

	//décalage à droite
	.rounderWrapper {
		padding-right: @textPad;
		height: 100%;
		.rounder {
			overflow: hidden;
			border-radius: 0 10px 10px 0;
			table {
				width: 100%;
				td {
					background-color: @colorGan3;
					padding-top: (@wrapperPad / 4);
					padding-bottom: (@wrapperPad / 4);
				}
			}
		}
	}

	//bande bleu
	.sub-columns.first { background-color: @colorGan3; }

	.subOnline {
		display: block;
		font-weight: bold;
		font-size: (@baseFontSize * 0.95);
		line-height: (@baseFontSize * 0.95 * 1.33);

		//défition des couleurs
		color: @colorGan1;
		.link_disabled { .newsletterLinkColor(@colorGan1); }

		.online {
			color: #ffffff;
			font-size: @headingsFontSizeH3;
			line-height: (@headingsFontSizeH3 * 1.1);
		}
		.onlineLink { .newsletterLinkColor(#ffffff); }
	}

	.subCondition {
		display: block;
		font-size: @fontSizeSmall;
		line-height: (@fontSizeSmall * 1.1);
		&, .condition { color: #ffffff; }
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentFooter {
		.rounderWrapper { padding-right: @textPadCollapse !important; }
	}
}


// contentLegal area
// -------------------------
.contentLegal {
	.newsletterInnerTextColor(@colorGan1);

	//déplacement paddingTop à l'intérieur pour coller bande jaune
	td.wrapper { padding-top: 0; }
	table.columns td, table.column td {
		padding-top: (@wrapperPad / 4);
		padding-bottom: (@wrapperPad / 4);
	}

	td {
		font-size: @fontSizeMini;
		font-style: italic;
		line-height: (@fontSizeMini * 1.33);
	}

	//bande jaune clair
	.sub-columns.first { background-color: @colorGan2; }
}

// contentUnsubscribe area
// -------------------------
.contentUnsubscribe {
	background-color: @bodyBackground;
	.newsletterInnerTextColor(#ffffff);

	//réduction padding interne
	td.wrapper { padding-top: (@wrapperPad / 2); }
	table.columns td, table.column td { padding-bottom: (@columnPad / 2); }

	td {
		font-size: @fontSizeMini;
		line-height: (@fontSizeMini * 1.33);
	}
}