// extends theme's variables.less file here

// Global values
// --------------------------------------------------


// Main colors
// -------------------------
@colorGan1: #D39C0B;
@colorGan2: #EACC90;
@colorGan3: #001F46;
@colorGan4: #7590AD;


// Scaffolding
// -------------------------
@bodyBackground:        @colorGan4;
@containerBackground:   #ffffff;
@textColor:             #000000;