// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

//importation style par défaut de la maquette expertInfos
@import "../../../expertInfos/theme/less/expertinfos.less";



// contentArticles area
// -------------------------
.contentArticles {
	.title { border-top: none; }
}
//suppression bordure en bas en mode responsive
@media only screen and (max-width: (@nlContainerWidth + @nlGutterWidth)) {
	table[class="body"] .contentArticles { border-bottom: none !important; }
}


// contentALaUne area
// -------------------------
.contentALaUne {
	&.content { -premailer-border-bottom: 2px solid e("##((nlCntUneReadMore))##"); }
}
@media only screen and (max-width: (@nlContainerWidth + @nlGutterWidth)) {
	table[class="body"] .contentALaUne {
		&.content { border-bottom: 2px solid e("##((nlCntUneReadMore))##") !important; }
		&.alternate {
			// background-color: @colorCouleur3Clair;
		}
	}
}