// extends theme's variables.less file here


// Scaffolding
// -------------------------
@bodyBackground:        #aaaaaa;
@containerBackground:   #ffffff;
@textColor:             #333333;


// Grid config
// --------------------------------------------------
@columnWidth: 60px;
@gutterWidth: 0;


// Padding config
// --------------------------------------------------
@wrapperPad: 20px;
@wrapperPadCollapse: (@wrapperPad / 2);

@columnPad: @wrapperPad;
@columnPadCollapse: (@columnPad / 2);

@blockGridPad: @wrapperPad;
@blockGridPadCollapse: (@blockGridPad / 2);

@panelPad: @wrapperPad;
@panelPadCollapse: (@panelPad / 2);

@textPad: (@wrapperPad * 2);
@textPadCollapse: (@textPad / 2);