<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="eight columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="date"><a href="#" class="link_disabled"><span class="important"><!--{{</html_avant>
														<defaut>}}-->Jeudi 19 novembre 2015<!--{{</defaut>
														<html_apres>}}--></span></a></span><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center">
														<a target="_blank" class="link_box" href="http://www.booster-tech.fr">
															<img class="center" src="./theme/images/header-newsletter.png" alt="Booster Health" width="720" height="100" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- INTRODUCTION START -->
								<table border="0" class="row contentIntroduction">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h3 class="introduction"><!--{{</html_avant>
														<defaut>}}-->La lettre <strong>Technologies innovantes et IT</strong><!--{{</defaut>
														<html_apres>}}--></h3><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- INTRODUCTION END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper first">
											<table border="0" class="seven columns">
												<tr>
													<td class="text-pad-left">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_avant>}}--><table border="0" class="button"><tr><td><!--{{</html_avant>}}-->
														<!--DEL{{--><a class="button-link" href="http://www.booster-tech.fr"><!--}}DEL-->
														<!--{{<texte>}}-->Cliquez pour financer une start-up !<!--{{</texte>
														<html_interieur_apres>}}--> <img class="button_play" src="./theme/images/button_play.png" alt="Financement" width="16" height="16" /><!--{{</html_interieur_apres>}}-->
														<!--DEL{{--></a><!--}}DEL-->
														<!--{{<html_apres>}}--></td></tr></table><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="button-link"><!--getstyle--></a><!--{{ class="button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="five columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img class="les_echos" src="./theme/images/partenariat_lesechos.png" alt="Booster Health" width="220" height="18" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">
															<!--{{##{{<champ>
															<type>text</type>
															<defaut>}}-->À la<!--{{</defaut>
															</champ>}}##}}--> <!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="last"><!--{{</html_avant>
															<defaut>}}-->une<!--{{</defaut>
															<html_apres>}}--></span><!--{{</html_apres>
															</champ>}}##}}-->
														</h5>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-alaune.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.booster-tech.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-alaune.jpg" width="640" height="290" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Mybiody balance adopte le Design Thinking<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Pour développer son appareil de mesures physiologiques, la start-up BBRC s'est entouré d'un comité pluridisciplinaire et a réalisé des tests auprès d'utilisateurs. Quel est le point commun entre Apple, Decathlon et Samsung ? Tous trois placent l'humain au c&oelig;ur de leur conception.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- PROJET START -->
								<table border="0" class="row contentProjet">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">
															<!--{{##{{<champ>
															<type>text</type>
															<defaut>}}-->Le Projet à<!--{{</defaut>
															</champ>}}##}}--> <!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="last"><!--{{</html_avant>
															<defaut>}}-->Financer<!--{{</defaut>
															<html_apres>}}--></span><!--{{</html_apres>
															</champ>}}##}}-->
														</h5>
														<!--{{##{{<champ> 
														<type>image</type>
														<src>}}--><a data-type="gethref" href="./theme/images/image-projet.jpg"><!--gethref--></a><!--{{</src>
														<lien>http://www.booster-tech.fr</lien>
														<survol></survol>
														<width>640</width>
														<height>290</height>
														<width_max>1280</width_max>
														<height_max>580</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/image-projet.jpg" width="640" height="290" alt="" /><!--}}DEL-->
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<!--{{##{{<champ>
																	<type>lien</type>
																	<href>http://www.booster-tech.fr</href>
																	<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
																	<texte>}}-->KODRO, la technologie au service du &#171; bien vieillir &#187;<!--{{</texte>
																	<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
																	<params>
																	}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																	</params>
																	</champ>}}## ##{{<champ>
																	<type>textarea</type>
																	<html_avant>}}--><div class="text"><!--{{</html_avant>
																	<defaut>}}-->KODRO s'adresse aux séniors actifs ou retraités, souhaitant entretenir au mieux leur santé et leur capital cognitif, ainsi qu'aux personnes en perte d'autonomie ou souffrant de difficultés cognitives légères ou de troubles apparentés.<!--{{</defaut>
																	<html_apres>}}--></div><!--{{</html_apres>
																	</champ>}}## ##{{<champ>
																	<type>lien</type>
																	<href>http://www.booster-tech.fr</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" align="right" class="tiny-button"><tr><td><!--{{</html_avant>
																	<texte>}}-->Lire la suite<!--{{</texte>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	<params>
																	}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
																	</params>
																	</champ>}}##}}-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- PROJET END -->

								<!-- AVISEXPERT START -->
								<table border="0" class="row contentAvisExpert">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="preTitle">
															<!--{{##{{<champ>
															<type>text</type>
															<defaut>}}-->Avis<!--{{</defaut>
															</champ>}}##}}--> <!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="last"><!--{{</html_avant>
															<defaut>}}-->d'expert<!--{{</defaut>
															<html_apres>}}--></span><!--{{</html_apres>
															</champ>}}##}}-->
														</h5>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="four sub-columns">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<!--{{##{{<champ> 
																	<type>image</type>
																	<src>}}--><a data-type="gethref" href="./theme/images/image-avisexpert.jpg"><!--gethref--></a><!--{{</src>
																	<lien>http://www.booster-tech.fr</lien>
																	<survol></survol>
																	<width>160</width>
																	<height>160</height>
																	<width_max>320</width_max>
																	<height_max>320</height_max>
																	<params>}}-->
																	<img data-type="getstyle" /><!--getstyle-->
																	<!--{{</params>
																	</champ>}}##}}-->
																	<!--DEL{{--><img src="./theme/images/image-avisexpert.jpg" width="160" height="160" alt="" /><!--}}DEL-->
																	<div class="person">
																		<!--{{##{{<champ>
																		<type>lien</type>
																		<href>http://www.booster-tech.fr</href>
																		<html_interieur_avant>}}--><strong class="name"><!--{{</html_interieur_avant>
																		<texte>}}-->Maxime GUIRAUTON<!--{{</texte>
																		<html_interieur_apres>}}--></strong><!--{{</html_interieur_apres>
																		<html_apres>}}--><br/><!--{{</html_apres>
																		<params>
																		}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																		</params>
																		</champ>}}## ##{{<champ>
																		<type>lien</type>
																		<href>http://www.booster-tech.fr</href>
																		<html_interieur_avant>}}--><small class="fonction"><!--{{</html_interieur_avant>
																		<texte>}}-->Directeur marketing de Samsung Business<!--{{</texte>
																		<html_interieur_apres>}}--></small><!--{{</html_interieur_apres>
																		<params>
																		}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																		</params>
																		</champ>}}##}}-->
																	</div>
																</td>
															</tr>
														</table>
													</td>
													<td class="eight sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-right">
																	<!--{{##{{<champ>
																	<type>lien</type>
																	<href>http://www.booster-tech.fr</href>
																	<html_interieur_avant>}}--><h2 class="title"><!--{{</html_interieur_avant>
																	<texte>}}-->BtoB : quand les outils digitaux renforcent les partenariats<!--{{</texte>
																	<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
																	<params>
																	}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																	</params>
																	</champ>}}## ##{{<champ>
																	<type>textarea</type>
																	<html_avant>}}--><div class="text"><!--{{</html_avant>
																	<defaut>}}-->Un bon niveau d'équipements numériques dope l'image de marque et rend les partenariats plus efficaces et plus durables. PC mobiles mais aussi tablettes, Smartphones et équipements de visio-conférences... au quotidien, les entreprises intègrent progressivement les outils digitaux (...)<!--{{</defaut>
																	<html_apres>}}--></div><!--{{</html_apres>
																	</champ>}}## ##{{<champ>
																	<type>lien</type>
																	<href>http://www.booster-tech.fr</href>
																	<html_avant>}}-->
																	<table class="readMore" border="0">
																		<tr>
																			<td class="buttonWrapper">
																				<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
																	<texte>}}-->Lire la suite<!--{{</texte>
																	<html_apres>}}--></td></tr></table>
																			</td>
																		</tr>
																	</table>
																	<!--{{</html_apres>
																	<params>
																	}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
																	</params>
																	</champ>}}##}}-->
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- AVISEXPERT END -->

								<!-- ACTUALITÉS START -->
								<table border="0" class="row contentActualites">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h5 class="preTitle"><!--{{</html_avant>
														<defaut>}}-->Flash actualités Les Echos<!--{{</defaut>
														<html_apres>}}--></h5><!--{{</html_apres>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="actualites" type="debut" sstype="actualite1">
																<items_ini>actualite1|actualite2|actualite3</items_ini>
															</bloc>}}##}}-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Harvard reçoit le don le plus important de son histoire<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><p class="author"><!--{{</html_avant>
														<defaut>}}-->Par Sophie RAHAL<!--{{</defaut>
														<html_apres>}}--></p><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->John Paulson, diplômé de Harvard en 1980 et fondateur du hedge funds Paulson &amp; Co, a versé 400 millions d'euros à la Faculté d'ingénierie et de sciences appliquées de la prestigieuse université. 400 millions de dollars. C'est la somme (359 millions d'euros) versée (...)<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->

														<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualite2" /> }}##}}-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->L'Actu tech de la Silicon Valley : Apple connecte votre maison<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><p class="author"><!--{{</html_avant>
														<defaut>}}-->Par Les Echos<!--{{</defaut>
														<html_apres>}}--></p><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Chaque semaine, les innovations de la Silicon Valley sont décryptées par Nathalie Doré, CEO de l'antenne nord-américaine de L'Atelier BNP Paribas, basée à San Francisco, aidée de Romain Chapron et Arthur de Villemandy.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->

														<!--{{##{{ <bloc nom="actualites" type="inter" sstype="actualite3" /> }}##}}-->
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_interieur_avant>}}--><h3 class="title"><!--{{</html_interieur_avant>
														<texte>}}-->Thuasne veut prendre une longueur d'avance dans les textiles médicaux du futur<!--{{</texte>
														<html_interieur_apres>}}--></h3><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><p class="author"><!--{{</html_avant>
														<defaut>}}-->Par Dominique CHAPUIS<!--{{</defaut>
														<html_apres>}}--></p><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Le spécialiste des ceintures lombaires va signer des accords avec des start-up pour lancer de nouveaux produits. Le groupe familial inaugure vendredi un bâtiment entièrement connecté sur son site historique de Saint-Etienne.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.booster-tech.fr</href>
														<html_avant>}}-->
														<table class="readMore" border="0">
															<tr>
																<td class="buttonWrapper">
																	<table border="0" align="right" class="tiny-button secondary"><tr><td><!--{{</html_avant>
														<texte>}}-->Lire la suite<!--{{</texte>
														<html_apres>}}--></td></tr></table>
																</td>
															</tr>
														</table>
														<!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle" class="tiny-button-link"><!--getstyle--></a><!--{{ class="tiny-button-link"
														</params>
														</champ>}}##}}-->
														<!--{{##{{ <bloc nom="actualites" type="fin" /> }}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ACTUALITÉS END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<h4 class="boosterFunds"><a href="http://www.booster-tech.fr" target="_blank">www.booster-tech.fr</a></h4>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="faicons wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<span class="joinus">Rejoignez nous sur</span>
														<a target="_blank" class="faicon" href="https://www.facebook.com/pages/Booster/1566870890223898">
															<img src="./theme/images/faicon-facebook.gif" alt="Youtube" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="https://twitter.com/BOOSTERfunds">
															<img src="./theme/images/faicon-twitter.gif" alt="Twitter" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="https://www.linkedin.com/company/boo-ter">
															<img src="./theme/images/faicon-linkedin.gif" alt="Linkedin" width="30" height="30" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>