<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Les Conseils Référencement d'Expert Infos</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 660px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<!--{{<gab_lien_message_online>}}-->
															<span class="online">EXPERT INFOS LES ECHOS - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span>
															<!--{{</gab_lien_message_online>}}-->
															<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

					        	<!-- INFO CLIENT START -->
					        	<table class="row contentInfoClient">
					        		<tr>
					        			<td class="wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td>
														<span class="inner text-pad">
					        								<strong>À l'attention de ${CIVILITE} ${NOM} - ${CODEXP_CODEABO}</strong>
					        							</span>
					        						</td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- INFO CLIENT END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
					        		<tr>
					        			<td class="wrapper">
											<table class="five columns">
												<tr>
													<td>
														<a target="_blank" class="link_box inner text-pad" href="http://www.google.fr">
															<img src="http://lorempixel.com/1320/518/business/" width="255" height="100" alt="" />
								                        </a>
													</td>
												</tr>
											</table>
					        			</td>
					        			<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td class="nine sub-columns first">
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam rerum odio autem, at tempore praesentium mollitia voluptatem ipsam facilis suscipit minus est. Ad est animi quaerat. Repellendus pariatur harum nostrum.
														</span>
								                    </td>
													<td class="three sub-columns last">
														<a target="_blank" class="link_box inner text-pad-right" href="http://www.google.fr">
															<img src="http://lorempixel.com/152/152/people/" width="76" height="76" alt="" />
								                        </a>
								                    </td>
												</tr>
											</table>
					        			</td>
					        		</tr>
					        	</table>
								<!-- HEADER END -->

					        	<!-- CONTENT TOP START -->
								<table class="row contentTop">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<h1>La vidéo pour booster votre site internet</h1>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT TOP END -->

								<!-- CONTENT MAIN START -->
								<table class="row contentMain">
									<tr>
										<td class="wrapper">
											<table class="five columns">
												<tr>
													<td>
														<span class="inner text-pad">
															<img src="http://lorempixel.com/1320/745/business/" width="255" height="144" alt="" />
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ab reiciendis, dolorum error maiores libero eveniet aspernatur enim alias, quo esse unde voluptates illo quos facere adipisci, animi. Magni, inventore.
															<table class="wrapper-buttons">
																<tr>
																	<td class="six sub-columns first">
																		<span class="inner">
																			<table class="small-button">
																				<tr>
																					<td>
																						<a href="">Button 1</a>
																					</td>
																				</tr>
																			</table>
																		</span>
																	</td>
																	<td class="six sub-columns last">
																		<span class="inner">
																			<table class="small-button">
																				<tr>
																					<td>
																						<a href="">Button 1</a>
																					</td>
																				</tr>
																			</table>
																		</span>
																	</td>
																</tr>
															</table>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentBottom">
									<tr>
										<td class="wrapper">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa eos quidem officia consequuntur. Tempore sed ab debitis molestiae quos, eum ducimus doloribus explicabo incidunt! Delectus, repellat eveniet error adipisci.
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa eos quidem officia consequuntur. Tempore sed ab debitis molestiae quos, eum ducimus doloribus explicabo incidunt! Delectus, repellat eveniet error adipisci.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT FOOTER START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa eos quidem officia consequuntur. Tempore sed ab debitis molestiae quos, eum ducimus doloribus explicabo incidunt! Delectus, repellat eveniet error adipisci.
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td>
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa eos quidem officia consequuntur. Tempore sed ab debitis molestiae quos, eum ducimus doloribus explicabo incidunt! Delectus, repellat eveniet error adipisci.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT CONTACT START -->
								<table class="row contentContact">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="nine sub-columns first">
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ipsa eos quidem officia consequuntur. Tempore sed ab debitis molestiae quos, eum ducimus doloribus explicabo incidunt! Delectus, repellat eveniet error adipisci.
														</span>
													</td>
													<td class="three sub-columns last">
														<span class="inner text-pad">
															<img src="http://lorempixel.com/290/150/business/" width="145" height="75" alt="" />
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque soluta temporibus quasi sapiente id, quam, eaque qui possimus alias explicabo cumque reprehenderit ipsum aut fugit iusto, assumenda rerum quia velit.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT ONLINE END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<table class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.
															<!--{{<gab_lien_blackliste>}}-->
															<small class="unsub">Si vous ne souhaitez plus recevoir de messages, <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">cliquez ici</a>.</small>
															<!--{{</gab_lien_blackliste>}}-->
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>