<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Les Conseils Référencement d'Expert Infos</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 662px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">EXPERT INFOS LES ECHOS - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span>
														<!--{{</gab_lien_message_online>}}-->
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

					        	<!-- INFO CLIENT START -->
					        	<table class="row contentInfoClient">
					        		<tr>
					        			<td class="wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td class="text-pad">
				        								<strong>À l'attention de ${CIVILITE} ${NOM} - ${CODEXP_CODEABO}</strong>
					        						</td>
													<td class="expander"></td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- INFO CLIENT END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
					        		<tr>
					        			<td class="wrapper">
											<table class="five columns">
												<tr>
													<td class="text-pad-left">
														<a target="_blank" class="link_box" href="http://www.google.fr">
															<img src="./theme/images/expertinfos_lesechospublishing.gif" width="255" height="60" alt="" />
								                        </a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
					        			</td>
					        			<td class="amandine wrapper last">
											<table class="seven columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" href="mailto:avalcke@lesechos.fr">
															<img src="./theme/images/avalcke.jpg" width="76" height="76" alt="" />
								                        </a>
								                        <a target="_blank" href="mailto:avalcke@lesechos.fr"><h5 class="name">Amandine VALCKE</h5></a>
														Responsable Service Clients<br/>
														Pour me contacter : <a href="tel:0549603197">05 49 60 31 97</a>
								                    </td>
													<td class="expander"></td>
												</tr>
											</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<table class="row header">
					        		<tr>
					        			<td class="conseils wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td class="text-pad conseils">
					        							Les Conseils Référencement d'Expert Infos
					        						</td>
													<td class="expander"></td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
								<!-- HEADER END -->

					        	<!-- CONTENT TOP START -->
								<table class="row contentTop sideBorder">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="text-pad">
														<h1>La vidéo pour booster votre site internet</h1>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT TOP END -->

								<!-- CONTENT MAIN START -->
								<table class="row contentMain sideBorder">
									<tr>
										<td class="wrapper">
											<table class="five columns">
												<tr>
													<td class="text-pad-left">
														<img src="http://lorempixel.com/1320/745/business/" width="255" height="144" alt="" />
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td class="text-pad">
														<span class="text">
															Google ayant racheté Youtube il y a plusieurs années, les vidéos deviennent de plus en plus présentes dans les résultats des moteurs de recherche.<br/><br/>La vidéo n'est plus seulement un outil visuel de communication, elle devient un élément à part entière, à prendre en compte pour référencer votre site internet.
														</span>
														<table class="wrapper-buttons">
															<tr>
																<td class="six sub-columns first">
																	<table class="button">
																		<tr>
																			<td>
																				<a href="">Consulter la vidéo</a>
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="six sub-columns last">
																	<table class="button secondary">
																		<tr>
																			<td>
																				<a href="">La fiche conseil</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentBottom sideBorder bordered">
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<img src="http://lorempixel.com/1320/616/business/" width="253" height="118" alt="" />
														<h2 class="title">L'astuce du mois</h2>
														<div class="text">Insérez vos différents mots-clés dans le titre, la description et le nom de votre vidéo.</div>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<span class="number">2,7</span>
														<h2 class="title">Le chiffre du mois</h2>
														<div class="text">17% des internautes passent moins de quatre secondes sur un site, mais sont disposés <b>à passer 2,7 minutes à regarder une vidéo en ligne</b>.</div>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT FOOTER START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<h5 class="title"><span class="icon-caret">&#160;</span>Votre espace abonné</h5>
														<span class="text">Retrouvez des fiches pratiques et des vidéos pour vous aider à optimiser et contrôler la visibilité de votre site internet.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<h5 class="title"><span class="icon-caret">&#160;</span>Le mois prochain</h5>
														<span class="text">Créer et optimiser sa page Google+.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT CONTACT START -->
								<table class="row contentContact">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="nine sub-columns text-pad first">
														Vous souhaitez recevoir la newsletter Référencement sur une autre adresse email ?<br/>Vous souhaitez abonner un collaborateur ?<br/>Adressez-moi votre demande à <a class="link_underline" target="_blank"  href="mailto:avalcke@lesechos.fr">avalcke@lesechos.fr</a>
													</td>
													<td class="three sub-columns text-pad-right last">
														<img src="http://lorempixel.com/290/80/business/" width="145" height="40" alt="" />
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT WEBSITE START -->
								<table class="row contentWebsite">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a class="link_box" target="_blank" href="http://www.expertinfos.com">www.expertinfos.com</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT WEBSITE END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<table class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
														<!--{{<gab_lien_blackliste>}}-->
														<small class="unsub">Si vous ne souhaitez plus recevoir de messages, <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">cliquez ici</a>.</small>
														<!--{{</gab_lien_blackliste>}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>