<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Les Conseils Référencement d'Expert Infos</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 662px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">EXPERT INFOS LES ECHOS - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span>
														<!--{{</gab_lien_message_online>}}-->
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

					        	<!-- INFO CLIENT START -->
					        	<table class="row contentInfoClient">
					        		<tr>
					        			<td class="wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td class="text-pad">
				        								<strong>À l'attention de ${CIVILITE} ${NOM} - ${CODEXP_CODEABO}</strong>
					        						</td>
													<td class="expander"></td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- INFO CLIENT END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
					        		<tr>
					        			<td class="wrapper">
											<table class="five columns">
												<tr>
													<td class="text-pad-left">
														<a target="_blank" class="link_box" href="http://www.expertinfos.com">
															<img class="logo" src="./theme/images/expertinfos_lesechospublishing.gif" width="255" height="60" alt="" />
								                        </a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
					        			</td>
					        			<td class="amandine wrapper last">
											<table class="seven columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" href="mailto:avalcke@lesechos.fr">
															<img class="avatar" src="./theme/images/avalcke.jpg" width="60" height="60" alt="" />
								                        </a>
								                        <a target="_blank" href="mailto:avalcke@lesechos.fr"><h5 class="name">Amandine VALCKE</h5></a>
														Responsable Service Clients<br/>
														Pour me contacter : <a href="tel:0549603197">05 49 60 31 97</a>
								                    </td>
													<td class="expander"></td>
												</tr>
											</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<table class="row header">
					        		<tr>
					        			<td class="conseils wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td class="text-pad conseils">
					        							<!--{{##{{<champ>
														<type>text</type>
														<defaut>}}-->Les Conseils Référencement d'Expert Infos<!--{{</defaut>
														</champ>}}##}}-->
					        						</td>
													<td class="expander"></td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
								<!-- HEADER END -->

					        	<!-- CONTENT TOP START -->
								<table class="row contentTop sideBorder">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h1><!--{{</html_avant>
														<defaut>}}-->La vidéo pour booster votre site internet<!--{{</defaut>
														<html_apres>}}--></h1><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT TOP END -->

								<!-- CONTENT MAIN START -->
								<table class="row contentMain sideBorder">
									<tr>
										<td class="wrapper">
											<table class="five columns">
												<tr>
													<td class="text-pad-left">
														<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/capture_video.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>https://api.dmcloud.net/player/embed/52cfc7f894739930d54221a1/543be6ae94a6f650b8cc236d?auth=1728572006-0-0jg9bswc-40e6463a9e137ec85670ed362253a18d</lien>
														<survol></survol>
														<width>255</width>
														<height>144</height>
														<width_max>1320</width_max>
														<height_max>745</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><a target="_blank" href="https://api.dmcloud.net/player/embed/52cfc7f894739930d54221a1/543be6ae94a6f650b8cc236d?auth=1728572006-0-0jg9bswc-40e6463a9e137ec85670ed362253a18d"><img src="./theme/images/capture_video.jpg" width="255" height="144" alt="" /></a><!--}}DEL-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="seven columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->Google ayant racheté Youtube il y a plusieurs années, les vidéos deviennent de plus en plus présentes dans les résultats des moteurs de recherche.<br/><br/>La vidéo n'est plus seulement un outil visuel de communication, elle devient un élément à part entière, à prendre en compte pour référencer votre site internet.<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
				        								<!--{{##{{ <bloc nom="boutons" type="debut" /> }}##}}-->
				        								<table class="wrapper-buttons">
															<tr>
																<td class="six sub-columns first">
																	<table class="button">
																		<tr>
																			<td>
																				<!--{{##{{<champ>
																				<type>lien</type>
																				<href>https://api.dmcloud.net/player/embed/52cfc7f894739930d54221a1/543be6ae94a6f650b8cc236d?auth=1728572006-0-0jg9bswc-40e6463a9e137ec85670ed362253a18d</href>}}-->
																				<!--DEL{{--><a target="_blank" href="https://api.dmcloud.net/player/embed/52cfc7f894739930d54221a1/543be6ae94a6f650b8cc236d?auth=1728572006-0-0jg9bswc-40e6463a9e137ec85670ed362253a18d"><!--}}DEL-->
																				<!--{{<texte>}}-->Consulter la vidéo<!--{{</texte>}}-->
																				<!--DEL{{--></a><!--}}DEL-->
																				<!--{{<params>
																				}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																				</params>
																				</champ>}}##}}-->
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="six sub-columns last">
																	<table class="button secondary">
																		<tr>
																			<td>
																				<!--{{##{{<champ>
																				<type>lien</type>
																				<href>http://fr.calameo.com/read/003040232bccada6a07fd</href>}}-->
																				<!--DEL{{--><a target="_blank" href="http://fr.calameo.com/read/003040232bccada6a07fd"><!--}}DEL-->
																				<!--{{<texte>}}-->La fiche conseil<!--{{</texte>}}-->
																				<!--DEL{{--></a><!--}}DEL-->
																				<!--{{<params>
																				}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																				</params>
																				</champ>}}##}}-->
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!--{{##{{ <bloc nom="boutons" type="fin" /> }}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentBottom sideBorder bordered">
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/astuce_mois.jpg"><!--gethref--></a><!--{{
														</src>
														<lien></lien>
														<survol></survol>
														<width>253</width>
														<height>118</height>
														<width_max>1320</width_max>
														<height_max>616</height_max>
														<params>}}-->
														<img data-type="getstyle" /><!--getstyle-->
														<!--{{</params>
														</champ>}}##}}-->
														<!--DEL{{--><img src="./theme/images/astuce_mois.jpg" width="253" height="118" alt="" /><!--}}DEL-->
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h2 class="title"><!--{{</html_avant>
														<defaut>}}-->L'astuce du mois<!--{{</defaut>
														<html_apres>}}--></h2><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>textarea</type>
														<html_avant>}}--><div class="text"><!--{{</html_avant>
														<defaut>}}-->Insérez vos différents mots-clés dans le titre, la description et le nom de votre vidéo.<!--{{</defaut>
														<html_apres>}}--></div><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="number"><!--{{</html_avant>
														<defaut>}}-->2,7<!--{{</defaut>
														<html_apres>}}--></span><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><h2 class="title"><!--{{</html_avant>
														<defaut>}}-->Le chiffre du mois<!--{{</defaut>
														<html_apres>}}--></h2><!--{{</html_apres>
														</champ>}}## ##{{<champ>
				        								<type>textarea</type>
				        								<html_avant>}}--><div class="text"><!--{{</html_avant>
				        								<defaut>}}-->17% des internautes passent moins de quatre secondes sur un site, mais sont disposés <b>à passer 2,7 minutes à regarder une vidéo en ligne</b>.<!--{{</defaut>
				        								<html_apres>}}--></div><!--{{</html_apres>
				        								</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="filler"><span class="empty">&#160;</span></td>
										<td class="filler"><span class="empty">&#160;</span></td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT FOOTER START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>lien</type>
														<href>http://abonnes.expertinfos.com/login.php</href>
														<html_interieur_avant>}}--><h5 class="title"><span class="icon-caret">&#160;</span><!--{{</html_interieur_avant>
														<texte>}}-->Votre espace abonné<!--{{</texte>
														<html_interieur_apres>}}--></h5><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://abonnes.expertinfos.com/login.php</href>
														<html_interieur_avant>}}--><span class="text"><!--{{</html_interieur_avant>
														<texte>}}-->Retrouvez des fiches pratiques et des vidéos pour vous aider à optimiser et contrôler la visibilité de votre site internet.<!--{{</texte>
														<html_interieur_apres>}}--></span><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle" class="link_box"><!--getstyle--></a><!--{{ class="link_box"
														</params>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="six columns">
												<tr>
													<td class="text-pad">
														<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h5 class="title"><span class="icon-caret">&#160;</span><!--{{</html_avant>
														<defaut>}}-->Le mois prochain<!--{{</defaut>
														<html_apres>}}--></h5><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>text</type>
														<html_avant>}}--><span class="text"><!--{{</html_avant>
														<defaut>}}-->Créer et optimiser sa page Google+.<!--{{</defaut>
														<html_apres>}}--></span><!--{{</html_apres>
														</champ>}}##}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT FOOTER END -->

								<!-- CONTENT CONTACT START -->
								<table class="row contentContact">
									<tr>
										<td class="wrapper">
											<table class="nine columns">
												<tr>
													<td class="text-pad">
														Vous souhaitez recevoir la newsletter Référencement sur une autre adresse email ?<br/>Vous souhaitez abonner un collaborateur ?<br/>Adressez-moi votre demande à <a class="link_underline" target="_blank"  href="mailto:avalcke@lesechos.fr">avalcke@lesechos.fr</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="three columns">
												<tr>
													<td class="text-pad-right">
														<a target="_blank" href="http://www.expertinfos.com">
															<img class="logo" src="./theme/images/expertinfos_lesechospublishing_little.gif" width="145" height="35" alt="" />
								                        </a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT WEBSITE START -->
								<table class="row contentWebsite">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a class="link_box" target="_blank" href="http://www.expertinfos.com">www.expertinfos.com</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT WEBSITE END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<table class="row contentUnsubscribe">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<span class="prestation">Cette newsletter est une prestation incluse dans votre Abonnement Référencement Expert Infos.</span>
														<!--{{<gab_lien_blackliste>}}-->
														<small class="unsub">Si vous ne souhaitez plus recevoir de messages, <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">cliquez ici</a>.</small>
														<!--{{</gab_lien_blackliste>}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>