<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
	table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center">
														<a target="_blank" href="http://url_site.com">
															<img class="link_box center" src="./theme/images/header-newsletter.png" alt="Header Newsletter" width="720" height="96" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns text-pad first">
														<h1 class="title">Passage de seuils : ne vous exposez pas inutilement !</h1>
													</td>
													<td class="four sub-columns text-pad first">
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<a href="#" class="link_box center">
																		<img class="center" src="http://lorempixel.com/280/280/business/1" width="140" height="140" alt="Article à la Une" />
																	</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- ARTICLES START -->
								<table border="0" class="row contentArticles">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<p><small>[Contenu start]</small></p>
														<p>Le développement est pour la plupart de nos clients synonyme d'accroissement du nombre des salariés employés.</p>
														<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
														<ul>
															<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
															<li>Aut est laborum omnis ipsam dolores, maxime dignissimos sequi</li>
															<li>Enim maxime delectus, veniam fugiat amet iure harum reiciendis aspernatur</li>
														</ul>
														<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo, consequatur, enim, itaque.</strong></p>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga qui deserunt, facere quibusdam ut maxime reprehenderit exercitationem vel dolor sit dolorum ex, officia labore, omnis expedita repellendus libero tempore dolore.</p>
														<h4>Blanditiis neque adipisci omnis, dicta dolor suscipit.</h4>
														<h5>&bull;&#160;Quels risques ?</h5>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dicta suscipit iure dolores repellendus quos enim eligendi provident ex, nihil voluptatem ipsa. Tempore, eius eligendi incidunt optio soluta ducimus asperiores.</p>
														<h5>&bull;&#160;Quels réponses ?</h5>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae molestiae perferendis autem quos tempore vel, voluptatibus. Labore fugiat alias perferendis nulla, velit cumque praesentium odit, asperiores repudiandae. Molestiae, nobis.</p>
														<h5>&bull;&#160;Le cabinet vous apporte :</h5>
														<ul>
															<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
															<li>Incidunt possimus, modi! Nihil, voluptate dicta nobis blanditiis eius eni.</li>
															<li>Mollitia inventore a delectus officiis, repellat qui deserunt eum minus dolo.</li>
															<li>Enim obcaecati eaque asperiores consequatur. Repudiandae, quos ipsa minim.</li>
														</ul>
														<p><small>[Contenu end]</small></p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ARTICLES END -->

								<!-- CONTACT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<h3 class="title">Interrogez-nous !<br/>Les équipes du cabinet accompagnent votre croissance.</h3>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<table border="0" class="row contentBtn">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="four sub-columns">&#160;</td>
													<td class="four sub-columns">
														<table class="large-button secondary">
															<tr>
																<td>
																	<a href="#">Contact</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns">&#160;</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTACT END -->

								<!-- SIGNATURE START -->
								<!-- <table border="0" class="row contentSignature">
									<tr>
										<td class="wrapper">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<strong>Pierre LASSOCIE</strong><br/>
														Expert-comptable et commissaire aux comptes<br/>
														Ligne directe&#160;: <a href="tel:0102030405">01 02 03 04 05</a><br/>
														Email&#160;: <a href="mailto:pierre.lassocie@lenomducabinet.fr">pierre.lassocie@lenomducabinet.fr</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last signature">
											<table border="0" class="six columns">
												<tr>
													<td class="six sub-columns text-pad">
														<img src="./theme/images/signature-base.png" alt="Signature" width="180" height="42" />
													</td>
													<td class="six sub-columns">&#160;</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table> -->
								<!-- SIGNATURE END -->

								<!-- BOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<h6 class="name">Le Cabinet Expert</h6>
														<a class="link_map" target="_blank" href="http://maps.apple.com/?q=16%20rue%20du%204%20Septembre%2075002%20Paris">16 rue du 4 Septembre - 75002 Paris</a><br />
														<a href="mailto:ec-tenor@expert-infos.com">ec-tenor@expert-infos.com</a> Tél.&#160;: <a href="tel:0549602060">05 49 60 20 60</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="faicons wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<a target="_blank" class="faicon" href="http://twitter.com">
															<img src="./theme/images/faicon-twitter.gif" alt="Twitter" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="http://www.facebook.com">
															<img src="./theme/images/faicon-facebook.gif" alt="Youtube" width="30" height="30" />
														</a>
														<a target="_blank" class="faicon" href="http://www.linkedin.com">
															<img src="./theme/images/faicon-linkedin.gif" alt="Linkedin" width="30" height="30" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- BOTTOM END -->

								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row footer">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
															Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page de <a target="_blank" class="link_underline" href="#" lien_blackliste="lien_blackliste"><span class="important">désinscription</span></a>.
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>