<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
	table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<span class="online">
															Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
														</span>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center">
														<a target="_blank" href="http://url_site.com">
															<img class="link_box center" src="http://lorempixel.com/1440/192/sports/" alt="Header Newsletter" width="720" height="96" />
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td>
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<h1>Titrage général</h1>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td>
														<img src="http://lorempixel.com/1440/960/sports/" width="360" height="240" alt="Article à la Une" />
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- ARTICLES START -->
								<table border="0" class="row contentArticles">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempora hic quos quaerat, maiores quia molestias, cupiditate tempore cumque quo laboriosam, sed vel reiciendis in. Iusto quo est tempora dignissimos?
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- ARTICLES END -->

								<!-- CONTACT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<h2>Texte de contact</h2>
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<table border="0" class="row contentBtn">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="four sub-columns">&#160;</td>
													<td class="four sub-columns">
														<table class="button">
															<tr>
																<td>
																	<a href="#">Contact</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns">&#160;</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- CONTACT END -->

								<!-- SIGNATURE START -->
								<table border="0" class="row contentSignature">
									<tr>
										<td class="wrapper">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<strong>Pierre LASSOCIE</strong><br/>
														Expert-comptable et commissaire aux comptes<br/>
														Ligne directe&#160;: <a href="tel:01 02 03 04 05">01 02 03 04 05</a><br/>
														Email&#160;: <a href="mailto:pierre.lassocie@lenomducabinet.fr">pierre.lassocie@lenomducabinet.fr</a>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														Adresse Cabinet
													</td>
												</tr>
											</table>
										</td>
										<td class="expander"></td>
									</tr>
								</table>
								<!-- SIGNATURE END -->

								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row footer">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
															Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page de <a target="_blank" class="link_underline" href="#" lien_blackliste="lien_blackliste"><span class="important">désinscription</span></a>.
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>