<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="three sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<table border="0" class="logo">
																		<tr>
																			<td>
																				<a target="_blank" class="link_box" href="http://www.equatio.fr">
																					<img class="center" src="./theme/images/logo-equatio.png" alt="Equatio Finances" width="80" height="70" />
																				</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
													<td class="nine sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-right">
																	<h1 class="title">Qu'avez-vous prévu</h1>
																	<h4 class="subtitle">pour couvrir vos revenus en cas d'arrêt de travail ?</h4>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="decoupe">
											<img class="center" src="./theme/images/header-decoupe.png" alt="" width="720" height="80" />
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- CONTENT MAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<p>ContentMain col 1</p>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident et sapiente veritatis labore, tempore beatae perspiciatis delectus fugiat esse quod, voluptatum possimus nesciunt recusandae quas officia deleniti, sequi quos nihil.</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				Affichage sous-titre 1 sur 2 lignes
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi doloribus, voluptates, quis inventore reiciendis tenetur pariatur similique voluptatum, molestias vero et commodi ducimus deleniti quo nulla eum maxime, sunt officiis?</p>
																</td>
															</tr>
														</table>
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				Affichage ST2
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi doloribus, voluptates, quis inventore reiciendis tenetur pariatur similique voluptatum, molestias vero et commodi ducimus deleniti quo nulla eum maxime, sunt officiis?</p>
																</td>
															</tr>
														</table>
														<table border="0" class="subWrapper bordered">
															<tr>
																<td class="title-cont">
																	<table border="0">
																		<tr>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-l"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																			<td class="title-display">
																				Affichage ST3
																			</td>
																			<td class="br-cont">
																				<table border="0">
																					<tr>
																						<td class="filler"><p class="empty">&#160;</p></td>
																					</tr>
																					<tr>
																						<td class="br-t-r"><p class="empty">&#160;</p></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td class="text-cont">
																	<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi doloribus, voluptates, quis inventore reiciendis tenetur pariatur similique voluptatum, molestias vero et commodi ducimus deleniti quo nulla eum maxime, sunt officiis?</p>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table border="0" class="row contentBottom">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, repellendus sint, aperiam earum voluptatibus ducimus consectetur! Quae enim rem, quo, vel et ex odio possimus inventore dolor beatae incidunt eaque.</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT CONTENT START -->
								<table border="0" class="row contentContact">
									<tr>
										<td class="wrapper first">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, repellendus sint, aperiam earum voluptatibus ducimus consectetur! Quae enim rem, quo, vel et ex odio possimus inventore dolor beatae incidunt eaque.</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad center">
														<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, repellendus sint, aperiam earum voluptatibus ducimus consectetur! Quae enim rem, quo, vel et ex odio possimus inventore dolor beatae incidunt eaque.</p>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT CONTACT END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque sint accusantium nesciunt, saepe dolorem ipsum! Incidunt quas unde, doloribus quod molestias omnis vero fuga commodi obcaecati cumque sunt magnam!</p>
														<!--{{<gab_lien_blackliste>}}-->
														<br/>Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
														<!--{{</gab_lien_blackliste>}}-->
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>