//
// Generic theme's newsletter
// v3.0 | 2014-09-16 09:30
// --------------------------------------------------

//importation des variables
@import "variables.less";


// COLOR PARSING
// --------------------------------------------------

.colorParsing {
	newsletterContentCabInformBackground: @newsletterContentCabInformBackground;
	newsletterContentCabInformTitle: @newsletterContentCabInformTitle;
	newsletterContentCabInformText: @newsletterContentCabInformText;
	newsletterContentArticlesIconColor: @newsletterContentArticlesIconColor;
	newsletterContentArticlesReadMore: @newsletterContentArticlesReadMore;
	newsletterContentAgendaPreTitle: @newsletterContentAgendaPreTitle;
	newsletterContentChiffrePreTitle: @newsletterContentChiffrePreTitle;
	newsletterContentDessinPreTitle: @newsletterContentDessinPreTitle;
	newsletterContentProfessionPreTitle: @newsletterContentProfessionPreTitle;
	newsletterContentQuestionPreTitle: @newsletterContentQuestionPreTitle;
	newsletterContentContactBackground: @newsletterContentContactBackground;
	newsletterContentContactText: @newsletterContentContactText;
}