// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style


// TEST COLORS
// --------------------------------------------------
// .contentOnline { background-color: #E7A7EB; }
// .header { background-color: #A7C0EB; }
// .contentCabInform { background-color: #E0EBA7; }
// .contentALaUne { background-color: #EBC2A7; }
// .contentArticles { background-color: #A7EBEB; }
// .contentBottom { background-color: #EBE0A7; }
// .contentContact { background-color: #A7C4EB; }
// .footer { background-color: #EBB5A7; }


// CUSTOM MIXINS
// --------------------------------------------------
.newsletterInnerTextColor(@color) {
	&, td, .inner, a, a:link, a:visited, a:hover, a:focus, a:active { color: @color !important; }
}


// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	img { float: none; }
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

.header {
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
	  padding-right: 0;
	}
}

//en savoir plus
.readMore {
	display: block;
	padding-top: 10px;
	font-weight: bold;
}

//icone fléchée
.icon-rsaquo {
	font-style: normal;
	font-size: 150%;
	line-height: 0;
	vertical-align: baseline;
	bottom: -0.05em;
}

.title { padding-bottom: 5px; }

//sur titres
.preTitle {
	display: block;
	font-weight: lighter;
	font-size: (@headingsFontSizeH1 * 1.5);
	line-height: (@headingsFontSizeH1 * 0.85);
	//compensation décalage entre font-size et line-height
	padding-top: ((@headingsFontSizeH1 * 0.5) / 3);
	small { font-size: (@headingsFontSizeH1 * 0.85); }
	br { font-size: 0 !important; line-height: 0 !important; }
}

//réseaux sociaux
.webicons td { text-align: right; }
.webicon {
	display: inline;
	//pour supprimer les espaces
	font-size: 0;
	line-height: 0;
	padding: 0 5px 5px 5px;
	&.first { padding-left: 0; }
	&.last { padding-right: 0; }
	img {
		display: inline;
		border-radius: 5px;
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .webicon img {
		width: 30px !important;
		height: 30px !important;
	}
}

// contentOnline area
// -------------------------
.contentOnline {
	.online {
		display: block;
		padding-bottom: 5px;
	}
	.name { display: block; }
}

// contentArticles area
// -------------------------
.contentArticles {
	.title { padding-top: 4px; }
	.readMore { padding-top: 5px; }
	.inner { padding-bottom: 0; }
	&.last .inner { padding-bottom: 10px; }	
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentArticles {
		.title { padding-top: 0 !important; }
		.inner { padding-bottom: 9px !important; }
		&.last .inner { padding-bottom: 10px !important; }
		.wrapper.last .inner { padding-top: 0 !important; }
	}
}

// contentBottom area
// -------------------------
.contentBottom {
	//gestion bordure Interne
	.borderOffset {
		display: block;
		&.left { padding-left: 10px; }
		&.right { padding-right: 10px; }

		.border {
			display: block;
			font-size: 0;
			line-height: 0;
			height: 9px;
		}
	}

	.wrapper {
		&.last .inner { padding-top: 0; }
		.title { padding-top: 10px; }
		&.dessin .title { padding-top: 5px; }
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentBottom {
		.wrapper {
			.inner { padding-top: 10px !important; }
			.border { border-top: none !important; }
			.preTitle { line-height: @headingsFontSizeH1 !important; }
		}
		.borderContainer {
			display: none !important;
			visibility: hidden !important;
		}
	}
}


// DEFAULT COLORS
// --------------------------------------------------

// Body
// -------------------------
body, table.body {
  background-color: @nlBodyBackground;
}

// Main container
// -------------------------
.container { background-color: @nlContainerBackground; }

// Typography
// -------------------------
body, table.body, h1, h2, h3, h4, h5, h6, p, td {
	color: @nlText;
}

// Links
// -------------------------
a {
	color: @nlLinkColor;
	&:hover { color: @nlLinkColorHover !important; }
	&:active { color: @nlLinkColorHover !important; }
	&:visited { color: @nlLinkColor !important; }

	h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
		color: @nlLinkColor;
		&:active, &:visited { color: @nlLinkColor !important; }
	}

	.appleLinks & {
		color: @nlLinkColor;
		&:hover, &:active { color: @nlLinkColorHover !important; }
		&:visited { color: @nlLinkColor !important; }
	}
}

// contentOnline area
// -------------------------
.contentOnline {
	background-color: @nlCntOnlineBackground;
	.newsletterInnerTextColor(@nlCntOnlineText);
}

// contentALaUne area
// -------------------------
.contentALaUne {
	background-color: @nlCntUneBackground;
	.title { color: @nlCntUneTitle; }
	.newsletterInnerTextColor(@nlCntUneText);
	.readMore { color: @nlCntUneReadMore; }
}

// contentArticles area
// -------------------------
.contentArticles {
	.title {
		color: @nlCntArticlesTitle;
		border-top: 1px dotted @nlCntArticlesBorder;
	}
	.newsletterInnerTextColor(@nlCntArticlesText);
}
//rajout bordure en bas en mode responsive
@media only screen and (max-width: (@nlContainerWidth + @nlGutterWidth)) {
	table[class="body"] .contentArticles {
		.title { border-top: none !important; }
		border-bottom: 1px dotted @nlCntArticlesBorder !important;
		&.last { border-bottom: none !important; }
	}
}

// contentBottom area
// -------------------------
.contentBottom {
	.agenda {
		background-color: @nlCntAgendaBackground;
		.title { color: @nlCntAgendaTitle; }
		.newsletterInnerTextColor(@nlCntAgendaText);
	}

	.chiffre {
		background-color: @nlCntChiffreBackground;
		.title { color: @nlCntChiffreTitle; }
		.newsletterInnerTextColor(@nlCntChiffreText);
	}

	.dessin {
		.title { color: @nlCntDessinTitle; }
		.readMore { color: @nlCntDessinReadMore; }
		.border { border-top: 1px dotted @nlCntDessinBorder; }
	}

	.profession {
		.title { color: @nlCntProfessionTitle; }
		.border { border-top: 1px dotted @nlCntProfessionBorder; }
	}

	.question {
		.title { color: @nlCntQuestionTitle; }
		.border { border-top: 1px dotted @nlCntQuestionBorder; }
	}
}

// footer area
// -------------------------
.footer {
	background-color: @nlFooterBackground;
	.newsletterInnerTextColor(@nlFooterText);
}

//importation style localisé dans le site pour test
// @import "newsletter.less";
//reprise style newsletter.less sans les !important
//désactivé pour export


// CUSTOM COLORS
// --------------------------------------------------

// contentCabInform area
// -------------------------
.contentCabInform {
	-premailer-background: e("###((newsletterContentCabInformBackground))##");
	.title { color: e("###((newsletterContentCabInformTitle))##"); }
	.newsletterInnerTextColor(e("###((newsletterContentCabInformText))##"));
}

// contentArticles area
// -------------------------
.contentArticles {
	.title {
		.icon-rsaquo { color: e("###((newsletterContentArticlesIconColor))##"); }
	}
	.readMore { color: e("###((newsletterContentArticlesReadMore))##"); }
}


// contentBottom area
// -------------------------
.contentBottom {
	.agenda {
		.preTitle { color: e("###((newsletterContentAgendaPreTitle))##"); }
	}

	.chiffre {
		.preTitle { color: e("###((newsletterContentChiffrePreTitle))##"); }
	}

	.dessin {
		.preTitle { color: e("###((newsletterContentDessinPreTitle))##"); }
	}

	.profession {
		.preTitle { color: e("###((newsletterContentProfessionPreTitle))##"); }
	}

	.question {
		.preTitle { color: e("###((newsletterContentQuestionPreTitle))##"); }
	}
}


// contentContact area
// -------------------------
.contentContact {
	-premailer-background: e("###((newsletterContentContactBackground))##");
	.newsletterInnerTextColor(e("###((newsletterContentContactText))##"));
}

/*
// contentCabInform area
// -------------------------
.contentCabInform {
	background-color: @nlCntCabInformBackground;
	.title { color: @nlCntCabInformTitle; }
	.newsletterInnerTextColor(@nlCntCabInformText);
}

// contentArticles area
// -------------------------
.contentArticles {
	.title {
		.icon-rsaquo { color: @nlCntArticlesIconColor; }
	}
	.readMore { color: @nlCntArticlesReadMore; }
}


// contentBottom area
// -------------------------
.contentBottom {
	.agenda {
		.preTitle { color: @nlCntAgendaPreTitle; }
	}

	.chiffre {
		.preTitle { color: @nlCntChiffrePreTitle; }
	}

	.dessin {
		.preTitle { color: @nlCntDessinPreTitle; }
	}

	.profession {
		.preTitle { color: @nlCntProfessionPreTitle; }
	}

	.question {
		.preTitle { color: @nlCntQuestionPreTitle; }
	}
}


// contentContact area
// -------------------------
.contentContact {
	background-color: @nlCntContactBackground;
	.newsletterInnerTextColor(@nlCntContactText);
}
*/