// extends theme's variables.less file here


// Global values
// --------------------------------------------------


// Expert Infos
// -------------------------
@expertInfosRouge: #d12329;
@expertInfosBleu: #4b606d;
@expertInfosGris: #e6e8eb;


// Main colors
// -------------------------
@colorCouleur1: @expertInfosRouge;
@colorCouleur1Clair: lighten(@colorCouleur1, 25%);
@colorCouleur1Moyen: darken(@colorCouleur1, 15%);
@colorCouleur1Fonce: darken(@colorCouleur1, 30%);

@colorCouleur2: @expertInfosBleu;
@colorCouleur2Clair: lighten(@colorCouleur2, 20%);
@colorCouleur2Moyen: darken(@colorCouleur2, 10%);
@colorCouleur2Fonce: darken(@colorCouleur2, 25%);

@colorCouleur3: #919191;
@colorCouleur3Clair: lighten(@colorCouleur3, 35%);
@colorCouleur3Moyen: lighten(@colorCouleur3, 20%);
@colorCouleur3Fonce: darken(@colorCouleur3, 20%);


// Newsletter
// -------------------------
@newsletterBodyBackground: darken(@colorCouleur3, 10%);
@newsletterContainerBackground: #ffffff;
@newsletterText: #333333;
@newsletterLinkColor: @newsletterText;
@newsletterLinkColorHover: @newsletterLinkColor;
@newsletterHrBorder: darken(@colorCouleur3, 15%);

//couleurs des différentes zones
@newsletterContentOnlineBackground: @newsletterBodyBackground;
@newsletterContentOnlineText: #ffffff;

@newsletterContentInfosClientBackground: @colorCouleur1;
@newsletterContentInfosClientText: #ffffff;

@newsletterContentCabInformBackground: darken(@colorCouleur3, 15%);
@newsletterContentCabInformTitle: #ffffff;
@newsletterContentCabInformText: #ffffff;

@newsletterContentALaUneBackground: @colorCouleur2;
@newsletterContentALaUneTitle: #ffffff;
@newsletterContentALaUneText: #ffffff;
@newsletterContentALaUneReadMore: mix(@newsletterContentALaUneText, @newsletterContentALaUneBackground, 75%);

@newsletterContentArticlesIconColor: @colorCouleur1;
@newsletterContentArticlesTitle: @newsletterText;
@newsletterContentArticlesText: @newsletterText;
@newsletterContentArticlesReadMore: @colorCouleur1;
@newsletterContentArticlesBorder: @newsletterHrBorder;

@newsletterContentAgendaBackground: @colorCouleur3Clair;
@newsletterContentAgendaPreTitle: @colorCouleur1;
@newsletterContentAgendaTitle: @newsletterText;
@newsletterContentAgendaText: @newsletterText;

@newsletterContentDessinPreTitle: @colorCouleur1;
@newsletterContentDessinTitle: @newsletterText;
@newsletterContentDessinReadMore: lighten(@colorCouleur3, 5%);
@newsletterContentDessinBorder: @newsletterContentArticlesBorder;

@newsletterContentAdresseBackground: lighten(@colorCouleur3, 5%);
@newsletterContentAdresseText: #ffffff;

@newsletterContentLienSiteBackground: @colorCouleur3Clair;
@newsletterContentLienSiteText: @newsletterText;

@newsletterFooterBackground: @colorCouleur1;
@newsletterFooterText: #ffffff;


// Scaffolding
// -------------------------
@bodyBackground: @newsletterBodyBackground;
@containerBackground: @newsletterContainerBackground;
@textColor: @newsletterText;


// Links
// -------------------------
@linkColor:             @newsletterLinkColor;
@linkColorHover:        @newsletterLinkColorHover;


// Typography
// -------------------------
@baseFontSize:          12px;
@headingsColor:         @textColor;
@headingsFontWeight:    normal;


// Component sizing
// -------------------------
@headingsFontSizeH1:    26px;
@headingsFontSizeH2:    20px;
@headingsFontSizeH3:    18px;
@headingsFontSizeH4:    15px;
@headingsFontSizeH5:    13px;
@headingsFontSizeH6:    12px;

@fontSizeSmall:         11px;
@fontSizeMini:          9px;


// Hr border color
// -------------------------
@hrBorder: @newsletterHrBorder;


// Grid config
// --------------------------------------------------
@columnWidth: 60px;
@gutterWidth: 0px;