<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 600px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
					    <tr>
					        <td>
					        	<!-- ONLINE START -->
					        	<table border="0" class="row contentOnline">
					        		<tr>
					        			<td class="wrapper last">
					        				<table border="0" class="twelve columns">
					        					<tr>
					        						<td class="center text-pad">
														<small>
														<!--{{<gab_lien_message_online>}}-->
														<a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">Voir le contenu de ce mail en ligne</a>
														<!--{{</gab_lien_message_online>}}-->
														</small>
					        						</td>
													<td class="expander"></td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- ONLINE END -->

					        	<!-- HEADER START -->
					        	<table border="0" class="row header">
					                <tr>
					                    <td class="logo wrapper first">
					                        <table border="0" class="six columns">
					                            <tr>
					                                <td class="text-pad">
					                                	<img src="./theme/images/logo.jpg" width="280" height="75" />
					                                </td>
													<td class="expander"></td>
					                            </tr>
					                        </table>
					                    </td>
					                    <td class="tagline wrapper last">
					                        <table border="0" class="six columns">
					                            <tr>
					                                <td class="text-pad">
					                                	<h1 class="title">Le site d'information dédié aux professions libérales</h1>
					                                </td>
													<td class="expander"></td>
					                            </tr>
					                        </table>
					                    </td>
					                </tr>
					            </table>
					            <!-- HEADER END -->

					            <table border="0" class="row separator">
					            	<tr>
					            		<td class="wrapper first">
					                        <table border="0" class="twelve columns">
					                        	<tr>
					                        		<td>
					                        			<img src="./theme/images/separator.jpg" width="600" height="10" />
					                        		</td>
													<td class="expander"></td>
					                        	</tr>
					                        </table>
					            		</td>
					            	</tr>
					            </table>

					            <!-- CONTENT MAIN START -->
					            <table border="0" class="row contentMain">
					            	<tr>
					            		<td class="wrapper first bgc-lbvColorUne">
					                        <table border="0" class="six columns">
					                            <tr>
					                                <td class="text-pad contentActuMois">
					                                	<h3>L'actualité du mois</h3>
					                                	<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/4314664.jpeg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=458</lien>
														<survol></survol>
														<width>280</width>
														<height>128</height>
														<html_avant>}}--><p class="imgUne"><!--{{</html_avant>}}-->
														<!--DEL{{--><img src="./theme/images/4314664.jpeg" class="center" width="280" height="128" /><!--}}DEL-->
														<!--{{<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><img data-type="getstyle" class="center" /><!--getstyle--><!--{{ class="center"
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
														<html_interieur_avant>}}--><h2><!--{{</html_interieur_avant>
														<texte>}}-->Neuf régions choisies pour expérimenter le financement de la télémédecine<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Le ministère de la Santé vient de présenter la liste des neuf régions dans lesquelles auront lieu des expérimentations sur le financement des actes de télémédecine, prévues par la loi de financement de la Sécurité sociale 2014.<br/>23 agences régionales de santé (ARS) avaient postulé pour participer à ces expérimentations...<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
													<td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            		<td class="wrapper last bgc-lbvColorDossier">
					                        <table border="0" class="six columns">
					                            <tr>
					                                <td class="text-pad contentProfession bgc-lbvColorProfession">
					                                	<h2>Le coin des professions</h2>
					                                	<ul class="unstyled">
					                                		<!--{{##{{ <bloc nom="professions" type="debut" /> }}##}}-->
					                                		<li>
					                                			<!--{{##{{<champ>
																<type>lien</type>
																<href>http://www.liberaletvous.fr/actualite.php?id=468</href>
																<html_avant>}}--><i class="puce"></i> <!--{{</html_avant>
																<html_interieur_avant>}}--><span class="title"><!--{{</html_interieur_avant>
																<texte>}}-->Professionnels de santé<!--{{</texte>
																<html_interieur_apres>}}-->&#160;:</span><!--{{</html_interieur_apres>
																<params>
																}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																</params>
																</champ>}}## ##{{<champ>
																<type>lien</type>
																<href>http://www.liberaletvous.fr/actualite.php?id=468</href>
																<html_avant>}}--> <!--{{</html_avant>
																<texte>}}-->procédure de contrôle pour insuffisance professionnelle<!--{{</texte>
																<params>
																}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																</params>
																</champ>}}##}}-->
					                                		</li>
					                                		<!--{{##{{ <bloc nom="professions" type="fin" /> }}##}}-->

					                                		<!--DEL{{--><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=459"><span class="title">Masseurs-kinésithérapeutes&#160;:</span> vers une déréglementation de la profession&#160;?</a></li><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=469"><span class="title">Infirmiers&#160;:</span> changement de cotations en vue pour les perfusions</a></li><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=436"><span class="title">Avocats&#160;:</span> recours contre les décisions du bâtonnier en matière d'honoraires</a></li><!--}}DEL-->
					                                	</ul>
					                                	<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualites.php</href>
														<html_interieur_avant>}}--><small><!--{{</html_interieur_avant>
														<texte>}}-->Tous les articles<!--{{</texte>
														<html_interieur_apres>}}--></small><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
													<td class="expander"></td>
					                            </tr>
					                            <tr>
					                                <td class="text-pad contentDossier">
					                                	<h3>Dossier</h3>
					                                	<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/le-cesu-53.html</href>
														<html_interieur_avant>}}--><h2><!--{{</html_interieur_avant>
														<texte>}}-->Le CESU<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/le-cesu-53.html</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Le Chèque Emploi Service Universel (CESU) vous permet de régler des prestations de services à la personne, une garde d'enfants hors du domicile, ou encore les salaires d'un employé à domicile, en bénéficiant d'avantages fiscaux et sociaux.<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/</href>
														<html_interieur_avant>}}--><small><!--{{</html_interieur_avant>
														<texte>}}-->Tous les dossiers<!--{{</texte>
														<html_interieur_apres>}}--></small><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
													<td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- CONTENT MAIN END -->

					            <!-- CONTENT SECONDARY START -->
					            <table border="0" class="row contentSecondary">
					            	<tr>
					            		<td class="wrapper first bgc-lbvColorQuiz">
					                        <table border="0" class="six columns contentQuiz">
					                            <tr>
					                                <td class="text-pad">
					                                	<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h3><!--{{</html_avant>
														<defaut>}}-->Simulateurs<!--{{</defaut>
														<html_apres>}}--></h3><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr</href>
														<html_interieur_avant>}}--><h2><!--{{</html_interieur_avant>
														<texte>}}-->Faites connaître la newsletter liberaletvous auprès de vos confrères&nbsp;!&#160;!<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/qrcode.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr</lien>
														<survol></survol>
														<width>80</width>
														<height>80</height>}}-->
														<!--DEL{{--><img src="./theme/images/qrcode.jpg" width="80" height="80" /><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->C'est simple, il suffit de se connecter sur le site liberaletvous.fr et de renseigner son mail et sa profession dans la box dédiée, intitulée «&nbsp;Newsletter&nbsp;» (page d'accueil &gt; menu à gauche).<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr</href>
														<html_avant>}}--><small><!--{{</html_avant>
														<texte>}}-->(Pour accéder directement au site, flashez avec votre Smartphone.)<!--{{</texte>
														<html_apres>}}--></small><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
													<td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            		<td class="wrapper last bgc-lbvColorOffre">
					                        <table border="0" class="six columns">
					                            <tr>
					                                <td class="text-pad contentOffre">
					                                	<!--{{##{{<champ>
														<type>text</type>
														<html_avant>}}--><h3><!--{{</html_avant>
														<defaut>}}-->L'offre du mois<!--{{</defaut>
														<html_apres>}}--></h3><!--{{</html_apres>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</href>
														<html_interieur_avant>}}--><h2><!--{{</html_interieur_avant>
														<texte>}}-->Offre bancaire<!--{{</texte>
														<html_interieur_apres>}}--></h2><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/offre.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</lien>
														<survol></survol>
														<width>140</width>
														<height>90</height>}}-->
														<!--DEL{{--><img src="./theme/images/offre.jpg" width="140" height="90" /><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Selon votre métier en profession libérale, découvrez les offres qui vous sont proposées par Liberaletvous&nbsp;: offre de financement, offre d'épargne et de gestion patrimoniale, offre monétique, Titre CESU préfinancé...<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
													<td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- CONTENT SECONDARY END -->

					            <!-- CONTENT BOTTOM START -->
					            <table border="0" class="row bgc-lbvColorActus">
					            	<tr>
					            		<td class="wrapper last">
					            			<table border="0" class="twelve columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<h3>Les autres actualités</h3>
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>

					            <!--{{##{{ <bloc nom="actualites" type="debut" /> }}##}}-->
					            <table border="0" class="row contentBottom bgc-lbvColorActus">
					            	<tr>
					            		<td class="wrapper first">
					            			<table border="0" class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/4217516.jpeg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=440</lien>
														<survol></survol>
														<width>150</width>
														<height>69</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/4217516.jpeg" width="150" height="69" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=440</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Crédit d'impôt apprentissage&#160;: précisions administratives<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            		<td class="wrapper">
					            			<table border="0" class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/4311718.jpeg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=454</lien>
														<survol></survol>
														<width>150</width>
														<height>69</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/4311718.jpeg" width="150" height="69" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=454</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Contrôle d'une comptabilité informatisée&#160;: des précisions utiles pour les Cabinets<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            		<td class="wrapper last">
					            			<table border="0" class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/4196408.jpeg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=437</lien>
														<survol></survol>
														<width>150</width>
														<height>69</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/4196408.jpeg" width="150" height="69" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=437</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Mettre en place des chèques-vacances<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>
					            <!--{{##{{ <bloc nom="actualites" type="fin" /> }}##}}-->
					            <!-- CONTENT BOTTOM END -->

								<!-- FOOTER START -->
					            <table border="0" class="row contentFooter bgc-lbvColorFooter">
					            	<tr>
					            		<td class="wrapper last">
					            			<table border="0" class="twelve columns">
					            				<tr>
					            					<td class="center text-pad">
					            						Créée à l'initiative de la Banque Populaire, en collaboration avec Les&#160;Echos.
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- FOOTER END -->

					            <!-- LEGAL START -->
					            <table border="0" class="row contentLegal">
					            	<tr>
					            		<td class="wrapper last">
					            			<table border="0" class="twelve columns">
					            				<tr>
					            					<td class="text-pad">
					            						<small>
					            							<a class="link_underline" target="_blank" href="http://www.liberaletvous.fr">Liberaletvous.fr</a> - BPCE ; <a class="link_underline" target="_blank" href="http://maps.apple.com/?q=50%2C+avenue+Pierre+Mend%3Fs+France+-+75013+Paris">50, avenue Pierre Mendès France - 75013 Paris</a>.<br/>
					            							<!--{{##{{<champ>
					            							<type>textarea</type>
					            							<defaut>}}-->Publication de la Banque Populaire. Destinataires&#160;: Professions libérales. Directeur de la publication&#160;: François Pérol, président du directoire de BPCE. Directeur de la rédaction&#160;: Les Echos Publishing. Rédaction en chef&#160;: D. Giraud. Comité de rédaction&#160;: D. Giraud, L. Le Goff - Réalisation&#160;: Les&#160;Echos.<!--{{</defaut>
					            							</champ>}}##}}-->
					            						</small>
					            					</td>
													<td class="expander"></td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- LEGAL END -->

					            <!-- UNSUBSCRIBE START -->
								<table border="0" class="row contentUnsub">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
														<!--{{<gab_lien_blackliste>}}-->
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page&#160;: <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>
														<!--{{</gab_lien_blackliste>}}-->
														</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					            <!-- UNSUBSCRIBE END -->
					        </td>
					    </tr>
					</table>

				</center>
			</td>
		</tr>
	</table>
</body>
</html>