<!-- flashinfos_av_mail_V3_resp.asp -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--{{%%{{
Set Conn = Server.CreateObject("ADODB.Connection")
Conn.ConnectionString =  application("Base_Newsletter")
Conn.Open

id_client=request.QueryString("id_client")

CLIENT_SQL="SELECT * FROM CLIENTS WHERE (ID_CLIENT = "&id_client&")"
Set rsClient=conn.Execute(CLIENT_SQL)

id_exp=rsClient("id_exp")
id_civilite=rsClient("id_civilite")
if id_civilite = "1" then
    civilite="Monsieur"
elseif id_civilite="2" then
    civilite="Madame"
elseif id_civilite="3" then
    civilite="Mademoiselle"
elseif id_civilite="4" then
    civilite="Ma&#238;tre"
elseif id_civilite="5" then
    civilite="Docteur"
elseif id_civilite="6" then
    civilite="Professeur"
else
    civilite=""
end if

nom_client=rsClient("nom_client")

CABINET_SQL="SELECT * FROM EXPERTS_COMPTABLES WHERE (ID_EXP = "&id_exp&")"
set rsCabinet=conn.Execute(CABINET_SQL)

if not rsCabinet.eof then

	repertoire_ei = rsCabinet("repertoire_ei")
	nom_exp = rsCabinet("nom_exp")
	prenom_exp = rsCabinet("prenom_exp")
	raison_sociale_exp = rsCabinet("raison_sociale_exp")
	type_client = rsCabinet("type_client")	
	adresse1_exp = rsCabinet("adresse1_exp")
	adresse2_exp = rsCabinet("adresse2_exp")
	code_postal_exp = rsCabinet("code_postal_exp")
	commune_exp = rsCabinet("commune_exp")
	tel_cabinet = rsCabinet("tel_cabinet")
	fax_cabinet = rsCabinet("fax_cabinet")
	email_exp = rsCabinet("email_exp")
	type_perso_site = rsCabinet("type_perso_site")
	login_site_exp = rsCabinet("login_site_exp")
	mdp_site_exp = rsCabinet("mdp_site_exp")
	type_abo = rsCabinet("type_abo")
	if type_abo="4" then
	url_site_exp=rsCabinet("url_site_V3")
	else
	url_site_exp = rsCabinet("url_site_exp")
	end if
	url_facebook = rsCabinet("Facebook")
	url_twitter = rsCabinet("Twitter")
	url_linkedin = rsCabinet("Linkedin")
	url_viadeo = rsCabinet("Viadeo")
	url_google = rsCabinet("Google")
	url_vimeo = rsCabinet("Vimeo")
	url_youtube = rsCabinet("Youtube")
	logo_groupement = rsCabinet("logo_groupement")
	lien_groupement = rsCabinet("lien_groupement")

	Select Case type_perso_site
		Case 38 txt_perso_site = "pop"
		Case 39 txt_perso_site = "disco"
	End Select
end if

'Detect isSocialNetwork'
if(url_facebook = "" and url_twitter="" and url_linkedin="" and url_viadeo="" and url_google="" and url_vimeo="" and url_youtube="") then
	isSocialNetwork = False
else
	isSocialNetwork = True
end if

'Detect isDemo'
if(IsNull(isDemo)=True)then
	isDemo = false
end if

'Detect isOnline'
if(Request.QueryString("is_online") = 1 OR isDemo = True)then
	isOnline = True
else
	isOnline = False
end if

'Detect isCollaborateur'
if(Request.QueryString("is_coll") = 1)then
	isCollaborateur = True
else
	isCollaborateur = False
end if

set rsCount=conn.Execute("SELECT COUNT(*) FROM FLASH_CABINFORM WHERE id_exp="& id_exp &" AND (afficher=1)")
set rs=conn.Execute("SELECT * FROM FLASH_CABINFORM WHERE id_exp=" & id_exp &" AND (afficher=1) ORDER BY ordre")
}}%%}}-->
<!--{{%%{{ 'CSS Parser. Use colorParsing.Item("nlColorVariable")' }}%%}}-->
<!--#include file="../parserCSS.inc"-->
<!--#include file="emill-av.asp"-->
<!--{{%%{{
idarticleAlaune=request.QueryString("idarticleAlaune")
idarticle=request.QueryString("idarticle")

'Changement pour newsletter collaborateur'
if isCollaborateur=True then
	get_coll = "&is_coll=1"
	get_date = la_date_collaborateur
else
	get_coll = ""
	get_date = la_date
end if

'Ciblage fichier de demo'
if isDemo=True then
	fileName = "flashinfos_av_demo_V3_resp"
else
	fileName = "flashinfos_av_mail_V3_resp"
end if

online_url = "http://e-newsletter.expert-infos.com/_e-newsletter/"&la_semaine&"/"&fileName&".asp?id_client="&id_client&"&idarticle="&idarticle&"&idarticleAlaune="&idarticleAlaune&"&is_online=1"&get_coll
tracking_url = "fintrack=&amp;rep="&repertoire_ei&"&amp;url_site_exp="&url_site_exp
}}%%}}-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" type="text/css" media="all" href="theme/css/style.css" /><title>Newsletter bimensuelle du <!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></title>
</head>
<body bgcolor="##((nlBodyBackground))##">
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body" bgcolor="##((nlBodyBackground))##" id="backgroundTable">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>

								<!-- ONLINE START -->
								<table border="0" class="row contentOnline" bgcolor="##((nlCntOnlineBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{%%{{ if isOnline=False then }}%%}}-->
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">
															<small>Pour visualiser ce message en ligne, <a target="_blank" class="link_underline" href="%%{{=online_url}}%%&amp;%%{{=tracking_url}}%%"><span class="important">suivez ce lien</span></a>.</small>
														</span>
														<!--{{</gab_lien_message_online>}}-->
														<!--{{%%{{ end if }}%%}}-->
														<br/><span class="name"><strong><!--{{%%{{=civilite}}%%}}--><!--DEL{{-->civilite<!--}}DEL-->&nbsp;<!--{{%%{{=nom_client}}%%}}--><!--DEL{{-->nom_client<!--}}DEL-->, votre newsletter du <a class="link_disabled" href="#"><span class="important"><!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></span></a>.</strong></span>
													</td>
													<td class="expander" bgcolor="##((nlBodyBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ONLINE END -->
								
								<!--{{%%{{ if logo_groupement=True then }}%%}}-->
								<!-- HEADER GROUPE START -->
								<table border="0" class="row header" bgcolor="##((nlBodyBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<a target="_blank" class="link_box" href="http://%%{{=url_site_exp}}%%?%%{{=tracking_url}}%%">
															<img src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-site.png" alt="Header Newsletter Site" width="480" height="96" /><!--DEL{{--><img src="http://lorempixel.com/960/192/city/" alt="NomCabinet" width="480" height="96" /><!--}}DEL-->
														</a>
													</td>
													<td class="four sub-columns last">
														<a target="_blank" class="link_box" href="http://%%{{=lien_groupement}}%%?%%{{=tracking_url}}%%">
															<img src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-groupe.png" alt="Header Newsletter Groupe" width="240" height="96" /><!--DEL{{--><img src="http://lorempixel.com/480/192/technics/" alt="NomCabinet" width="240" height="96" /><!--}}DEL-->
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER GROUPE END -->
								<!--{{%%{{ else }}%%}}-->
								<!-- HEADER START -->
								<table border="0" class="row header" bgcolor="##((nlBodyBackground))##">
								    <tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" href="http://%%{{=url_site_exp}}%%?%%{{=tracking_url}}%%">
								                            <img class="link_box center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter.png" alt="Header Newsletter" width="720" height="96" /><!--DEL{{--><img src="./theme/images/header-newsletter.png" width="720" height="96" alt="" /><!--}}DEL-->
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->
								<!--{{%%{{ end if }}%%}}-->
								
								<!--{{%%{{ if(texte_vacances <> "") then }}%%}}-->
								<!-- TEXTEVACANCES START -->
								<table border="0" class="row contentCabInform" bgcolor="##((nlCntCabBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{%%{{=texte_vacances}}%%}}--><!--DEL{{-->texte_vacances<!--}}DEL-->
													</td>
													<td class="expander" bgcolor="##((nlBodyBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TEXTEVACANCES END -->
								<!--{{%%{{ end if }}%%}}-->
								
								<!--{{%%{{
								if ((rsCount(0)>0)) then
									if not rs.eof then 
										while not (rs.eof)
								}}%%}}-->
								<!-- CABINFORM START -->
								<table border="0" class="row contentCabInform" bgcolor="##((nlCntCabBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{%%{{
														lien_cab=rs("lien")
														if (lien_cab <> "") then
														}}%%}}-->
														<h2 class="title"><a target="_blank" href="%%{{=lien_cab}}%%"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></a></h2>
														<a target="_blank" class="link_box" href="%%{{=lien_cab}}%%">
															<span class="text"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></span>
															<br/><span class="readMore"><span class="icon-rsaquo">&rsaquo;</span>&#160;lire la suite</span></span>
														</a>
														<!--{{%%{{ else }}%%}}-->
														<h2 class="title"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></h2>
														<span class="text"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></span>
														<!--{{%%{{ end if }}%%}}-->
													</td>
													<td class="expander" bgcolor="##((nlBodyBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CABINFORM END -->
								<!--{{%%{{
										rs.movenext
										wend
									end if
								end if
								}}%%}}-->

							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>