// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	img { float: none; }
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//gestion header
.header {
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
	  padding-right: 0;
	}
}