// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

// CUSTOM MIXINS
// --------------------------------------------------
.newsletterInnerTextColor(@color) {
	&, td, .inner, a, a:link, a:visited, a:hover, a:focus, a:active { color: @color !important; }
}

// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	img { float: none; }
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//gestion header
.header {
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
	  padding-right: 0;
	}
}

// contentALaUne area
// -------------------------
.contentALaUne {
	background-color: @colorGan1;
	.newsletterInnerTextColor(#ffffff);

	//suppression décalage en trop
	.wrapper .columns .inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	//modification padding au milieu
	.wrapper.first .columns .text-pad { padding-right: 20px; }
	.wrapper.last .columns .text-pad {
		padding-left: 19px;
		border-left: 1px dotted #ffffff;
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentALaUne {
		//rajout décalage sur les côtés et suppression padding vertical en trop
		.wrapper > .inner { padding: 0 10px; }

		//rajout décalage interne
		.wrapper .columns .inner {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		//supppression décalage interne en trop
		.wrapper .columns .text-pad {
			padding-left: 0;
			padding-right: 0;
		}

		//changement orientation bordure et compensation padding
		.wrapper.last .columns {
			.text-pad { border-left: 0; }
			.inner {
				padding-top: 9px;
				border-top: 1px dotted #ffffff;
			}
		}
	}
}