// theme's imports
@import "import.less";

// additionnal template's style which extends ink's style

// CUSTOM MIXINS
// --------------------------------------------------
.newsletterInnerTextColor(@color) {
	&, td, .inner, a, a:link, a:visited, a:hover, a:focus, a:active { color: @color !important; }
}

// LAYOUT
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

.inner {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	img { float: none; }
}

//suppression paddings verticaux déportés sur classe .inner dans certaines zones
td.wrapper { padding-top: 0; }
table.columns td, table.column td { padding-bottom: 0; }

//gestion header
.header {
	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
	  padding-right: 0;
	}
}

//sur titres
.preTitle {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
}

//icone fléchée
.icon-rsaquo {
	position: relative;
	vertical-align: baseline;
	line-height: 0;
	bottom: .1em;
	font-weight: bold;
	font-size: 100%;
	color: @colorGan5;
}

// contentALaUne area
// -------------------------
.contentALaUne {
	background-color: @colorGan1;
	.newsletterInnerTextColor(#ffffff);

	.preTitle {
		color: mix(#fff, @colorGan1, 50%);
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.title {
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	
	//pour rajouter de l'espace en haut et en dessous des wrappers
	.filler {
		height: 20px;
		-premailer-height: 20px;
	}

	//suppression décalage en trop
	.inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	//modification padding au milieu
	.wrapper.first .columns .text-pad { padding-right: 20px; }
	
	//rajout bordure sur le 2ème wrapper directement
	.wrapper.last {
		border-left: 1px dotted #ffffff;

		.columns .text-pad { padding-left: 19px; }
		//réduction largeur tableau 6 colonnes de 1px pour compenser
		.columns.six { width: (5 * @gutterWidth + 6 * @columnWidth - 1px); }
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentALaUne {
		//masquage filler
		.filler {
			display: none;
			visibility: hidden;
		}

		//rajout décalage vertical et horizontal
		.inner {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.wrapper > .columns td {
			padding-left: 10px;
			padding-right: 10px;
		}

		//supppression décalage interne en trop
		.wrapper .columns .text-pad {
			padding-left: 0;
			padding-right: 0;
		}

		//changement orientation bordure et compensation padding
		.wrapper.last {
			border-left: 0;
			.inner {
				border-top: 1px dotted #ffffff;
				padding-top: 9px;
			}
		}
	}
}

// contentMain area
// -------------------------
.contentMain {
	.inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.preTitle { padding-bottom: 5px; }

	.wrapper.first .columns .text-pad { padding-right: 20px; }
	.wrapper.last .columns .text-pad { padding-left: 20px; }

	.actualites {
		background-color: @colorGan2;
		.preTitle { color: mix(@textColor, @colorGan2, 50%); }

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				padding-bottom: 5px;
				text-transform: uppercase;
				font-size: 12px;

			}
		}
	}

	.offre {
		background-color: @colorGan3;
		.preTitle { color: mix(@textColor, @colorGan3, 50%); }

		.title {
			color: @colorGan5;
			text-transform: uppercase;
		}

		.text {
			
		}


		.condition {
			display: block;
		}
	}
}
@media only screen and (max-width: (@containerWidth + @gutterWidth)) {
	table[class="body"] .contentMain {
		.inner {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.wrapper.first .columns .text-pad { padding-right: 10px; }
		.wrapper.last .columns .text-pad { padding-left: 10px; }
	}
}