// extends theme's variables.less file here


// Scaffolding
// -------------------------
@bodyBackground:        #bebebe;
@containerBackground:   #ffffff;
@textColor:             #222222;


// Typography
// -------------------------
@sansFontFamily:        "Century Gothic", CenturyGothic, AppleGothic,sans-serif; 

@baseFontSize:          14px;
@baseLineHeight:        18px;
@headingsColor:         @textColor;
@headingsFontWeight:    bold;


// Component sizing
// -------------------------
@headingsFontSizeH1:    30px;
@headingsFontSizeH2:    26px;
@headingsFontSizeH3:    22px;
@headingsFontSizeH4:    20px;
@headingsFontSizeH5:    18px;
@headingsFontSizeH6:    16px;

@fontSizeLarge:         (@baseFontSize * 1.30);  // ~18px
@fontSizeSmall:         (@baseFontSize * 0.85);  // ~12px
@fontSizeMini:          (@baseFontSize * 0.65);  // ~9px


// Grid config
// --------------------------------------------------
@columnWidth: 60px;
@gutterWidth: 0;


// Padding config
// --------------------------------------------------
@wrapperPad: 20px;
@wrapperPadCollapse: (@wrapperPad / 2);

@columnPad: @wrapperPad;
@columnPadCollapse: (@columnPad / 2);

@blockGridPad: @wrapperPad;
@blockGridPadCollapse: (@blockGridPad / 2);

@panelPad: @wrapperPad;
@panelPadCollapse: (@panelPad / 2);

@textPad: (@wrapperPad * 2);
@textPadCollapse: (@textPad / 2);