<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper first">
											<table border="0" class="nine columns">
												<tr>
													<td class="text-pad">
														Diagonales<br/>
														L'émission des regards croisés sur la transformation digitale
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="three columns">
												<tr>
													<td>
														<a target="_blank" class="link_box" href="http://www.orange.fr">
															<img src="https://lorempizza.com/360/360" alt="ORANGE Diagonales" width="180" height="180" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- TITLE START -->
								<table border="0" class="row contentTitle">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Le travail de demain<br/>
														Humain vs. Inteligence Artificielle
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TITLE END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainImage">
												<tr>
													<td class="text-pad center">
														<img src="https://lorempizza.com/1280/520" alt="ORANGE Diagonales" width="640" height="260" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainSquares">
												<tr>
													<td class="four sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	Colonne 1
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns middle">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	Colonne 2
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	Colonne 3
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- QUOTERIGHT START -->
								<table border="0" class="row contentQuoteRight">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<td class="four sub-columns first">
															<img src="https://lorempizza.com/480/340" alt="ORANGE Diagonales" width="240" height="170" />
														</td>
														<td class="two sub-columns middle">
															<img src="https://lorempizza.com/240/340" alt="ORANGE Diagonales" width="120" height="170" />
														</td>
														<td class="six sub-columns last">
															<table border="0" class="subWrapper">
																<tr>
																	<td class="text-pad">
																		Avec l'IA, il va y avoir une fusion de la DRH avec l'IT.
																	</td>
																</tr>
															</table>
														</td>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														Laurent Alexandre<br/>
														CEO de DNA Vision et auteur spécialiste de ces questions
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTERIGHT END -->

								<!-- QUOTELEFT START -->
								<table border="0" class="row contentQuoteLeft">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<td class="two sub-columns first">
															<img src="https://lorempizza.com/240/340" alt="ORANGE Diagonales" width="120" height="170" />
														</td>
														<td class="six sub-columns middle">
															<table border="0" class="subWrapper">
																<tr>
																	<td class="text-pad">
																		Avec l'IA, il va y avoir une fusion de la DRH avec l'IT.
																	</td>
																</tr>
															</table>
														</td>
														<td class="four sub-columns last">
															<img src="https://lorempizza.com/480/340" alt="ORANGE Diagonales" width="240" height="170" />
														</td>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														Jérôme Monceaux<br/>
														Président Spoon et co-createur des robots Nao et Pepper
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTELEFT END -->


							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>