<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="ten sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<h1 class="title">Diagonales</h1>
																	<h4 class="subTitle">L&rsquo;émission des regards croisés sur la transformation digitale</h4>
																</td>
															</tr>
														</table>
													</td>
													<td class="two sub-columns last">
														<img src="./theme/images/orange-diagonales-header.png" alt="ORANGE Diagonales" width="120" height="180" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- TITLE START -->
								<table border="0" class="row contentTitle">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<h2 class="title center">Le travail de demain</h2>
														<h3 class="subtitle center">Humain vs. Inteligence Artificielle</h3>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TITLE END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainImage">
												<tr>
													<td class="text-pad center">
														<a target="_blank" class="link_box" href="https://www.orange-business.com/fr/">
															<img src="./theme/images/orange-diagonales-une.png" alt="ORANGE Diagonales" width="660" height="260" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainSquares">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="four sub-columns first">
																	<table border="0" class="square">
																		<tr>
																			<td class="filler">
																				<table border="0" class="textWrapper">
																					<tr>
																						<td class="text-pad">
																							Quelle sera la place demain pour l&rsquo;intelligence artificielle et l&rsquo;humain dans les entreprises&#160;?
																						</td>
																					</tr>
																				</table>
																			</td>
																			<td class="colSep" style="mso-hide:all;">&#160;</td>
																		</tr>
																	</table>
																</td>
																<td class="four sub-columns middle">
																	<table border="0" class="square">
																		<tr>
																			<td class="colSep">&#160;</td>
																			<td class="filler">
																				<table border="0" class="textWrapper">
																					<tr>
																						<td class="text-pad">
																							Faut-il craindre une substitution&#160;?
																							<br/><br/>
																							Comment collaborerons-nous avec les machines&#160;?
																						</td>
																					</tr>
																				</table>
																			</td>
																			<td class="colSep" style="mso-hide:all;">&#160;</td>
																		</tr>
																	</table>
																</td>
																<td class="four sub-columns last">
																	<table border="0" class="square">
																		<tr>
																			<td class="colSep" style="mso-hide:all;">&#160;</td>
																			<td class="filler">
																				<table border="0" class="textWrapper">
																					<tr>
																						<td class="text-pad">
																							Comment les fonctions seront-elles transformées et quels nouveaux métiers apparaîtront-ils&#160;?
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- QUOTERIGHT START -->
								<table border="0" class="row contentQuote right">
									<tr>
										<td class="spacer">&#160;</td>
									</tr>
									<tr>
										<td class="quote wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="four sub-columns first">
																	<table border="0" class="subWrapper image">
																		<tr>
																			<td>
																				<img src="./theme/images/orange-diagonales-quote-image-1.png" alt="ORANGE Diagonales - Laurent Alexandre" width="210" height="170" />
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="two sub-columns middle center">
																	<table border="0" class="subWrapper doublequote">
																		<tr>
																			<td>
																				<img class="center" src="./theme/images/orange-diagonales-doublequote.png" alt="ORANGE Diagonales" width="80" height="78" />
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="six sub-columns last">
																	<table border="0" class="subWrapper quote">
																		<tr>
																			<td class="text-pad">
																				Avec l&rsquo;IA, il va y avoir une fusion de la DRH avec l&rsquo;IT.&rdquo;
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="author wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="title">Laurent Alexandre</h5>
														<div class="text">CEO de DNA Vision et auteur spécialiste de ces questions</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTERIGHT END -->

								<!-- QUOTELEFT START -->
								<table border="0" class="row contentQuote left">
									<tr>
										<td class="spacer">&#160;</td>
									</tr>
									<tr>
										<td class="quote wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="two sub-columns first center">
																	<table border="0" class="subWrapper doublequote">
																		<tr>
																			<td>
																				<img class="center" src="./theme/images/orange-diagonales-doublequote.png" alt="ORANGE Diagonales" width="80" height="78" />
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="six sub-columns middle">
																	<table border="0" class="subWrapper quote">
																		<tr>
																			<td class="text-pad">
																				L&rsquo;IA sera un outil puissant s&rsquo;il peut aider un homme à avoir de nouvelles idées.&rdquo;
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="four sub-columns last">
																	<table border="0" class="subWrapper image">
																		<tr>
																			<td>
																				<img src="./theme/images/orange-diagonales-quote-image-2.png" alt="ORANGE Diagonales - Jérôme Monceaux" width="210" height="170" />
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="author wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="title">Jérôme Monceaux</h5>
														<div class="text">Président Spoon et co-createur des robots Nao et Pepper</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTELEFT END -->

								<!-- HOST START -->
								<table border="0" class="row contentHost">
									<tr>
										<td class="spacer">&#160;</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="two sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-left">
																	<img src="./theme/images/orange-diagonales-host.png" alt="ORANGE Diagonales - Fred Haffner" width="90" height="80" />
																</td>
															</tr>
														</table>
													</td>
													<td class="ten sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<div class="text">
																		Une émission présentée par<br/>
																		<strong>Fred Haffner</strong>, journaliste spécialisé	
																	</div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HOST END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad-left">
														Retrouvez-nous sur<br/>
														<a href="https://www.orange-business.com/fr/" target="_blank">https://www.orange-business.com/fr/</a><br/>
														et sur les réseaux sociaux
														<table border="0" class="subWrapper faicons">
															<tr>
																<td>
																	<a target="_blank" class="faicon" href="https://www.facebook.com/orangepro/">
																		<img src="./theme/images/faicon-facebook.png" alt="Facebook" width="24" height="24" />
																	</a>
																	<a target="_blank" class="faicon" href="https://twitter.com/orangepro">
																		<img src="./theme/images/faicon-twitter.png" alt="Twitter" width="24" height="24" />
																	</a>
																	<a target="_blank" class="faicon" href="http://www.youtube.com/user/orangeprofessionnels">
																		<img src="./theme/images/faicon-youtube.png" alt="Youtube" width="24" height="24" />
																	</a>
																	<a target="_blank" class="faicon" href="https://www.linkedin.com/company/orange-pro">
																		<img src="./theme/images/faicon-linkedin.png" alt="Linkedin" width="24" height="24" />
																	</a>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper middle">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														En partenariat avec
														<table border="0" class="subWrapper">
															<tr>
																<td>
																	<a class="link_box" href="http://www.lesechos-publishing.fr" target="_blank">
																		<img class="lesechos-publishing center" src="./theme/images/lesechos-publishing.png" alt="Les Echos Publishing" width="120" height="12" />
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad center">
														<a target="_blank" class="link_box" href="https://www.orange-business.com/fr/">
															<img class="orange-business-services center" src="./theme/images/orange-business-services.png" alt="Orange Business Services" width="180" height="77" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>