<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainSquares">
												<tr>
													<td class="ten sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<h1 class="title">Diagonales</h1>
																	<h4 class="subTitle">L'émission des regards croisés sur la transformation digitale</h4>
																</td>
															</tr>
														</table>
													</td>
													<td class="two sub-columns last">
														<img src="./theme/images/orange-diagonales-header.png" alt="ORANGE Diagonales" width="120" height="180" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- TITLE START -->
								<table border="0" class="row contentTitle">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<h2 class="title center">Le travail de demain</h2>
														<h3 class="subtitle center">Humain vs. Inteligence Artificielle</h3>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TITLE END -->

								<!-- ALAUNE START -->
								<table border="0" class="row contentALaUne">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainImage">
												<tr>
													<td class="text-pad center">
														<img src="./theme/images/orange-diagonales-une.jpg" alt="ORANGE Diagonales" width="640" height="260" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns mainSquares">
												<tr>
													<td class="text-pad">
														<table border="0" class="subWrapper">
															<tr>
																<td class="four sub-columns first">
																	<table border="0" class="subWrapper">
																		<tr>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																			<td class="text-pad">
																				Quelle sera la place demain pour l'intelligence artificielle et l'humain dans les entreprises ?
																			</td>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="four sub-columns middle">
																	<table border="0" class="subWrapper">
																		<tr>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																			<td class="text-pad">
																				Faut-il craindre une substitution ?
																				<br/><br/>
																				Comment collaborerons-nous avec les machines ?
																			</td>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="four sub-columns last">
																	<table border="0" class="subWrapper">
																		<tr>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																			<td class="text-pad">
																				Comment les fonctions seront-elles transformées et quels nouveaux métiers apparaîtront-ils ?
																			</td>
																			<td class="colSep">
																				<table border="0" class="rowSep">
																					<tr><td class="rowFirst">&#160;</td></tr>
																					<tr><td class="rowLast">&#160;</td></tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- ALAUNE END -->

								<!-- QUOTERIGHT START -->
								<table border="0" class="row contentQuote right">
									<tr>
										<td class="quote wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<td class="four sub-columns first">
															<img src="./theme/images/orange-diagonales-quote-image-1.png" alt="ORANGE Diagonales - Laurent Alexandre" width="240" height="170" />
														</td>
														<td class="two sub-columns middle center">
															<img class="center" src="./theme/images/orange-diagonales-doublequote.png" alt="ORANGE Diagonales" width="80" height="78" />
														</td>
														<td class="six sub-columns last">
															<table border="0" class="subWrapper">
																<tr>
																	<td class="text-pad">
																		Avec l'IA, il va y avoir une fusion de la DRH avec l'IT.
																	</td>
																</tr>
															</table>
														</td>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="author wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="title">Laurent Alexandre</h5>
														<div class="text">CEO de DNA Vision et auteur spécialiste de ces questions</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTERIGHT END -->

								<!-- QUOTELEFT START -->
								<table border="0" class="row contentQuote left">
									<tr>
										<td class="quote wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td>
														<td class="two sub-columns first center">
															<img class="center" src="./theme/images/orange-diagonales-doublequote.png" alt="ORANGE Diagonales" width="80" height="78" />
														</td>
														<td class="six sub-columns middle">
															<table border="0" class="subWrapper">
																<tr>
																	<td class="text-pad">
																		Avec l'IA, il va y avoir une fusion de la DRH avec l'IT.
																	</td>
																</tr>
															</table>
														</td>
														<td class="four sub-columns last">
															<img src="./theme/images/orange-diagonales-quote-image-2.png" alt="ORANGE Diagonales - Jérôme Monceaux" width="240" height="170" />
														</td>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="author wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5 class="title">Jérôme Monceaux</h5>
														<div class="text">Président Spoon et co-createur des robots Nao et Pepper</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- QUOTELEFT END -->

								<!-- HOST START -->
								<table border="0" class="row contentHost">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="two sub-columns first">
														<img src="https://lorempizza.com/240/240" alt="ORANGE Diagonales" width="120" height="120" />
													</td>
													<td class="ten sub-columns last">
														<div class="text">
															Une émissions présentée par<br/>
															<strong>Fred Haffner</strong>, journaliste spécialisé	
														</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HOST END -->

								<!-- FOOTER START -->
								<table border="0" class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														Colonne 1
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper middle">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														Colonne 2
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="four columns">
												<tr>
													<td class="text-pad">
														Colonne 3
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- FOOTER END -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>