// extends theme's variables.less file here


// Global values
// --------------------------------------------------


// Main colors
// -------------------------
@colorOrange: #f38230;


// Typography
// -------------------------
@baseFontSize:          14px;
@baseLineHeight:        18px;
@headingsColor:         @textColor;
@headingsFontWeight:    bold;


// Component sizing
// -------------------------
@headingsFontSizeH1:    46px;	// 42px
@headingsFontSizeH2:    38px;	// 34px
@headingsFontSizeH3:    30px;	// 26px
@headingsFontSizeH4:    24px;	// 20px
@headingsFontSizeH5:    20px;	// 18px
@headingsFontSizeH6:    16px;	// 14px

@fontSizeLarge:         floor(@baseFontSize * 1.30);  // ~18px
@fontSizeSmall:         ceil(@baseFontSize * 0.85);   // ~12px
@fontSizeMini:          ceil(@baseFontSize * 0.70);   // ~10px


// Grid config
// --------------------------------------------------
@columnWidth: 60px;
@gutterWidth: 0;


// Padding config
// --------------------------------------------------
@wrapperPad: 20px;
@wrapperPadCollapse: (@wrapperPad / 2);

@columnPad: @wrapperPad;
@columnPadCollapse: (@columnPad / 2);

@blockGridPad: @wrapperPad;
@blockGridPadCollapse: (@blockGridPad / 2);

@panelPad: @wrapperPad;
@panelPadCollapse: (@panelPad / 2);

@textPad: (@wrapperPad * 2);
@textPadCollapse: (@textPad / 2);