// extends theme's variables.less file here




// Typography
// -------------------------
@baseFontSize:          14px;
@baseLineHeight:        18px;
@headingsColor:         @textColor;
@headingsFontWeight:    bold;


// Grid config
// --------------------------------------------------
@columnWidth: 60px;
@gutterWidth: 0;


// Padding config
// --------------------------------------------------
@wrapperPad: 20px;
@wrapperPadCollapse: (@wrapperPad / 2);

@columnPad: @wrapperPad;
@columnPadCollapse: (@columnPad / 2);

@blockGridPad: @wrapperPad;
@blockGridPadCollapse: (@blockGridPad / 2);

@panelPad: @wrapperPad;
@panelPadCollapse: (@panelPad / 2);

@textPad: (@wrapperPad * 2);
@textPadCollapse: (@textPad / 2);