<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
								<!-- ONLINE END -->

								<!-- HEADER START -->
								<table border="0" class="row header">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a target="_blank" class="link_box" href="#">
															<img src="./theme/images/header.png" alt="Gan - InfosExpert" width="640" height="102" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

								<!-- PARTENARIAT START -->
								<table border="0" class="row contentPartenariat">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns text-pad first">
														<img src="./theme/images/filler_partenariat.gif" alt="Gan - SuiviExpertPro" width="400" height="55" />
													</td>
													<td class="four sub-columns text-pad last">
														<a target="_blank" class="link_box" href="http://www.lesechos.fr">
															<img src="./theme/images/partenariat_lep.png" alt="Gan - SuiviExpertPro" width="160" height="55" />
														</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- PARTENARIAT END -->

								<!-- CONTENTMAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-left">
																	<h1>Rêvons un peu...</h1>
																	<p>
																		Nous sommes très heureux, chez Gan assurances, de nous associer une nouvelle fois au congrès national, temps fort et événement incontournable de votre profession.
																		<br/>Toujours au plus proche du quotidien de l'entreprise et de ses dirigeants, nous sommes à vos côtés  pour vous permettre de conseiller au mieux vos clients tant pour leur protection sociale que celle de leurs salariés ainsi que pour la gestion des risques dans leurs entreprises.
																		<br/>C'est dans cette perspective de collaboration et d'écoute que nous invitons un certain nombre de vos confrères à « refaire le monde » sur le stand du Gan.
																	</p>
																	<p>
																		Interviewés par Laurent David, journaliste du Groupe Les Echos, nos invités experts-comptables nous donneront leur vision de la fiscalité idéale pour les entreprises. À l'heure des promesses de campagnes et de la surenchère de promesses de réformes fiscales, nos invités nous donneront des pistes concrètes de réforme, leurs recettes pour rendre l'entreprise plus performante et pérenne...
																		<br/>Nous serons très heureux de vous accueillir sur notre stand pour partager avec vous ces idées, assister à nos émissions TV, et échanger sur les opportunités de collaboration et de partenariat.
																	</p>
																	<p>À très bientôt</p>
																</td>
															</tr>
														</table>
													</td>
													<td class="four sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad portrait">
																	<img src="./theme/images/expert-dominique_brevet.jpg" alt="Dominique Brevet" width="160" height="160" />
																</td>
															</tr>
															<tr>
																<td class="text-pad person">
																	<strong class="name">Dominique Brevet</strong><br/>
																	<small class="function">Directeur commercial Gan Assurances</small>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTMAIN END -->

								<!-- CONTENTCONFERENCES START -->
								<table border="0" class="row contentConferences">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
														<br />
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam odio placeat saepe voluptatum. Commodi nihil tenetur, et id fuga a eos facilis distinctio corrupti dolores officiis labore assumenda pariatur quibusdam.</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTCONFERENCES END -->

								<!-- CONTENTWEBTV START -->
								<table border="0" class="row contentWebTv">
									<tr>
										<td class="wrapper first">
											<table border="0" class="nine columns">
												<tr>
													<td class="four sub-columns gan_logo first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad">
																	<img src="./theme/images/gan_logo_webtv.png" alt="Dominique Brevet" width="100" height="69" />
																</td>
															</tr>
														</table>
													</td>
													<td class="eight sub-columns gan_texte last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="text-pad-right">
																	<h2 class="title">La Web TV de l'expert</h2>
																	<h5 class="subtitle">Stand C14 (cité du Conseil)</h5>
																	<p>Assistez sur le stand Gan, le jeudi 29 et le vendredi 30 à l'interview d'une série d'experts de renom qui nous feront part de leur réformes idéales pour les entreprises et leurs dirigeants.</p>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="three columns">
												<tr>
													<td class="text-pad">
														<img src="./theme/images/expert-laurent_david.jpg" alt="Dominique Brevet" width="100" height="100" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTWEBTV END -->

								<!-- CONTENTEXPERT START -->
								<table border="0" class="row contentExpert">
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns title">
												<tr>
													<td class="text-pad center">
														<table border="0" class="subWrapper">
															<tr>
																<td class="center">
																	<h3 class="center title">Seront notamment interviewés sur notre WebTV</h3>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="wrapper first">
											<table border="0" class="twelve columns">
												<tr>
													<td class="sub-columns first">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img class="center" src="./theme/images/expert-julien_tokarz.jpg" alt="Julien Tokarz" width="96" height="128" />
																</td>
															</tr>
															<tr>
																<td class="person center">
																	<strong class="name">Julien Tokarz</strong>
																</td>
															</tr>
														</table>
													</td>
													<td class="sub-columns center-left">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img class="center" src="./theme/images/expert-charles_rene_tande.jpg" alt="Charles René Tandé" width="96" height="128" />
																</td>
															</tr>
															<tr>
																<td class="person center">
																	<strong class="name">Charles René Tandé</strong>
																</td>
															</tr>
														</table>
													</td>
													<td class="sub-columns center-real">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img class="center" src="./theme/images/expert-thierry_denjean.jpg" alt="Thierry Denjean" width="96" height="128" />
																</td>
															</tr>
															<tr>
																<td class="person center">
																	<strong class="name">Thierry Denjean</strong>
																</td>
															</tr>
														</table>
													</td>
													<td class="sub-columns center-right">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img class="center" src="./theme/images/expert-alexandra_vernier_borgaert.jpg" alt="Alexandra Vernier Borgaert" width="96" height="128" />
																</td>
															</tr>
															<tr>
																<td class="person center">
																	<strong class="name">Alexandra Vernier Borgaert</strong>
																</td>
															</tr>
														</table>
													</td>
													<td class="sub-columns last">
														<table border="0" class="subWrapper">
															<tr>
																<td class="portrait">
																	<img class="center" src="./theme/images/expert-philippe_arraou.jpg" alt="Philippe Arraou" width="96" height="128" />
																</td>
															</tr>
															<tr>
																<td class="person center">
																	<strong class="name">Philippe Arraou</strong>
																</td>
															</tr>
														</table>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENTEXPERTEND -->

								<!-- CONTENT UNSUBSCRIBE START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row contentUnsubscribe">
									<tr>
										<td class="wrapper first last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page : <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>.
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- CONTENT UNSUBSCRIBE END -->
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>