<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>

								<!--{{<gab_lien_message_online>}}-->
								<!-- ONLINE START -->
								<table border="0" class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<span class="online">EXPERT INFOS LES ECHOS - Pour visualiser ce message en ligne, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">suivez ce lien</a>.</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->
								<!--{{</gab_lien_message_online>}}-->

								<!-- HEADER START -->
								<table border="0" class="row header">
								    <tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" href="http://www.expertinfos.com">
								                            <img class="link_box center" src="./theme/images/header-newsletter.png" alt="Header Newsletter" width="720" height="96" />
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->

								<!-- CONTENT TOP START -->
								<table border="0" class="row contentTop sideBorder">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<h1>Retrouvez les cartes de voeux de votre Cabinet !</h1>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT TOP END -->

								<!-- CONTENT MAIN START -->
								<table border="0" class="row contentMain">
									<tr>
										<td class="wrapper">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad-left">
														<img src="./theme/images/cartevoeux.jpg" alt="Carte de voeux Expert Infos" width="340" height="340" />
													</td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table border="0" class="six columns">
												<tr>
													<td class="text-pad">
														<h2>Pitch commercial à définir</h2>
														<span class="text">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eos voluptate, laboriosam est nam soluta dolores laborum officia nisi perspiciatis nemo quaerat expedita libero tempore explicabo? Eveniet fuga tenetur quibusdam?
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT WEBSITE START -->
								<table border="0" class="row contentWebsite">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<a class="link_box" target="_blank" href="http://www.expertinfos.com">www.expertinfos.com</a>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT WEBSITE END -->

								<!-- FOOTER START -->
								<!--{{<gab_lien_blackliste>}}-->
								<table border="0" class="row footer">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small class="unsub">Si vous ne souhaitez plus recevoir de messages, <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">cliquez ici</a>.</small>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_blackliste>}}-->
								<!-- FOOTER END -->

							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>