<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<span class="online">
																Si vous avez des difficultés à visualiser cette lettre d'informations, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">cliquez ici</a>.
															</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
					        	<!-- ONLINE END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">
														<img src="http://lorempixel.com/120/434/city/" alt="Gan - Rendez-vous ExpertPro" width="60" height="217" />
													</td>
													<td class="six sub-columns last">
														<img src="http://lorempixel.com/720/434/city/" alt="Gan - Rendez-vous ExpertPro" width="360" height="217" />
													</td>
													<td class="five sub-columns last">
														<img src="http://lorempixel.com/600/434/city/" alt="Gan - Rendez-vous ExpertPro" width="300" height="217" />
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER END -->

					        	<!-- CONTENT MAIN START -->
								<table class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">
														<img src="http://lorempixel.com/120/434/city/" alt="Gan - Rendez-vous ExpertPro" width="60" height="217" />
													</td>
													<td class="eleven sub-columns last">
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis nostrum, natus architecto ipsa perspiciatis dolore aperiam dignissimos, nobis neque, aut deleniti beatae, placeat animi accusantium adipisci minima eum dolores?
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">
														col1
													</td>
													<td class="ten sub-columns">
														<span class="inner text-pad">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque blanditiis nostrum, natus architecto ipsa perspiciatis dolore aperiam dignissimos, nobis neque, aut deleniti beatae, placeat animi accusantium adipisci minima eum dolores?
														</span>
													</td>
													<td class="one sub-columns last">
														col3
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT LEGAL START -->
								<table class="row contentLegal">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">
														col1
													</td>
													<td class="eleven sub-columns">
														<span class="inner text-pad">
															Gan Assurances - S.A. au capital de 109 817 739 &#8364; - Entreprise régie par le Code des Assurances - <a target="_blank" href="http://maps.apple.com/?q=8%2F10+rue+d%27Astorg+-+75008+Paris">8/10 rue d'Astorg - 75008 Paris</a> - 542 063 797 RCS Paris.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT LEGAL END -->
					        </td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>