<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
    <title>Gan Assurances - Rendez-vous ExpertPro</title>
</head>
<body>
<style type="text/css" data-premailer="ignore">
/* Firefox debug */
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
						<tr>
							<td>
								<!-- ONLINE START -->
								<!--{{<gab_lien_message_online>}}-->
								<table class="row contentOnline">
									<tr>
										<td class="wrapper first">
											<table class="twelve columns">
												<tr>
													<td class="center">
														<span class="inner text-pad">
															<span class="online">
																Si vous avez des difficultés à visualiser cette lettre d'informations, <a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">cliquez ici</a>.
															</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--{{</gab_lien_message_online>}}-->
					        	<!-- ONLINE END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<a target="_blank" class="link_box" href="http://www.rdvexpertpro.fr">
															<img src="./theme/images/gan_rdvep_header.png" alt="Gan - Rendez-vous ExpertPro" width="480" height="250" />
														</a>
													</td>
													<td class="four sub-columns last">
														<a target="_blank" class="link_box" href="http://www.rdvexpertpro.fr">
															<img src="./theme/images/gan_rdvep_header-perso.jpg" alt="Gan - Rendez-vous ExpertPro" width="240" height="250" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>

					        	<!-- CONTENT MAIN START -->
								<table class="row contentMain">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">&nbsp;</td>
													<td class="eleven sub-columns last">
														<span class="inner text-pad">
															<!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="preTitle"><!--{{</html_avant>
															<defaut>}}--><b>Gan Assurances et Les Echos</b> vous invitent au Rendez-vous EXPERT PRO :<!--{{</defaut>
															<html_apres>}}--></span><!--{{</html_apres>
															</champ>}}## ##{{<champ>
															<type>text</type>
															<html_avant>}}--><h1 class="title">« <!--{{</html_avant>
															<defaut>}}-->Les nouvelles obligations<br/>du chef d'entreprise :<br/>contraintes ou opportunités ?<!--{{</defaut>
															<html_apres>}}--> »</h1><!--{{</html_apres>
															</champ>}}##}}-->

															<!--{{##{{ <bloc nom="chapeau" type="debut" /> }}##}}-->
															<!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="teaser"><!--{{</html_avant>
															<defaut>}}-->La complémentaire santé devient obligatoire dans toutes les entreprises.<!--{{</defaut>
															<html_apres>}}--></span><!--{{</html_apres>
															</champ>}}##}}-->
															<!--{{##{{ <bloc nom="chapeau" type="fin" /> }}##}}-->

															<!--{{##{{ <bloc nom="date" type="debut" /> }}##}}-->
															<!--{{##{{<champ>
															<type>text</type>
															<html_avant>}}--><span class="date"><a href="#" class="link_disabled"><!--{{</html_avant>
															<defaut>}}-->Le mardi 4 novembre de 8h30 à 10h à l'Atelier Claude Monet<!--{{</defaut>
															<html_apres>}}--></a></span><!--{{</html_apres>
															</champ>}}##}}-->
															<!--{{##{{ <bloc nom="date" type="fin" /> }}##}}-->
															
															<span class="addressWrapper">
																<span class="addressTitle">Office de Tourisme et des Congrès de Rouen</span> - <span class="address"><a target="_blank" href="http://maps.apple.com/?q=25%2C+place+de+la+cath%3Fdrale+76000+Rouen">25, place de la cathédrale 76000 Rouen</a></span>
															</span>
															<span class="breakfast">Petit déjeuner débat animé par :</span>
															<span class="orators">
																<strong>Laurent DAVID</strong>, journaliste du groupe Les Echos<br/>
																<strong>Jean-Loup CLÉMENT</strong>, expert en protection sociale Gan Assurances<br/>
																<strong>Gilles BERTRAND</strong>, expert-comptable<br/>
															</span>
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT MAIN END -->

								<!-- CONTENT BOTTOM START -->
								<table class="row contentFooter">
									<tr>
										<td class="wrapper first">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">&nbsp;</td>
													<td class="eleven sub-columns">
														<div class="rounderWrapper">
															<div class="rounder">
																<table>
																	<tr>
																		<td>
																			<span class="inner text-pad">
																				<span class="subOnline">
																					Inscrivez-vous sur <a class="online" href="http://www.rdvexpertpro.fr/component/ohanah/rouen/registration?Itemid=" target="_blank">www.rdvexpertpro.fr</a> avant le <a href="#" class="link_disabled">31 octobre 2014</a>
																				</span>
																				<span class="condition">
																					<span class="icon-rsaquo">&gt;</span>&#160;<a href="http://www.rdvexpertpro.fr/component/ohanah/rouen/registration?Itemid=" target="_blank">voir toutes les informations pratiques sur le site</a>
																				</span>
																			</span>
																		</td>
																	</tr>
																</table>
															</div>
														</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT BOTTOM END -->

								<!-- CONTENT LEGAL START -->
								<table class="row contentLegal">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="one sub-columns first">&nbsp;</td>
													<td class="eleven sub-columns">
														<span class="inner text-pad">
															Gan Assurances - S.A. au capital de 109 817 739 &#8364; - Entreprise régie par le Code des Assurances - <a target="_blank" href="http://maps.apple.com/?q=8%2F10+rue+d%27Astorg+-+75008+Paris">8/10 rue d'Astorg - 75008 Paris</a> - <a href="#" class="link_disabled">542 063 797</a> RCS Paris.
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CONTENT LEGAL END -->
					        </td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>