<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body" id="backgroundTable">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table border="0" class="container">
						<tr>
							<td>

								<!-- ONLINE START -->
								<table border="0" class="row contentOnline" nlbgcolor="##((nlCntOnlineBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad center">
														<!--{{%%{{ if isOnline=False then }}%%}}-->
														<!--{{<gab_lien_message_online>}}-->
														<span class="online">
															<small>Pour visualiser ce message en ligne, <a target="_blank" class="link_underline" href="%%{{=online_url}}%%&amp;%%{{=tracking_url}}%%"><span class="important">suivez ce lien</span></a>.</small>
														</span>
														<!--{{</gab_lien_message_online>}}-->
														<!--{{%%{{ end if }}%%}}-->
														<br/><span class="name"><strong><!--{{%%{{=civilite}}%%}}--><!--DEL{{-->civilite<!--}}DEL-->&nbsp;<!--{{%%{{=nom_client}}%%}}--><!--DEL{{-->nom_client<!--}}DEL-->, votre newsletter du <a class="link_disabled" href="#"><span class="important"><!--{{%%{{=get_date}}%%}}--><!--DEL{{-->get_date<!--}}DEL--></span></a>.</strong></span>
													</td>
													<td class="expander" nlbgcolor="##((nlCntOnlineBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					        	<!-- ONLINE END -->

								<!--{{%%{{ if logo_groupement=True then }}%%}}-->
								<!-- HEADER GROUPE START -->
								<table border="0" class="row header" nlbgcolor="##((nlBodyBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="eight sub-columns first">
														<a target="_blank" class="link_box" href="http://%%{{=url_site_exp}}%%?fintrack=&amp;%%{{=tracking_url}}%%">
															<img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-site.png" alt="Header Newsletter Site" width="480" height="96" /><!--DEL{{--><img class="center" src="http://lorempixel.com/960/192/city/" alt="NomCabinet" width="480" height="96" /><!--}}DEL-->
														</a>
													</td>
													<td class="four sub-columns last">
														<a target="_blank" class="link_box" href="http://%%{{=lien_groupement}}%%?fintrack=&amp;%%{{=tracking_url}}%%">
															<img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter-groupe.png" alt="Header Newsletter Groupe" width="240" height="96" /><!--DEL{{--><img class="center" src="http://lorempixel.com/480/192/technics/" alt="NomCabinet" width="240" height="96" /><!--}}DEL-->
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- HEADER GROUPE END -->
								<!--{{%%{{ else }}%%}}-->
								<!-- HEADER START -->
								<table border="0" class="row header" nlbgcolor="##((nlBodyBackground))##">
								    <tr>
								        <td class="wrapper last">
								            <table border="0" class="twelve columns">
								                <tr>
								                    <td class="center">
								                    	<a target="_blank" class="link_box" href="http://%%{{=url_site_exp}}%%?fintrack=&amp;%%{{=tracking_url}}%%">
								                            <img class="center" src="http://%%{{=url_site_exp}}%%/uploads/assets/header-newsletter.png" alt="Header Newsletter" width="720" height="96" /><!--DEL{{--><img class="center" src="http://ec-tenor.expert-infos.com/uploads/assets/header-newsletter.png" width="720" height="96" alt="" /><!--}}DEL-->
								                        </a>
								                    </td>
								                </tr>
								            </table>
								        </td>
								    </tr>
								</table>
								<!-- HEADER END -->
								<!--{{%%{{ end if }}%%}}-->

								<!--{{%%{{ if(texte_vacances <> "") then }}%%}}-->
								<!-- TEXTEVACANCES START -->
								<table border="0" class="row contentCabInform" nlbgcolor="##((nlCntCabBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{%%{{=texte_vacances}}%%}}--><!--DEL{{-->texte_vacances<!--}}DEL-->
													</td>
													<td class="expander" nlbgcolor="##((nlCntCabBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- TEXTEVACANCES END -->
								<!--{{%%{{ end if }}%%}}-->
								
								<!--{{%%{{
								if ((rsCount(0)>0)) then
									if not rs.eof then 
										while not (rs.eof)
								}}%%}}-->
								<!-- CABINFORM START -->
								<table border="0" class="row contentCabInform" nlbgcolor="##((nlCntCabBackground))##">
									<tr>
										<td class="wrapper last">
											<table border="0" class="twelve columns">
												<tr>
													<td class="text-pad">
														<!--{{%%{{
														lien_cab=rs("lien")
														if (lien_cab <> "") then
														}}%%}}-->
														<h2 class="title"><a target="_blank" href="%%{{=lien_cab}}%%"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></a></h2>
														<a target="_blank" class="link_box" href="%%{{=lien_cab}}%%">
															<span class="text"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></span>
															<br/><span class="readMore"><span class="icon-rsaquo">&rsaquo;</span>&#160;lire la suite</span></span>
														</a>
														<!--{{%%{{ else }}%%}}-->
														<h2 class="title"><!--{{%%{{=rs("titre")}}%%}}--><!--DEL{{-->titre<!--}}DEL--></h2>
														<span class="text"><!--{{%%{{=rs("texte")}}%%}}--><!--DEL{{-->texte<!--}}DEL--></span>
														<!--{{%%{{ end if }}%%}}-->
													</td>
													<td class="expander" nlbgcolor="##((nlCntCabBackground))##"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- CABINFORM END -->
								<!--{{%%{{
										rs.movenext
										wend
									end if
								end if
								}}%%}}-->


							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>