<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
<style type="text/css" data-premailer="ignore">
@media only screen and (max-width: 720px) {
  @-moz-document url-prefix() {
    table[class="body"] img { width: 100% !important; }
  }
}
/*DEL{{*/img[src*="%%{{"], img[src*="}}%%"], [data-type^="get"], .-premailer-hidden { display: none !important; visibility: hidden !important; }/*}}DEL*/
</style>
	<table border="0" class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<!-- Email Content -->
				</center>
			</td>
		</tr>
	</table>
</body>
</html>