<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="container">
					    <tr>
					        <td>
					        	<!-- ONLINE START -->
					        	<table class="row contentOnline">
					        		<tr>
					        			<td class="wrapper last">
					        				<table class="twelve columns">
					        					<tr>
					        						<td class="center text-pad">
														<small>
														<!--{{<gab_lien_message_online>}}-->
														<a class="link_underline" target="_blank" href="#" lien_message_online="lien_message_online">Voir le contenu de ce mail en ligne</a>
														<!--{{</gab_lien_message_online>}}-->
														</small>
					        						</td>
					        					</tr>
					        				</table>
					        			</td>
					        		</tr>
					        	</table>
					        	<!-- ONLINE END -->

					        	<!-- HEADER START -->
					        	<table class="row header">
					                <tr>
					                    <td class="logo wrapper first">
					                        <table class="six columns">
					                            <tr>
					                                <td class="text-pad">
					                                	<img src="./theme/images/logo.jpg" width="280" height="75" />
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
					                        </table>
					                    </td>
					                    <td class="tagline wrapper last">
					                        <table class="six columns">
					                            <tr>
					                                <td class="text-pad">
					                                	<h1 class="title">Le site d'information dédié aux professions libérales</h1>
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
					                        </table>
					                    </td>
					                </tr>
					            </table>
					            <!-- HEADER END -->

					            <table class="row separator">
					            	<tr>
					            		<td>
					            			<img src="./theme/images/separator.jpg" width="600" height="10" />
					            		</td>
					            	</tr>
					            </table>

					            <!-- CONTENT MAIN START -->
					            <table class="row contentMain">
					            	<tr>
					            		<td class="wrapper first bgc-lbvColorUne">
					                        <table class="six columns">
					                            <tr>
					                                <td class="text-pad contentActuMois">
					                                	<h3>L'actualité du mois</h3>
					                                	<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/actumois.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=458</lien>
														<survol></survol>
														<width>280</width>
														<height>116</height>
														<html_avant>}}--><p><!--{{</html_avant>}}-->
														<!--DEL{{--><img src="./theme/images/actumois.jpg" class="center" width="280" height="116" /><!--}}DEL-->
														<!--{{<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><img data-type="getstyle" class="center" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
														<html_avant>}}--><h2><!--{{</html_avant>
														<texte>}}-->Projet de réforme des retraites&#160;:<br/>les principaux changements<!--{{</texte>
														<html_apres>}}--></h2><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Le projet de loi garantissant l'avenir et la justice du système de retraites est actuellement en discussion au Parlement.<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            		<td class="wrapper last bgc-lbvColorDossier">
					                        <table class="six columns">
					                            <tr>
					                                <td class="text-pad contentProfession bgc-lbvColorProfession">
					                                	<h3>Le coin des professions</h3>
					                                	<ul class="unstyled">
					                                		<!--DEL{{--><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=459"><span class="title">Masseurs-kinésithérapeutes&#160;:</span> avenant à la convention nationale</a></li><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=469"><span class="title">Infirmiers&#160;:</span> Dépassements d'honoraires</a></li><li><i class="puce"></i> <a target="_blank" href="http://www.liberaletvous.fr/actualite.php?id=436"><span class="title">Avocats&#160;:</span> dématérialisation des procédures</a></li><!--}}DEL-->
					                                		<!--{{##{{ <bloc nom="professions" type="debut" /> }}##}}-->
					                                		<li>
					                                			<!--{{##{{<champ>
																<type>lien</type>
																<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
																<html_avant>}}--><i class="puce"></i> <!--{{</html_avant>
																<html_interieur_avant>}}--><span class="title"><!--{{</html_interieur_avant>
																<texte>}}-->Titre profession<!--{{</texte>
																<html_interieur_apres>}}-->&#160;:</span><!--{{</html_interieur_apres>
																<params>
																}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																</params>
																</champ>}}## ##{{<champ>
																<type>lien</type>
																<href>http://www.liberaletvous.fr/actualite.php?id=458</href>
																<html_avant>}}--> <!--{{</html_avant>
																<texte>}}-->sous-titre<!--{{</texte>
																<params>
																}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
																</params>
																</champ>}}##}}-->
					                                		</li>
					                                		<!--{{##{{ <bloc nom="professions" type="fin" /> }}##}}-->
					                                	</ul>
					                                	<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualites.php</href>
														<html_interieur_avant>}}--><small><!--{{</html_interieur_avant>
														<texte>}}-->Tous les articles<!--{{</texte>
														<html_interieur_apres>}}--></small><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
					                            <tr>
					                                <td class="text-pad contentDossier">
					                                	<h3>Dossier</h3>
					                                	<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/le-cesu-53.html</href>
														<html_avant>}}--><h2><!--{{</html_avant>
														<texte>}}-->Recruter un salarié<!--{{</texte>
														<html_apres>}}--></h2><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/le-cesu-53.html</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Si votre activité se développe, vous pouvez être amené à embaucher un ou plusieurs salariés...<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/fiscalite/</href>
														<html_interieur_avant>}}--><small><!--{{</html_interieur_avant>
														<texte>}}-->Tous les dossiers<!--{{</texte>
														<html_interieur_apres>}}--></small><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- CONTENT MAIN END -->

					            <!-- CONTENT SECONDARY START -->
					            <table class="row contentSecondary">
					            	<tr>
					            		<td class="wrapper first bgc-lbvColorQuiz">
					                        <table class="six columns contentQuiz">
					                            <tr>
					                                <td class="text-pad">
					                                	<h3>Quiz</h3>
					                                	<!--{{##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/simulateur-auto.php</href>
														<html_avant>}}--><img src="./theme/images/quiz.jpg" class="hide-for-small" width="60" height="80" /><h2><!--{{</html_avant>
														<texte>}}-->Quel outil incontournable est-il préférable d'utiliser pour calculer son besoin de financement&#160;?<!--{{</texte>
														<html_apres>}}--></h2><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            		<td class="wrapper last bgc-lbvColorOffre">
					                        <table class="six columns">
					                            <tr>
					                                <td class="text-pad contentOffre">
					                                	<h3>L'offre du mois</h3>
					                                	<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/offre.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</lien>
														<survol></survol>
														<width>80</width>
														<height>70</height>}}-->
														<!--DEL{{--><img src="./theme/images/offre.jpg" class="hide-for-small" width="80" height="70" /><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" class="hide-for-small" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</href>
														<html_avant>}}--><h2><!--{{</html_avant>
														<texte>}}-->Le prêt atout liberal<!--{{</texte>
														<html_apres>}}--></h2><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/offres/gestion-bancaire-offre-aux-professions-liberales-57.html</href>
														<html_avant>}}--><p><!--{{</html_avant>
														<texte>}}-->Pour le financement de votre activité, l'acquisition de votre matériel ou l'aménagement de vos locaux, découvrez le Prêt Atout Libéral.<!--{{</texte>
														<html_apres>}}--></p><!--{{</html_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					                                </td>
					                                <td class="expander"></td>
					                            </tr>
											</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- CONTENT SECONDARY END -->

					            <!-- CONTENT BOTTOM START -->
					            <table class="row bgc-lbvColorActus">
					            	<tr>
					            		<td class="wrapper last">
					            			<table class="twelve columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<h3>Les autres actualités</h3>
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>

					            <!--{{##{{ <bloc nom="actualites" type="debut" /> }}##}}-->
					            <table class="row contentBottom bgc-lbvColorActus">
					            	<tr>
					            		<td class="wrapper first">
					            			<table class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/actu01.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=440</lien>
														<survol></survol>
														<width>150</width>
														<height>62</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/actu01.jpg" width="150" height="62" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=440</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Réforme des stages en entreprise&#160;: limiter les abus<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            		<td class="wrapper">
					            			<table class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/actu02.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=454</lien>
														<survol></survol>
														<width>150</width>
														<height>62</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/actu02.jpg" width="150" height="62" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=454</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Contrat de travail à temps partiel&#160;: à modifier par écrit&#160;!<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            		<td class="wrapper last">
					            			<table class="four columns">
					            				<tr>
					            					<td class="text-pad contentActus">
					            						<!--{{##{{<champ>
														<type>image</type>
														<src>
														}}--><a data-type="gethref" href="./theme/images/actu03.jpg"><!--gethref--></a><!--{{
														</src>
														<lien>http://www.liberaletvous.fr/actualite.php?id=437</lien>
														<survol></survol>
														<width>150</width>
														<height>62</height>}}-->
														<!--DEL{{--><p><img src="./theme/images/actu03.jpg" width="150" height="62" /></p><!--}}DEL-->
														<!--{{<params>
														}}--><img data-type="getstyle" /><!--getstyle--><!--{{
														</params>
														</champ>}}## ##{{<champ>
														<type>lien</type>
														<href>http://www.liberaletvous.fr/actualite.php?id=437</href>
														<html_interieur_avant>}}--><h4><i class="puce"></i> <!--{{</html_interieur_avant>
														<texte>}}-->Taxe d'habitation&#160;: quelles sont les dates limites de paiement&#160;?<!--{{</texte>
														<html_interieur_apres>}}--></h4><!--{{</html_interieur_apres>
														<params>
														}}--><a data-type="getstyle"><!--getstyle--></a><!--{{
														</params>
														</champ>}}##}}-->
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>
					            <!--{{##{{ <bloc nom="actualites" type="fin" /> }}##}}-->
					            <!-- CONTENT BOTTOM END -->

								<!-- FOOTER START -->
					            <table class="row contentFooter bgc-lbvColorFooter">
					            	<tr>
					            		<td class="wrapper last">
					            			<table class="twelve columns">
					            				<tr>
					            					<td class="center text-pad">
					            						Créée à l'initiative de la Banque Populaire, en collaboration avec Les&#160;Echos.
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>
					            <!-- FOOTER END -->

					            <!-- LEGAL START -->
					            <table class="row contentLegal">
					            	<tr>
					            		<td class="wrapper last">
					            			<table class="twelve columns">
					            				<tr>
					            					<td class="text-pad">
					            						<small>Liberaletvous.fr - BPCE ; 50, avenue Pierre Mendès France - 75013 Paris. <a class="link_underline" target="_blank" href="http://www.liberaletvous.fr">http://www.liberaletvous.fr</a>.<br/>
					            						Publication de la Banque Populaire. Destinataires&#160;: Professions libérales. Directeur de la publication&#160;: François Pérol, président du directoire de BPCE. Directeur de la rédaction&#160;: Les Echos Publishing. Rédaction en chef&#160;: P. De Meyer. Comité de rédaction&#160;: F.Counil, P. De Meyer, D. Giraud, R. Andriamisaina - Réalisation&#160;: Les&#160;Echos.</small>
					            					</td>
					            				</tr>
					            			</table>
					            		</td>
					            	</tr>
					            </table>

					            <!-- UNSUBSCRIBE START -->
								<table class="row contentUnsub">
									<tr>
										<td class="wrapper last">
											<table class="twelve columns">
												<tr>
													<td class="center text-pad">
														<small>
														<!--{{<gab_lien_blackliste>}}-->
														Si vous ne souhaitez plus recevoir cette newsletter, veuillez accéder à la page&#160;: <a class="link_underline" target="_blank" href="#" lien_blackliste="lien_blackliste">Désinscription</a>
														<!--{{</gab_lien_blackliste>}}-->
														</small>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
					            <!-- UNSUBSCRIBE END -->
					        </td>
					    </tr>
					</table>

				</center>
			</td>
		</tr>
	</table>
</body>
</html>