<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="theme/css/style.css">
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>

					<table class="container">
					    <tr>
					        <td>
					        	<table class="row">
					                <tr>
					                    <td class="test1 wrapper first">
					                        <table class="six columns">
					                            <tr>
					                                <td>

					                                    Eight Columns

					                                </td>
					                                <td class="expander">&#160;</td>
					                            </tr>
					                        </table>
					                    </td>
					                    <td class="test2 wrapper last">
					                        <table class="six columns">
					                            <tr>
					                                <td>

					                                    Four Columns

					                                </td>
					                                <td class="expander">&#160;</td>
					                            </tr>
					                        </table>
					                    </td>
					                </tr>
					            </table>

					        </td>
					    </tr>
					</table>

					<!-- <table class="container">
						<tr>
							<td>
								<table class="row header">
									<tr>
										<td class="wrapper">
											<table class="logo six columns">
												<tr>
													<td>
														<img src="http://placehold.it/320x75" />
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
										<td class="wrapper last">
											<table class="tagline six columns">
												<tr>
													<td>
														<span class="template-label">Le site d'information dédié aux professions libérales</span>
													</td>
													<td class="expander"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table> -->

						

					<!-- HEADER START -->
					<!-- <table class="row header">
						<tr>
							<td class="center" align="center">
								<center>
									<table class="container">
										<tr>
											<td class="wrapper last">
												<table class="twelve columns">
													<tr>
														<td class="logo six sub-columns">
															<img src="http://placehold.it/320x75" />
														</td>
														<td class="tagline six sub-columns last">
															<span class="template-label">Le site d'information dédié aux professions libérales</span>
														</td>
														<td class="expander"></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
					</table> -->
					<!-- HEADER END -->

				</center>
			</td>
		</tr>
	</table>
</body>
</html>